{% block captcha_widget %}
    {% spaceless %}
        <div class="img-block">
            <img src="{{ captcha_code }}" alt="" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />
        </div>
        <div class="cod">
            {{ form_widget(form, {'attr': {"class" : "input-cod"}}) }}
            {% for key, error in form.vars.errors.form.getErrors(true)%}
                <span class="prompt">{{ error.message }}</span>
            {% endfor %}
        </div>

    {% endspaceless %}
{% endblock %}