{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/catalog/auto/turbo/choice-spare-part.css'>
{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}
    <main class="container">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="{{ homepageTitle }}" itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("turbo_catalog_choice_brand") }}" itemprop="item" title="{{ choiceBrandTitle }}"><span class="line">/</span><span itemprop="name">Поиск</span>
                    <meta itemprop="position" content="2">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("turbo_catalog_choice_model", {"urlBrand" : brand.url}) }}" itemprop="item" title="{{ choiceModelTitle }}"><span class="line">/</span><span itemprop="name">{{ brand.brandEn }}</span>
                    <meta itemprop="position" content="3">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("turbo_catalog_choice_spare_part", {"urlBrand" : brand.url, "urlModel" : model.url}) }}" itemprop="item" title="{{ choiceSparePartTitle }}"><span class="line">/</span><span itemprop="name">{{ model.modelEn }}</span>
                    <meta itemprop="position" content="4">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" nohref itemprop="item"><span class="line">/</span><span itemprop="name">{{ sparePart.alternativeName5 }}</span>
                    <meta itemprop="position" content="5">
                </a>
            </li>
        </ul>

        <section class="brand">
            <h1 class="brand-title" data-text="{{ page.headline1 }}"></h1>
      
            <div class="text-block">
                <div id='text1' class='text1Hide'>{{ page.text1 | raw }}</div>
            </div>

            <ul class="brand-block">
                {% for city in capitals %}
                    <li>
                        <a class="link" href="{{ path("turbo_catalog_in_stock", routeParams|merge({"urlCity" : city.url})) }}">{{ city.name }}</a>
                    </li>
                {% endfor %}
                {% for city in otherCities %}
                    <li>
                        <a class="link" href="{{ path("turbo_catalog_in_stock", routeParams|merge({"urlCity" : city.url})) }}">{{ city.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <a class="button" href="{{ path("turbo_catalog_in_stock", routeParams|merge({"urlCity" : constant('App\\Entity\\City::ALL_CITIES')})) }}">Все Города</a>

            <h2 class="turbo-subtitle" data-text="{{ page.headline2 }}"></h2>
            <a class="img-r" href="{{ path("show_spare_part_catalog_choice_city", routeParams) }}">
                        <img src="{{ image_url(sparePart.thumbnailLogo) }}" alt="{{ sparePart.alternativeName5 }}" title="{{ sparePart.alternativeName5 }} для {{ brand.brandEn }} {{ model.modelEn }}">
                    </a>
            <div class="subtext">{{ page.text2 | raw }}</div>
        </section>
    </main>
{% endblock %}