{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/catalog/auto/brand/choice-city.css'>
    <link rel='stylesheet' href='/css/catalog/auto/brand/integration.css'>
{% endblock %}

{% block body %}
    {% set nextPath = "show_brand_catalog_in_stock" %}
    {% set routeParams = app.request.attributes.get('_route_params') %}
    <main class="container" ng-init="showAll = false">
    <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="{{ title_provider("App\\Entity\\General\\MainPage") }}" itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="12px" height="12px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_brand_catalog_choice_brand") }}" itemprop="item" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceBrand", parameters) }}"><span class="line">/</span><span itemprop="name">Каталог</span></a><meta itemprop="position" content="2">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_brand_catalog_choice_model", {"urlBrand" : brand.url}) }}" itemprop="item" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceModel", parameters) }}"><span class="line">/</span><span itemprop="name">{{ brand.brandEn }}</span><meta itemprop="position" content="3"></a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_brand_catalog_choice_spare_part", {"urlBrand" : brand.url, "urlModel" : model.url}) }}"itemprop="item" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceSparePart", parameters) }}"><span class="line">/</span><span itemprop="name">{{ model.modelEn }}</span><meta itemprop="position" content="4"></a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" nohref itemprop="item"><span class="line">/</span> <span itemprop="name">{{ sparePart.alternativeName5 }}</span><meta itemprop="position" content="5"></a>
            </li>
        </ul>

        <section class="delivery">
            <h1 class="delivery-title">{{ page.headline1 }}</h1>
            <div class="delivery-dsc">
                <div id='text1' class='text1Hide'>{{ page.text1 | raw }}</div>
                <span onclick='text1ShowHide()' id='allText'> >>>>>>> </span>
            </div>
            <div class="delivery-city">
                {% set allCitiesPath = constant('App\\Entity\\City::ALL_CITIES') %}
                {% for city in regionalCities %}
                    {% set openClass = loop.index0 % 4 == 0 ? "block1" : (loop.index0 + 2) % 4 == 0 ? "block2" : "" %}
                    {% if openClass %}
                        <ul class="city {{ openClass }}">
                    {% endif %}
                            <li><a href="{{ path("show_brand_catalog_in_stock", {"urlCity" : city.url}|merge(routeParams)) }}" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceInStock", parameters|merge({"city" : city})) }}">{{ city.name }}</a></li>
                    {% if loop.index % 2 == 0 %}
                        </ul>
                    {% endif %}
                {% endfor %}

                {% for city in otherCities %}
                    {% set openClass = loop.index0 % 4 == 0 ? "block1" : (loop.index0 + 2) % 4 == 0 ? "block2" : "" %}
                    {% if openClass %}
                        <ul class="city {{ openClass }}" ng-show="showAll">
                    {% endif %}
                            <li><a href="{{ path("show_brand_catalog_in_stock", {"urlCity" : city.url}|merge(routeParams)) }}" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceInStock", parameters|merge({"city" : city})) }}">{{ city.name }}</a></li>
                    {% if loop.index % 2 == 0 %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
            <div ng-click="showAll = true" ng-hide="showAll" id='showAll5' class="initiator-scroll">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</div>
            <div class="city-btn">
                <a class="button" href="{{ path("show_brand_catalog_in_stock", {"urlCity" : allCitiesPath}|merge(routeParams)) }}" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceInStock", parameters) }}">Все Города</a>
            </div>

            {% include('/client/catalog/show-adverts/show-specific-adverts.html.twig') with {"adverts" : specificAdverts, "titleTemplate" : "[ZAP3] для [BRAND] [MODEL]", "templateParameters" : parameters} %}
            {% include('/client/catalog/show-adverts/show-general-adverts.html.twig') with {"adverts" : generalAdverts, "titleTemplate" : "[ZAP3] для [BRAND] [MODEL]", "templateParameters" : parameters} %}

            {% set hasOurAdverts = specificAdverts | length > 0 or generalAdverts | length > 0 %}
            {% set hasBamberAdverts = bamberSuggestions | length > 0 %}

            {% include('/client/catalog/show-adverts/show-bamper-adverts.html.twig') with {"adverts" : bamberSuggestions, "hasOurAdverts" : hasOurAdverts} %}
            {% if not hasOurAdverts and not hasBamberAdverts %}
                <div class="delivery-admin">
                    <div class="admin-text">{{ page.text3 | raw }}</div>
                </div>
            {% endif %}
            <ul class="delivery-img">
                <li>
                    <a href="{{ path("show_brand_catalog_choice_brand") }}">
                        <img class="img-small" src="{{ image_url(brand.logo, "brand") }}" alt="{{ brand.brandRu }}" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceBrand", parameters) }}">
                    </a>
                </li>
                <li>
                    <a href="{{ path("show_brand_catalog_choice_model", {"urlBrand" : brand.url}) }}">
                        <img class="img-big" src="{{ image_url(model.logo, "model") }}" alt="{{ model.modelRu }}" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceModel", parameters) }}">
                    </a>
                </li>
                <li>
                    <a href="{{ path("show_brand_catalog_choice_spare_part", {"urlBrand" : brand.url, "urlModel" : model.url}) }}">
                        <img class="img-big" src="{{ image_url(sparePart.logo, "spare_part") }}" alt="{{ sparePart.alternativeName1 }}" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceSparePart", parameters) }}">
                    </a>
                </li>
                <li>
                    {% set toyotaRus = get_object("App\\Entity\\Brand", "findOneBy", {"url" : "toyota_rus"}) %}
                    {% set lastLinkParameters = {"model" : model, "sparePart" : sparePart} %}
                    {% set lastLinkParameters = toyotaRus ? lastLinkParameters|merge({"brand": toyotaRus}) : lastLinkParameters %}
                    <a href="{{ path("show_brand_catalog_choice_model", {"urlBrand" : "toyota_rus"}) }}">
                        <img class="img-small" src="{{ image_url(default_image(27).image) }}" alt="Город" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceModel", lastLinkParameters) }}">
                    </a>
                </li>
            </ul>
            <h2 class="delivery-subtitle">{{ page.headline2 }}</h2>
            <div class="delivery-text">{{ page.text2 | raw }}</div>
        </section>
    </main>

    {% include('/client/catalog/show-adverts/advert-modals.html.twig') with {} %}
{% endblock %}

{% block javascripts %}
    <script src="/js/client/controller/catalog/integration-ads-controller.js"></script>
    <script src="/js/client/pages/catalog/seller-advert-actions.js"></script>
{% endblock %}