{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/catalog/auto/brand/choice-spare-part.css'>
{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}
    <main class="container" ng-init="showAll = false">
      <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="{{ title_provider("App\\Entity\\General\\MainPage") }}" itemprop="item">
            <span class="user-name" itemprop="name">Главная</span>
            <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
              <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
              <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
            </svg>
            <meta itemprop="position" content="1">
          </a>
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a class="link-b" href="{{ path("show_brand_catalog_choice_brand") }}" itemprop="item" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceBrand", parameters) }}"><span class="line">/</span><span itemprop="name">Каталог</span></a><meta itemprop="position" content="2">
        </li>

        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a class="link-b" href="{{ path("show_brand_catalog_choice_model", {"urlBrand" : brand.url}) }}" itemprop="item" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceModel", parameters) }}"><span class="line">/</span><span itemprop="name">{{ brand.brandEn }}</span></a><meta itemprop="position" content="3">
        </li>

       
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a class="current" href="{{ path("show_brand_catalog_choice_spare_part", {"urlBrand" : brand.url, "urlModel" : model.url}) }}" itemprop="item"><span class="line">/</span><span itemprop="name">{{ model.modelEn }}</span><meta itemprop="position" content="4"></a>
        </li>
      </ul>

        <section class="mod">
            <h1 class="mod-title">{{ page.headline1 }}</h1>
            <div class="mod-text">
                {{ page.text1 | raw }}
            </div>

            <form class='modform' action="#" method="get" scroll-to-element scroll-by-click="true" initiator=".initiator-scroll">
                <input id="spare-part-autocomplete" class="form7" type="search"
                       auto-сomplete-autoparus add-url="{{ path("show_brand_catalog_choice_spare_part", routeParams) }}"
                       method-search="searchSpareParts" identifier-field="spare-part-autocomplete"
                       name="search" placeholder="Наименование запчасти:"
                       scroll-to-element scroll-by-click="true" before-top="30">
            </form>
            <ul class='showMoreModel' id='brandImg5' ng-hide="showAll">
                {% for sparePart in popularSpareParts %}
                    <li>
                        <a class="mod-link " href="{{ path("show_brand_catalog_choice_city", {"urlSP" : sparePart.url}|merge(routeParams)) }}">
                            <span>{{ sparePart.name|replace({"(" : "<br />("})|raw  }}</span>
                            <img src="{{ image_url(sparePart.thumbnailLogo, "spare_part") }}" alt="{{ sparePart.alternativeName1 }}" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceCity", parameters|merge({"sparePart" : sparePart})) }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <ul class='showMoreModel' id='brandImg5' ng-show="showAll">
                {% for sparePart in allSpareParts %}
                    <li>
                        <a class="mod-link " href="{{ path("show_brand_catalog_choice_city", {"urlSP" : sparePart.url}|merge(routeParams)) }}">
                            <span>{{ sparePart.name|replace({"(" : "<br />("})|raw  }}</span>
                            <img src="{{ image_url(sparePart.thumbnailLogo, "spare_part") }}" alt="{{ sparePart.alternativeName1 }}" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceCity", parameters|merge({"sparePart" : sparePart})) }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div ng-click="showAll = true" ng-hide="showAll" id='showAll5' class="initiator-scroll">&gt;&gt;&gt;<span> Показать все запчасти </span> &gt;&gt;&gt;</div>
            <div ng-click="showAll = false" ng-show="showAll" id='showAll5' class="initiator-scroll">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</div>
            <h2 class='mod-subtitle'>{{ page.headline2 }}</h2>

            <div class='mod-text-b'>{{ page.text2 | raw }}</div>
        </section>
    </main>
{% endblock %}