
{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
<link rel='stylesheet' href='/bower-components/owl.carousel/dist/assets/owl.carousel.min.css'>
    <link rel='stylesheet' href='/bower-components/owl.carousel/dist/assets/owl.theme.default.min.css'>
    <link rel='stylesheet' href='/css/catalog/auto/brand/choice-model.css'>
{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}
    <main class="container" ng-init="showAll = false">

    <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="{{ title_provider("App\\Entity\\General\\MainPage") }}" itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_brand_catalog_choice_brand") }}" itemprop="item" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceBrand", parameters) }}"><span class="line">/</span><span itemprop="name">Каталог</span></a><meta itemprop="position" content="2"></li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" nohref itemprop="item"><span class="line">/</span><span itemprop="name">{{ brand.brandEn }}</span><meta itemprop="position" content="3"></a>
            </li>
        </ul>

        <section class="model-block">

         {{ render(path('show_article_header_slider')) }}

            <h1 class="model-title">{{ page.headline1 }}</h1>
            <div class=model-text>
                <p id='text1' class='text1Hide'>{{ page.text1 | raw }}</p>
            </div>

            
                <form class='modform' action="#" method="get" scroll-to-element scroll-by-click="true" initiator=".initiator-scroll">
                    <input id="model-autocomplete" class='form7' name="search"
                           auto-сomplete-autoparus add-url="{{ path(app.request.attributes.get('_route'), routeParams) }}"
                           method-search="searchModels" identifier-field="model-autocomplete"
                           request-parameters='{"brand": "{{ brand.url }}"}'
                           placeholder="Модель авто:" type="search"
                           scroll-to-element scroll-by-click="true" before-top="30">
                </form>
            

            <ul class='showMoreModel' id='brandImg5' ng-show="showAll">
                {% for model in allModels %}
                    <li>
                        <a class="mod-link  {{ loop.first ? "mod-link-line" : "" }}" href="{{ path("show_brand_catalog_choice_spare_part", {"urlModel" : model.url}|merge(routeParams)) }}">
                            <span>{{ model.name }}<br>{{ model.modelRu }}</span>
                            <img src="{{ image_url(model.thumbnailLogo, "model") }}" alt="{{ model.name }}" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceSparePart", parameters|merge({"model" : model})) }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <ul class='showMoreModel' id='brandImg5' ng-hide="showAll">
                {% for model in popularModels %}
                    <li>
                        <a class="mod-link {{ loop.first ? "mod-link-line" : "" }}" href="{{ path("show_brand_catalog_choice_spare_part", {"urlModel" : model.url}|merge(routeParams)) }}">
                            <span>{{ model.name }}<br>{{ model.modelRu }}</span>
                            <img src="{{ image_url(model.thumbnailLogo, "model") }}" alt="{{ model.name }}" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceSparePart", parameters|merge({"model" : model})) }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>


            <div ng-click="showAll = true" ng-hide="showAll" id='showAll5' class="initiator-scroll">&gt;&gt;&gt;<span> Показать все модели </span>&gt;&gt;&gt;</div>
            <div ng-click="showAll = false" ng-show="showAll" id='showAll5' class="initiator-scroll">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</div>
            <div class='mod-avto-btn'>
                <a href="{{ page.returnButtonLink }}" class="mod-avto">{{ page.returnButtonText }}</a>
            </div>

<div class="article-wrapper">
        <div class="article">
            {% for articleArray in articles|slice(0, (is_mobile() ? 3 : 7)) if articleArray.object.detail.themes | length > 0 %}
                {% set article = articleArray.object %}
                <a href="{{ path("article_catalog_show_article", {"id" : article.id}) }}" class="article-link--n">
                    <h2 class="article-title add-three-dots-2-lines"><span>{{ article.headline1 }}</span></h2>
                    <div class="article-foto">
                        <img src="{{ image_url(article.mainArticleImage.imageThumbnail) }}" alt="Картинка">
                        <div class="article-block--n">
                            <span class="article-date">{{ article.updatedAt | date("d.m.Y") }}</span>
                            <span class="article-time">{{ article.updatedAt | date("H:i") }}</span>
                        </div>
                    </div>

                    <h3 class="article-subtitle add-three-dots-3-lines">{{ article.headline2 }}</h3>
                </a>
            {% endfor %}
        </div>
        <a href="/stati/news" class="art-link">&gt;&gt;&gt;<span> Показать все новости </span>&gt;&gt;&gt;</a>
        </div>

            <h2 class='model-subtitle'>{{ page.headline2 }}</h2>

            <div class='subtext'>{{ page.text2 | raw }}</div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src='/bower-components/owl.carousel/dist/owl.carousel.min.js'></script>
{% endblock %}