{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/style-new.css'>
    <link rel='stylesheet' href='/css/catalog.css'>
{% endblock %}

{% block body %}
    <article id='cContent' ng-init="showAll = false;">

        <h1>{{ page.headline1 }}</h1>

        <div id=firstText>
            {{ page.text1 | raw }}
        </div>

        <div id='brandSelect'>
            <span>Марка (Brand):</span>
            <select>
                {% for brand in allBrands %}
                    <option>{{ brand.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class='showMoreBrands' ng-hide="showAll">
            {% for brand in popularBrands%}
                <img style="width: 100px; height: 100px; margin-right: 10px; margin-top: 10px;" src="{{ image_url(brand.logo) }}"/>
            {% endfor %}
        </div>

        <div class='showMoreBrands' ng-show="showAll">
            {% for brand in allBrands%}
                <img style="width: 100px; height: 100px; margin-right: 10px; margin-top: 10px;" src="{{ image_url(brand.logo) }}"/>
            {% endfor %}
        </div>

        <div class="show-all" ng-click="showAll = true" ng-hide="showAll">Показать все &gt;&gt;&gt;</div>
        <div class="show-all" ng-click="showAll = false" ng-show="showAll">&lt;&lt;&lt; Скрыть</div>

        <h2>{{ page.headline2 }}</h2>

        <div id='secondText'>
            {{ page.text2 | raw }}
        </div>
        <br/><br/><br/><br/>

    </article>
{% endblock %}