{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/catalog/auto/brand/only-in-stock.css'>
    <link rel='stylesheet' href='/css/catalog/auto/brand/integration.css'>
{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}
    <main class="container">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="{{ title_provider("App\\Entity\\General\\MainPage") }}" itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="12px" height="12px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_brand_catalog_choice_brand") }}" itemprop="item" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceBrand", parameters) }}"><span class="line">/</span><span itemprop="name">Каталог</span></a><meta itemprop="position" content="2">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_brand_catalog_choice_model", {"urlBrand" : brand.url}) }}" itemprop="item" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceModel", parameters) }}"><span class="line">/</span><span itemprop="name">{{ brand.brandEn }}</span><meta itemprop="position" content="3"></a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_brand_catalog_choice_spare_part", {"urlBrand" : brand.url, "urlModel" : model.url}) }}"itemprop="item" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceSparePart", parameters) }}"><span class="line">/</span><span itemprop="name">{{ model.modelEn }}</span><meta itemprop="position" content="4"></a>
            </li>

            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_brand_catalog_choice_city", {"urlBrand" : brand.url, "urlModel" : model.url, "urlSP" : sparePart.url}) }}" itemprop="item" title="{{ title_provider("App\\Entity\\Catalog\\Brand\\CatalogBrandChoiceCity", parameters) }}"><span class="line">/</span><span itemprop="name">{{ sparePart.alternativeName5 }}</span><meta itemprop="position" content="5"></a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" nohref itemprop="item"><span class="line">/</span><span itemprop="name">{{ city ? city.name : "Все города" }}</span><meta itemprop="position" content="6"></a>
            </li>
        </ul>

        <section class="delivery">
            <h1 class="delivery-title">{{ page.headline1 }}</h1>
            <div class="delivery-dsc">
                <div id='text1' class='text1Hide'>{{ page.text1 | raw }}</div>
                <span onclick='text1ShowHide()' id='allText'> >>>>>>> </span>
            </div>
            <div class="delivery-on">
                <a href={{ path("show_brand_catalog_final_page", routeParams) }}>Только в наличии!</a>
            </div>

            {% include('/client/catalog/show-adverts/show-specific-adverts.html.twig') with {"adverts" : specificAdverts, "titleTemplate" : "[ZAP4] для [ENBRAND] [ENMODEL], [CITY]", "templateParameters" : parameters} %}
            {% include('/client/catalog/show-adverts/show-general-adverts.html.twig') with {"adverts" : generalAdverts, "titleTemplate" : "[ZAP4] для [ENBRAND] [ENMODEL], [CITY]", "templateParameters" : parameters} %}


            {% set hasOurAdverts = specificAdverts | length > 0 or generalAdverts | length > 0 %}
            {% set hasBamberAdverts = bamberSuggestions | length > 0 %}

            {% if not city or city.url == constant('App\\Entity\\City::CAPITAL') %}
                {% include('/client/catalog/show-adverts/show-bamper-adverts.html.twig') with {"adverts" : bamberSuggestions, "hasOurAdverts" : hasOurAdverts, "parameters" : parameters} %}
            {% else %}
                {% set params = routeParams|merge({'urlCity': constant('App\\Entity\\City::ALL_CITIES')}) %}
                <a href="{{ path("show_spare_part_catalog_in_stock", params) }}" style="display: contents;"><button class="arrows-btn">Смотреть по всем городам</button></a>
            {% endif %}

            {% if not hasOurAdverts and not hasBamberAdverts %}
                <div class="delivery-admin">
                    <div class="admin-text">{{ page.text3 | raw }}</div>
                </div>
            {% endif %}

            <ul class="delivery-img">
                <li><a href="{{ path("show_brand_catalog_choice_brand") }}"><img class="img-small" src="{{ image_url(brand.logo, "brand") }}" alt="{{ brand.brandEn }}" title="Автозапчасти для {{ brand.brandEn }}"></a></li>
                <li><a href="{{ path("show_brand_catalog_choice_model", {"urlBrand" : brand.url}) }}"><img class="img-big" src="{{ image_url(model.logo, "model") }}" alt="{{ model.modelEn }}" title="Запчасти для {{ brand.brandEn }} {{ model.modelEn }}"></a></li>
                <li><a href="{{ path("show_brand_catalog_choice_spare_part", {"urlBrand" : brand.url, "urlModel" : model.url}) }}"><img class="img-big" src="{{ image_url(sparePart.logo, "spare_part") }}" alt="{{ sparePart.alternativeName1 }}" title="{{ sparePart.alternativeName1 }} к {{ brand.brandEn }} {{ model.modelEn }}"></a></li>
                <li><a href="{{ path("show_brand_catalog_choice_city", {"urlBrand" : brand.url, "urlModel" : model.url, "urlSP" : sparePart.url}) }}"><img class="img-small" src="{{ city ? image_url(city.logo) : image_url(default_image(27).image) }}" alt="{{ city ? city.name : "Город" }}" title="{{ sparePart.alternativeName3 }} к {{ brand.brandEn }} {{ model.modelEn }} {{ city ? "в " ~ city.prepositional : "во всех городах" }}"></a></li>
            </ul>
            <h2 class="delivery-subtitle">{{ page.headline2 }}</h2>
            <div class="delivery-text">{{ page.text2 | raw }}</div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="/js/client/controller/catalog/integration-ads-controller.js"></script>
{% endblock %}