{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link type='text/css' rel='stylesheet' href='css/catalog.css'>
{% endblock %}

{% block body %}
    <article id='cContent'>

        <h1>Заголовок H1 из админки</h1>

        <div id=firstText>
            <p>текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, </p>
        </div>

        <div id='brandSelect'>
            <span>Марка (Brand):</span>
            <select>
                {% for brand in brands %}
                    <option>{{ brand.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class='showLess' id='brandImg'>
            {% for brand in brands%}
                <div>
                    <img style="width: 100px; height: 100px" src="{{ image_url(brand.logo) }}"/>
                </div>
            {% endfor %}
            {% for brand in brands%}
                <div>
                    <img style="width: 100px; height: 100px" src="{{ image_url(brand.logo) }}"/>
                </div>
            {% endfor %}
            {% for brand in brands%}
                <div>
                    <img style="width: 100px; height: 100px" src="{{ image_url(brand.logo) }}"/>
                </div>
            {% endfor %}
            {% for brand in brands%}
                <div>
                    <img style="width: 100px; height: 100px" src="{{ image_url(brand.logo) }}"/>
                </div>
            {% endfor %}
        </div>

        <div onclick='toggleShow()' id='showAll'>Показать все &gt;&gt;&gt;</div>

        <h2>Заголовок H2 из админки</h2>

        <div id='secondText'>
            <p>текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, </p>
        </div>
        <br/><br/><br/><br/>

    </article>
{% endblock %}