{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link type='text/css' rel='stylesheet' href='css/catalog.css'>
{% endblock %}

{% block body %}
    <article id='cContent'>

        <h1>{{ page.headline1 }}</h1>

        <div id=firstText>
            {{ page.text1 | raw }}
        </div>

        <div id='brandSelect'>
            <span>Марка (Brand):</span>
            <select>
                {% for brand in brands %}
                    <option>{{ brand.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class='showLess' id='brandImg'>
            {% for brand in brands%}
                <div>
                    <img style="width: 100px; height: 100px" src="{{ image_url(brand.logo) }}"/>
                </div>
            {% endfor %}
        </div>

        <div onclick='toggleShow()' id='showAll'>Показать все &gt;&gt;&gt;</div>

        <h2>{{ page.headline2 }}</h2>

        <div id='secondText'>
            {{ page.text2 | raw }}
        </div>
        <br/><br/><br/><br/>

    </article>
{% endblock %}