<main class="container" ng-controller="IntegrationAdsCtrl as integration">
    {% for key, suggestion in suggestions %}
        <div class="block" ng-init="integration.initAd('{{ key }}')">
            <div class="block-price">
                <span>{{ suggestion.price }}</span> Бел. Руб.
                <br />
                <div style="padding-top: 10px;"><b>{{ suggestion.city }}</b></div>
            </div>
            <div class="block-text">{{ suggestion.description }}</div>
            <div class="block-tel">
                <button class="block-btn" ng-click="integration.getPhones('{{ suggestion.url }}', '{{ key }}')">Показать телефоны</button>
                <a ng-show="integration.phonesShow_{{ key }}" ng-repeat="phone in integration.phones_{{ key }}" ng-href="tel:{[{phone}]}" ng-click="integration.clickPhone($event)" class="contact" ng-bind="phone"></a>
            </div>
        </div>
    {% endfor %}
</main>