{% extends 'base.html.twig' %}

{% block title %}Страница выбора типа подачи объявлений для товара или товарной группы{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href='/css/user-office/product-categories/spare-part-category.css'>
{% endblock %}

{% block body %}
    <main class="container">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="Автопарус" itemprop="item">
                    <span class="user-name" itemprop="name">{{ app.user.name }}</span>
                    <svg class="user-icon" width="14" height="14" viewBox="0 0 50 50" fill="none">
                        <path d="M33.5 15C33.5 19.6944 29.6945 23.5 25 23.5C20.3056 23.5 16.5 19.6944 16.5 15C16.5 10.3056 20.3056 6.5 25 6.5C29.6945 6.5 33.5 10.3056 33.5 15Z" stroke="#444444" stroke-width="3"/>
                        <path d="M43.5 43.5H6.5V40.3771C6.50929 40.361 6.51902 40.3442 6.52922 40.3267C6.66558 40.0932 6.88316 39.7455 7.19248 39.3213C7.81152 38.4723 8.79409 37.3222 10.224 36.1667C13.0634 33.8723 17.7339 31.5 25 31.5C32.2661 31.5 36.9366 33.8723 39.776 36.1667C41.2059 37.3222 42.1885 38.4723 42.8075 39.3213C43.1168 39.7455 43.3344 40.0932 43.4708 40.3267C43.481 40.3442 43.4907 40.361 43.5 40.3771V43.5Z" stroke="#444444" stroke-width="3"/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>

            {% set sellerCompany = app.user.sellerData.sellerCompany %}

            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                {% if sellerCompany.isSparePartSeller and sellerCompany.isAutoSeller %}
                    <a class="link-b" href="{{ path("user_profile_product_categories") }}" itemprop="item" title="Выбор категории товаров"><span class="line">/</span><span itemprop="name">Товары</span></a><meta itemprop="position" content="2">
                {% else %}
                    <a class="link-b" nohref itemprop="item" title="Выбор категории товаров"><span class="line">/</span><span itemprop="name">Товары</span></a><meta itemprop="position" content="2">
                {% endif %}
            </li>

            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" nohref itemprop="item"><span class="line">/</span><span itemprop="name">Автозапчасти</span><meta itemprop="position" content="3"></a>
            </li>
        </ul>

        <section class="items">
            <h1 class="title" data-text="{{ default_text(2).headline }}"></h1>
            <ul class="items-block">
                <li>
                    <a class="items-link" href="{{ path("user_profile_product_categories_spare_part_add_specific_advert") }}">
                        <span>Добавить объявление о продаже запчасти или других товаров к авто-мото транспорту</span>
                        <img src="{{ image_url(default_image(23).image) }}" alt="лого">
                    </a>
                </li>
                <li>
                    <a class="items-link" href="{{ path("user_profile_product_categories_spare_part_add_general_advert") }}">
                        <span>Добавить общее объявление о продаже запчастей или товаров к авто-мото транспорту</span>
                        <img src="{{ image_url(default_image(24).image) }}" alt="лого">
                    </a>
                </li>
                <li>
                    <a class="items-link" nohref>
                        <span>Комплексно добавить машинокомплект с разбивкой по элементам и деталям</span>
                        <img src="{{ image_url(default_image(27).image) }}" alt="лого">
                    </a>
                </li>
                <li>
                    <a class="items-link" nohref>
                        <span>Импортировать прайс-лист или лист наличия товаров к авто-мото транспорту</span>
                        <img src="{{ image_url(default_image(25).image) }}" alt="лого">
                    </a>
                </li>
                <li>
                    <a class="items-link" href="{{ path("user_profile_product_categories_spare_part_list_adverts") }}">
                        <span>Просмотр поданных объявлений, проверка, редактирование, удаление</span>
                        <img src="{{ image_url(default_image(26).image) }}" alt="лого">
                    </a>
                </li>
            </ul>
            <div class="subtext">{{ default_text(2).text | raw }}</div>
        </section>
    </main>
{% endblock %}