{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/catalog/auto/city/choose-city.css'>
{% endblock %}

{% block body %}
    <main class="container" ng-init="showAll = false;">
        <ul id="breadcrumbs">
            <li><a class="user-link user-link--icon"  href="{{ path("homepage") }}">
                    <span class="user-name">Главная </span><img class="user-icon" src="/img/home.png" alt="icon"></a>
            </li>
            <li><a class="current">/ Последовательный каталог</a></li>
        </ul>

        <section class="city">
            <h1 class="city-title">{{ page.headline1 }}</h1>
            <div class=city-desc>
                <div id='text1' class='text1Hide'>{{ page.text1 | raw }}</div>
                <span onclick='text1ShowHide()' id='allText'> >>>>>>> </span>
            </div>
            <div class="city-block">
                <div class="city-wrapper" ng-init="showAll = false">
                    <ul class="city-show" id='brandImg5'>
                        <li><a class="city-link" href=''><img src="{{ image_url(capital.logo) }}" alt="{{ capital.name }}" title="Автозапчасти в {{ capital.prepositional }}">Минск</a></li>
                        {% for city in regionalCities %}
                            <li><a class="city-link" href=''><img src="{{ image_url(city.logo) }}" alt="{{ city.name }}" title="Автозапчасти в {{ city.prepositional }}">{{ city.name }}</a></li>
                        {% endfor %}
                        {% for city in othersCities%}
                            <li ng-show="showAll"><a class="city-link" href=''><img src="{{ image_url(city.logo) }}" alt="{{ city.name }}" title="Автозапчасти в {{ city.prepositional }}">{{ city.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <div ng-click='showAll = true' ng-hide="showAll" id='showAll5'>&gt;&gt;&gt;&gt;&gt;&gt;&gt;</div>
                    <div ng-click='showAll = false' ng-show="showAll" id='showAll5'>&lt;&lt;&lt;&lt;&lt;&lt;&lt;</div>
                </div>
                <div class="city-list">
                    <h2 class='city-subtitle'>{{ page.headline2 }}</h2>
                    <div class='city-subtext'>{{ page.text2 | raw }}</div>
                    <a href="{{ page.returnButtonLink }}" class="city-btn">{{ page.returnButtonText }}</a>
                </div>
            </div>
            <div class="wrapper-icon">
                <div class="city-items">
                    <ul class="city-icon">
                        {% for brand in brands %}
                            <li><a href="{{ path("show_spare_part_catalog_choice_model", {urlSP: "dvs", urlBrand: brand.url}) }}"><img src="{{ image_url(brand.logo, "brand") }}" alt="{{ brand.brandEn }}" title="Двигатели для автомобилей {{ brand.brandEn }}"></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </main>
{% endblock %}