{% extends 'client/catalog/city/base-city-catalog.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/catalog/auto/city/choose-city.css'>
{% endblock %}

{% block body %}
    <main class="container">
         <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="Главная страница" itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" nohref itemprop="item"><span class="line">/</span><span itemprop="name">Заказ-заявка</span><meta itemprop="position" content="2"></a>
            </li>
        </ul>

        <section class="city">
            <h1 class="city-title">{{ page.headline1 }}</h1>
            <div class='city-desc'>
                <p id='text1' class='text1Hide'>{{ page.text1 | raw }}</p>
                <span onclick='text1ShowHide()' id='allText'> >>>>>>> </span>
            </div>
            <div class="city-block">
                <div class="city-wrapper">
                    <ul class="city-show" id='brandImg5'>
                        <li><a class="city-link" href="{{ path("show_city_catalog_choice_brand", {"urlCity" : capital.url}) }}"><img src="{{ image_url(capital.logo) }}" alt="{{ capital.name }}" title="Автозапчасти в {{ capital.prepositional }}"><span>Минск</span></a></li>
                        {% for city in regionalCities %}
                            <li><a class="city-link" href="{{ path("show_city_catalog_choice_brand", {"urlCity" : city.url}) }}"><img src="{{ image_url(city.logo) }}" alt="{{ city.name }}" title="Автозапчасти в {{ city.prepositional }}"><span>{{ city.name }}</span></a></li>
                        {% endfor %}
                    </ul>
                    <div id='showAll5' onclick="document.getElementById('show-others-cities').style.display = 'flex'; document.getElementById('showAll5').style.display = 'none'">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</div>
                </div>
                <ul id="show-others-cities" class="place-block" style="display: none;">
                    {% for city in othersCities%}
                        <li>
                            <a class="place-link" href='{{ path("show_city_catalog_choice_brand", {"urlCity" : city.url}) }}' title="{{ title_provider({"link" : path("show_city_catalog_choice_brand", {"urlCity" : city.url})}) }}">{{ city.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="city-list">
                    <h2 class='city-subtitle'>{{ page.headline2 }}</h2>
                    <div class='city-subtext'>{{ page.text2 | raw }}</div>
                </div>
            </div>
            <h3 class="model-title">Поиск по марке авто</h3>
            <ul class="city-icon">
                {% for brand in brands %}
                    <li><a href="{{ path("show_brand_catalog_choice_model", {urlBrand: brand.url}) }}"><img src="{{ image_url(brand.thumbnailLogo64, "brand") }}" alt="{{ brand.name }}" title="Двигатели для автомобилей {{ brand.brandEn }}"></a></li>
                {% endfor %}
            </ul>
            <a href="{{ page.returnButtonLink }}" class="button">{{ page.returnButtonText }}</a>
        </section>
    </main>
{% endblock %}