{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/catalog/city/choice-brand.css'>
{% endblock %}

{% block body %}
    <main class="container" ng-init="showAll = false">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="{{ homepageTitle }}" itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10"
                                  points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_city_catalog_choice_city") }}" itemprop="item" title="{{ choiceCityTitle }}">
                    <span class="line">/</span>
                    <span itemprop="name">Каталог</span>
                </a>
                <meta itemprop="position" content="2">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" nohref itemprop="item">
                    <span class="line">/</span>
                    <span itemprop="name">{{ city.name }}</span>
                    <meta itemprop="position" content="3">
                </a>
            </li>
        </ul>

        <section class="model">
            <h1>{{ page.headline1 }}</h1>
            <div>{{ page.text1 | raw }}</div>

            <form class='modform' action="#" method="get">
                <input id="brand-autocomplete" class="form7" type="search"
                       auto-сomplete-autoparus add-url="{{ path("show_city_catalog_choice_brand", {"urlCity" : city.url}) }}"
                       method-search="searchBrands" identifier-field="brand-autocomplete" is-preload-data="true"
                       name="search" placeholder="Марка авто:"
                       scroll-to-element scroll-by-click="true" before-top="30">
            </form>

            <div class="model-block" scroll-to-element scroll-by-click="true" initiator=".initiator-scroll">
                <ul class='show-m' id='model'>
                    {% for brand in popularBrands %}
                        <li ng-hide="showAll">
                            <a class="model-link" href="{{ path("show_city_catalog_choice_model", {"urlBrand" : brand.item.url, "urlCity" : city.url}) }}">
                                <img src="{{ image_url(brand.item.logo, "brand") }}" alt="{{ brand.item.brandEn }}" title="{{ brand.title }}">
                            </a>
                        </li>
                    {% endfor %}
                    {% for brand in allBrands %}
                        <li ng-show="showAll">
                            <a class="model-link" href="{{ path("show_city_catalog_choice_model", {"urlBrand" : brand.item.url, "urlCity" : city.url}) }}">
                                <img src="{{ image_url(brand.item.logo, "brand") }}" alt="{{ brand.item.brandEn }}" title="{{ brand.title }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <button ng-click="showAll = true" ng-hide="showAll" class="initiator-scroll" id='button-mod' type="button">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                <button ng-click="showAll = false" ng-show="showAll" class="initiator-scroll" id='button-mod' type="button">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
            </div>

            <h2>{{ page.headline2 }}</h2>

            <div>{{ page.text2 | raw }}</div>
            <a href="{{ page.returnButtonLink }}"><button class="btn">{{ page.returnButtonText }}</button></a>
        </section>
    </main>

{% endblock %}