{% extends 'client/catalog/city/base-city-catalog.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<link rel='stylesheet' href='/css/catalog/city/choice-final-page.css'>
{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}
<main class="container">
    <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="Главная страница" itemprop="item">
                <span class="user-name" itemprop="name">Главная</span>
                <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                    <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                    <polyline fill="none" stroke="#444" stroke-miterlimit="10"
                              points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                </svg>
                <meta itemprop="position" content="1">
            </a>
        </li>

        <li class="breadcrumbs-item">
            <a class="link-b link-btn"><span class="line">/</span>. . . </a>
        </li>

        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="link-b" href="{{ path("show_city_catalog_choice_city") }}" itemprop="item"
               title="Заказ-заявка на запчасти, Выбор города"><span class="line">/</span><span itemprop="name">Заказ-заявка</span>
            </a>
            <meta itemprop="position" content="2">
        </li>

        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="link-b" href="{{ path("show_city_catalog_choice_brand", {"urlCity" : city.url}) }}" itemprop="item"
               title="Выбор марки"><span class="line">/</span><span itemprop="name">{{ city.name }}</span>
            </a>
            <meta itemprop="position" content="3">
        </li>

        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="link-b" href="{{ path("show_city_catalog_choice_model", {"urlCity" : city.url, "urlBrand" : brand.url}) }}" itemprop="item"
               title="Выбор модели"><span class="line">/</span><span itemprop="name">{{ brand.brandEn }}</span>
            </a>
            <meta itemprop="position" content="4">
        </li>

        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="link-b" href="{{ path("show_city_catalog_choice_year", {"urlCity" : city.url, "urlBrand" : brand.url, "urlModel" : model.url}) }}" itemprop="item"
               title="Выбор года"><span class="line">/</span><span itemprop="name">{{ model.modelEn }}</span>
            </a>
            <meta itemprop="position" content="5">
        </li>

        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="link-b" href="{{ path("show_city_catalog_choice_spare_part", {"urlCity" : city.url, "urlBrand" : brand.url, "urlModel" : model.url, "year" : year}) }}" itemprop="item"
               title="Выбор запчасти"><span class="line">/</span><span itemprop="name">{{ year }}</span>
            </a>
            <meta itemprop="position" content="6">
        </li>

        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="link-b" href="{{ path("show_city_catalog_choice_engine_type", {"urlCity" : city.url, "urlBrand" : brand.url, "urlModel" : model.url, "year" : year, "urlSP" : sparePart.url}) }}" itemprop="item"
               title="Выбор типа двигателя"><span class="line">/</span><span itemprop="name">{{ sparePart.alternativeName5 }}</span>
            </a>
            <meta itemprop="position" content="7">
        </li>

        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="link-b" href="{{ path("show_city_catalog_choice_engine_capacity", {"urlCity" : city.url, "urlBrand" : brand.url, "urlModel" : model.url, "year" : year, "urlSP" : sparePart.url, "urlET" : engineType.url}) }}" itemprop="item"
               title="Выбор объёма и марки двигателя"><span class="line">/</span><span itemprop="name">{{ engineType.type }}</span>
            </a>
            <meta itemprop="position" content="8">
        </li>

        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="link-b" href="{{ path("show_city_catalog_choice_engine_capacity", {"urlCity" : city.url, "urlBrand" : brand.url, "urlModel" : model.url, "year" : year, "urlSP" : sparePart.url, "urlET" : engineType.url, "engineId" : engine.id}) }}" itemprop="item"
               title="Выбор типа кузова"><span class="line">/</span><span itemprop="name">{{ engine.capacity }} ({{ engine.name }})</span>
            </a>
            <meta itemprop="position" content="9">
        </li>

        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="link-b" href="{{ path("show_city_catalog_choice_spare_part_status", {"urlCity" : city.url, "urlBrand" : brand.url, "urlModel" : model.url, "year" : year, "urlSP" : sparePart.url, "urlET" : engineType.url, "engineId" : engine.id, "urlVT" : vehicleType.url}) }}" itemprop="item"
               title="Выбор состояния"><span class="line">/</span><span itemprop="name">{{ vehicleType.type }}</span>
            </a>
            <meta itemprop="position" content="10">
        </li>

        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="link-b" href="{{ path("show_city_catalog_choice_in_stock", routeParams) }}" itemprop="item"
               title="Выбор только наличии или возможность покупки под заказ"><span class="line">/</span><span itemprop="name">{{ condition.singleAdjective }}</span>
            </a>
            <meta itemprop="position" content="11">
        </li>

        {% set stockTypeValue = constant('App\\Entity\\Advert\\AutoSparePart\\AutoSparePartSpecificAdvert::STOCK_TYPES_CLIENT_VIEW')[inStockType] %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="current" nohref itemprop="item"><span class="line">/</span><span itemprop="name">{{ constant('App\\Entity\\Advert\\AutoSparePart\\AutoSparePartSpecificAdvert::STOCK_TYPES_CLIENT_VIEW')[inStockType] }}</span>
                <meta itemprop="position" content="12">
            </a>
        </li>
    </ul>

      <section class="zap">
          <h1 class="zap-title">{{ page.headline1 }}</h1>
          <div class="zap-wrapper">
              <div id="text1" class="text1Hide">{{ page.text1 | raw }}</div>
              <span onclick="text1ShowHide()" id="allText"> &gt;&gt;&gt;&gt;&gt;&gt;&gt; </span>
          </div>
          <div id="form-container">
          </div>
      </section>

    <table id="table-data-hide" class="feature-block" style="display:none;">
        <tbody>
            <tr><td>Город:</td><td class="tab">{{ city.name }}</td></tr>
            <tr><td>Марка:</td><td class="tab">{{ brand.brandEn }}</td></tr>
            <tr><td>Модель:</td><td class="tab">{{ model.modelEn }}</td></tr>
            <tr><td>Год:</td><td class="tab">{{ year }}</td></tr>
            <tr><td>Двигатель:</td><td class="tab">{{ engine.type }}</td></tr>
            <tr><td>Объем:</td><td class="tab">{{ engine.capacity }} ({{ engine.name }})</td></tr>
            <tr><td>Кузов:</td><td class="tab">{{ vehicleType.type }}</td></tr>
            <tr><td>Состояние:</td><td class="tab">{{ condition.singleAdjective }}</td></tr>
            <tr><td>Наличие:</td><td class="tab">{{ stockTypeValue }}</td></tr>
        </tbody>
    </table>
    <div id="below-button-hide" style="display: none">
        <button class="btn btn-part" type="button" onclick="window.location.href = '{{ path("show_brand_catalog_choice_city", {"urlBrand" : brand.url,"urlModel" : model.url,"urlSP" : sparePart.url}) }}'">Перейти в каталог запчастей</button>
    </div>

    <datalist id="sp-list" datalist-autocomplete method-search="searchSpareParts"></datalist>
     </main>
{% endblock %}

{% block javascripts %}
    <script src='/bower-components/jquery.maskedinput/dist/jquery.maskedinput.js'></script>
    <script src='/js/client/pages/catalog/city/final-page-form.js'></script>
{% endblock %}