{% extends 'client/catalog/city/base-city-catalog.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/catalog/city/choice-model.css'>
{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}
    <main class="container">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="Главная страница"
                   itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10"
                                  points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_city_catalog_choice_city") }}" itemprop="item"
                   title="{{ choiceCityTitle }}">
                    <span class="line">/</span>
                    <span itemprop="name">Заказ-заявка</span>
                </a>
                <meta itemprop="position" content="2">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_city_catalog_choice_brand", {"urlCity" : city.url}) }}"
                   itemprop="item" title="{{ choiceBrandTitle }}">
                    <span class="line">/</span>
                    <span itemprop="name">{{ city.name }}</span>
                </a>
                <meta itemprop="position" content="3">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" nohref itemprop="item">
                    <span class="line">/</span>
                    <span itemprop="name">{{ brand.brandEn }}</span>
                    <meta itemprop="position" content="4">
                </a>
            </li>
        </ul>

        <section class="model">
            <h1>{{ page.headline1 }}</h1>
            <div>{{ page.text1 | raw }}</div>

            <form class='modform' action="#" method="get" scroll-to-element scroll-by-click="true" initiator=".initiator-scroll">
                <input list="model-list" class="form7" placeholder="Модель авто:" type="text">
                <datalist id="model-list" datalist-autocomplete method-search="searchModels"
                          request-parameters='{"brand": "{{ brand.url }}"}' is-preload-data="true"
                          add-url="{{ path("show_city_catalog_choice_model", routeParams) }}"></datalist>
            </form>

            <div class="model-block">
                <ul class='show-m' id='model'>
                    {% for model in popularModels %}
                        <li class="popular-models">
                            <a class="mod-link {{ loop.first ? "mod-link-line" : "" }}" href="{{ path("show_city_catalog_choice_year", {"urlModel" : model.item.url}|merge(routeParams)) }}">
                                <span>{{ model.item.name }}<br>{{ model.item.modelRu }}</span>
                                <img src="{{ image_url(model.item.thumbnailLogo, "model") }}" alt="{{ brand.brandEn }} {{ model.item.modelEn }}" title="{{ model.title }}">
                            </a>
                        </li>
                    {% endfor %}
                    {% for model in allModels %}
                        <li class="others-models" style="display: none;">
                            <a class="mod-link {{ loop.first ? "mod-link-line" : "" }}" href="{{ path("show_city_catalog_choice_year", {"urlModel" : model.item.url}|merge(routeParams)) }}">
                                <span>{{ model.item.name }}<br>{{ model.item.modelRu }}</span>
                                <img src="{{ image_url(model.item.thumbnailLogo, "model") }}" alt="{{ brand.brandEn }} {{ model.item.modelEn }}" title="{{ model.title }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <button class="initiator-scroll button-mod" id='show-more' type="button" onclick="showBySelector('.others-models'); hideBySelector('.popular-models'); showBySelector('#show-less'); hideBySelector('#show-more');">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                <button style="display: none;" class="initiator-scroll button-mod" id='show-less' type="button" onclick="hideBySelector('.others-models'); showBySelector('.popular-models'); hideBySelector('#show-less'); showBySelector('#show-more');">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
            </div>

            <h2>{{ page.headline2 }}</h2>

            <div>{{ page.text2 | raw }}</div>
            <a href="{{ page.returnButtonLink }}"><button class="btn">{{ page.returnButtonText }}</button></a>
        </section>
    </main>

{% endblock %}