{% extends 'client/catalog/city/base-city-catalog.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/catalog/city/choice-spare-part.css'>
{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}
    <main class="container">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" itemprop="item" title="Главная страница">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10"
                                  points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_city_catalog_choice_city") }}" itemprop="item" title="{{ choiceCityTitle }}">
                    <span class="line">/</span>
                    <span itemprop="name">Заказ-заявка</span>
                </a>
                <meta itemprop="position" content="2">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_city_catalog_choice_brand", {"urlCity" : city.url}) }}"
                   itemprop="item" title="{{ choiceBrandTitle }}">
                    <span class="line">/</span>
                    <span itemprop="name">{{ city.name }}</span>
                </a>
                <meta itemprop="position" content="3">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_city_catalog_choice_model", {"urlCity" : city.url, "urlBrand" : brand.url}) }}"
                   itemprop="item" title="{{ choiceModelTitle }}">
                    <span class="line">/</span>
                    <span itemprop="name">{{ brand.brandEn }}</span>
                </a>
                <meta itemprop="position" content="4">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_city_catalog_choice_year", {"urlCity" : city.url, "urlBrand" : brand.url, "urlModel" : model.url}) }}"
                   itemprop="item" title="{{ choiceYearTitle }}">
                    <span class="line">/</span>
                    <span itemprop="name">{{ model.modelEn }}</span>
                </a>
                <meta itemprop="position" content="5">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" nohref itemprop="item">
                    <span class="line">/</span>
                    <span itemprop="name">{{ year }}</span>
                    <meta itemprop="position" content="6">
                </a>
            </li>
        </ul>

        <section class="model">
            <h1>{{ page.headline1 }}</h1>
            <div>{{ page.text1 | raw }}</div>

            <form class='modform' action="#" method="get" scroll-to-element scroll-by-click="true" initiator=".initiator-scroll">
                <input list="sp-list" class="form7" placeholder="Введите наименование запчасти:" type="text">
                <datalist id="sp-list" datalist-autocomplete method-search="searchSpareParts"
                          add-url="{{ path(app.request.attributes.get('_route'), routeParams) }}"></datalist>
            </form>

            
            <div class="model-block">
                <ul class='show-m' id='model'>
                    {% for sparePart in popularSpareParts %}
                        <li class="popular-spare-parts">
                            <a class="mod-link {{ loop.first ? "mod-link-line" : "" }}" href="{{ path("show_city_catalog_choice_engine_type", routeParams|merge({"urlSP" : sparePart.url})) }}">
                                <span>{{ sparePart.name|replace({"(" : "<br />("})|raw }}</span>
                                <img src="{{ image_url(sparePart.thumbnailLogo, "spare_part") }}" alt="{{ sparePart.alternativeName1 }}" title="{{ sparePart.alternativeName1 }} для {{ brand.brandEn }} {{ model.modelEn }} в {{ city.prepositional }}">
                            </a>
                        </li>
                    {% endfor %}
                    {% for sparePart in unpopularSpareParts %}
                        <li class="others-spare-parts" style="display: none;">
                            <a class="mod-link {{ loop.first ? "mod-link-line" : "" }}" href="{{ path("show_city_catalog_choice_engine_type", routeParams|merge({"urlSP" : sparePart.url})) }}">
                                <span>{{ sparePart.name|replace({"(" : "<br />("})|raw }}</span>
                                <img src="{{ image_url(sparePart.thumbnailLogo, "spare_part") }}" alt="{{ sparePart.alternativeName1 }}" title="{{ sparePart.alternativeName1 }} для {{ brand.brandEn }} {{ model.modelEn }} в {{ city.prepositional }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <button class="initiator-scroll button-mod" id='show-more' type="button" onclick="showBySelector('.others-spare-parts'); hideBySelector('.popular-spare-parts'); showBySelector('#show-less'); hideBySelector('#show-more');">&gt;&gt;&gt;<span> Показать все запчасти </span>&gt;&gt;&gt;</button>
                <button style="display: none;" class="initiator-scroll button-mod" id='show-less' type="button" onclick="hideBySelector('.others-spare-parts'); showBySelector('.popular-spare-parts'); hideBySelector('#show-less'); showBySelector('#show-more');">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
            </div>
            <a class="btn" href="{{ page.returnButtonLink }}">{{ page.returnButtonText }}</a>

            <h2>{{ page.headline2 }}</h2>

            <p>{{ page.text2 | raw }}</p>
        </section>
    </main>
{% endblock %}