{% extends 'base.html.twig' %}

{% set isEditAction = app.request.attributes.get('_route') == "user_profile_product_categories_spare_part_edit_general_advert" %}

{% block title %}
    {% if isEditAction %}
        Редактор группового объявления
    {% else %}
        Массовое добавление товаров
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/user-office/product-categories/spare-part/add-group-products.css'>
{% endblock %}

{% block body %}
    <main class="container">
        <ul id="breadcrumbs">
            <li>
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="Главная">
                    <span class="user-name">{{ app.user.name }}</span>
                    <svg class="user-icon" width="20px" height="20px" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.72222 30V28.5H7.22222H6.5V25.1323L8.47907 14H41.5209L43.5 25.1323V28.5H42.7778H41.2778V30V43.5H39.8333V30V28.5H38.3333H29.4444H27.9444V30V43.5H8.72222V30ZM25 41.5H26.5V40V30V28.5H25H11.6667H10.1667V30V40V41.5H11.6667H25ZM8.72222 6.5H41.2778V8.5H8.72222V6.5Z" stroke="#737373" stroke-width="3"/>
                    </svg>
                </a>
            </li>
            {% set sellerCompany = app.user.sellerData.sellerCompany %}

            {% if sellerCompany.isSparePartSeller and sellerCompany.isAutoSeller %}
                <li><a class="link-b" href="{{ path("user_profile_product_categories") }}" title="Выбор категории товаров"><span class="line">/</span>Товары </a></li>
            {% else %}
                <li><a class="link-b" nohref title="Выбор категории товаров"><span class="line">/</span>Товары </a></li>
            {% endif %}
            <li><a class="link-b" href="{{ path("user_profile_product_categories_spare_part") }}"><span class="line">/</span>Автозапчасти</a></li>
            <li><a class="current"><span class="line">/</span>{{ isEditAction ? "Редактирование" : "Добавление" }} общего объявления</a></li>
        </ul>

        <section class="prod">
            <h1 class="title-main">{{ (isEditAction ? default_text(37) : default_text(5)).headline }}
                <sup>
                    <button id="open-overlay1" type="button" class="help">
                        <svg viewBox="0 0 32 32" width="18px" height="18px">
                            <path fill="#757373" d="M 16 4 C 9.382813 4 4 9.382813 4 16 C 4 22.617188 9.382813 28 16 28 C 22.617188 28 28 22.617188 28 16 C 28 9.382813 22.617188 4 16 4 Z M 16 6 C 21.535156 6 26 10.464844 26 16 C 26 21.535156 21.535156 26 16 26 C 10.464844 26 6 21.535156 6 16 C 6 10.464844 10.464844 6 16 6 Z M 16 10 C 13.800781 10 12 11.800781 12 14 L 14 14 C 14 12.882813 14.882813 12 16 12 C 17.117188 12 18 12.882813 18 14 C 18 14.765625 17.507813 15.445313 16.78125 15.6875 L 16.375 15.8125 C 15.558594 16.082031 15 16.863281 15 17.71875 L 15 19 L 17 19 L 17 17.71875 L 17.40625 17.59375 C 18.945313 17.082031 20 15.621094 20 14 C 20 11.800781 18.199219 10 16 10 Z M 15 20 L 15 22 L 17 22 L 17 20 Z "/>
                        </svg>
                    </button>
                </sup>
            </h1>

            <div id="form-edit-general-advert-container"
                 ng-controller="EditGeneralAdvertCtrl as editAdvert"
                 ng-init="editAdvert.init('#form-edit-general-advert', '.model-checkbox', '.spare-part-checkbox', '#{{ form.brand.vars.id }}')">
                {% include('/client/user-office/seller-services/product-categories/spare-part/forms/add-general-advert-form.html.twig') with {"form" : form, 'isValid' : false, 'isConfirmBrand' : isConfirmBrand, "isEditAction": isEditAction} %}
            </div>

        </section>

    </main>

    <div class="overlay1" show-hint trigger-open="#open-overlay1" trigger-close="#close-overlay1">
        <section class="modal">
            <button id="close-overlay1" type="button" class="modal-close">
                <svg  x="0px" y="0px" width="25px" height="25px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
            <line fill="none" stroke="#727272" stroke-width="4" stroke-miterlimit="10" x1="7.741" y1="7.741" x2="42.359" y2="42.359"/>
                    <line fill="#none" stroke="#727272" stroke-width="4" stroke-miterlimit="10" x1="42.258" y1="7.742" x2="7.618" y2="42.382"/>
            </svg>
            </button>
            <h1 class="modal-title">{{ (isEditAction ? default_text(8) : default_text(3)).headline }}</h1>
            <div class="modal-text">{{ (isEditAction ? default_text(8) : default_text(3)).text | raw }}</div>
        </section>
    </div>

    <div class="overlay2" show-hint trigger-open="#open-overlay2" trigger-close="#close-overlay2">
        <section class="modal">
            <button id="close-overlay2" type="button"  class="modal-close">
                <svg  x="0px" y="0px" width="25px" height="25px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
            <line fill="none" stroke="#727272" stroke-width="4" stroke-miterlimit="10" x1="7.741" y1="7.741" x2="42.359" y2="42.359"/>
                    <line fill="#none" stroke="#727272" stroke-width="4" stroke-miterlimit="10" x1="42.258" y1="7.742" x2="7.618" y2="42.382"/>
            </svg>
            </button>
            <h1 class="modal-title">{{ (isEditAction ? default_text(9) : default_text(4)).headline }}</h1>
            <div class="modal-text">{{ (isEditAction ? default_text(9) : default_text(4)).text | raw }}</div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script src='/js/client/pages/user-profile/product-categories/spare-part/add-group-products.js'></script>
    <script src='/js/client/controller/user-profile/product-categories/spare-part/edit-general-advert-controller.js'></script>
    <script src='/js/client/controller/user-profile/provider-cars-data.js'></script>
    <script src='/js/client/directive/user-profile/auto-spare-part-advert/get-models-by-brand-directive.js'></script>
    <script src='/js/client/directive/scroll-to-element.js'></script>
    <script src='/js/client/directive/show-hint.js'></script>
{% endblock %}