{% extends 'base.html.twig' %}

{% block title %}Массовое добавление товаров{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href='/css/user-office/product-categories/spare-part/add-group-products.css'>
{% endblock %}

{% block body %}
    <main class="container">
        <ul id="breadcrumbs">
            <li><a class="user-link user-link--icon"  href="{{ path("show_user_office") }}">
                    <span class="user-name">{{ app.user.name }}</span><img class="user-icon" src="/img/component.png" alt="icon"></a>
            </li>
            <li class="more" onclick='dotClick()'><a>/  ...  </a></li>
            <li><a class="link" href="{{ path("user_profile_product_categories") }}">/ товары </a></li>
            <li><a class="link" href="{{ path("user_profile_product_categories_spare_part") }}">/ автозапчасти </a></li>
            <li><a class="current">/ добавление товаров группой</a></li>
        </ul>

        <section class="choice">
            <div class="block-title">
                <h1 class="choice-title">Массовое добавление товаров</h1>
                <a class="link-help"><img src="/img/help.png" alt="Подсказка"></a>
            </div>
            <div class="podskazka-m">
                <div class="close-m">x</div>
                <h2>{{ default_text(3).headline }}</h2>
                {{ default_text(3).text | raw }}
            </div>
            <form id='registrationForm' action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" novalidate enctype="multipart/form-data">
                {{ form_widget(form._token) }}
                <div class="choice-form1">
                    <div class="form-reg">
                        <fieldset class="mk_choice">
                            <legend class="profil-title">Укажите состояние предлагаемых Вами запчастей (товаров)</legend>
                            <ul class="filter-list">
                                {% for choice in form.condition %}
                                    <li class="filter-option">
                                        {{ form_widget(choice, {attr: {class: "visually-hidden filter-input filter-input-radio" }}) }}
                                        {{ form_label(choice) }}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% for key, error in form.condition.vars.errors.form.getErrors(true)%}
                                <span class="check">{{ error.message }}</span>
                            {% endfor %}
                        </fieldset>

                        <fieldset class="mk_choice">
                            <legend class="profil-title">Отметьте наличие запчастей (товаров)</legend>
                            <ul class="filter-list">
                                {% for choice in form.stockType %}
                                    <li class="filter-option">
                                        {{ form_widget(choice, {attr: {class: "visually-hidden filter-input filter-input-radio" }}) }}
                                        {{ form_label(choice) }}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% for key, error in form.stockType.vars.errors.form.getErrors(true)%}
                                <span class="check">{{ error.message }}</span>
                            {% endfor %}
                        </fieldset>
                    </div>

                    <div class="marka-block">
                        <h2 class="profil-title">Выберите марку или условие "Все марки"</h2>
                        <div class="choice-marka">
                            {{ form_widget(form.brand, {attr: {class: "name-select form-brand-select"}}) }}
                            {% for key, error in form.brand.vars.errors.form.getErrors(true)%}
                                <span class="check">{{ error.message }}</span>
                            {% endfor %}
                            <a class="link-help"><img src="/img/help.png" alt="Подсказка"></a>
                        </div>
                        <div class="podskazka">
                            <div class="close">x</div>
                            <h2>{{ default_text(4).headline }}</h2>
                            {{ default_text(4).text | raw }}
                        </div>
                    </div>

                    <div class="choice-new">
                        <fieldset id="model-fieldset" get-models-by-brand brand-select=".form-brand-select" container-model="#model-container" list-models="#list-models" legend-element="#chosen-brand-name">
                            <legend id="chosen-brand-name" class="button" style="display: {{ form.models | length ? 'block' : 'none' }}"><span class="first-span">Отметить все модели</span> <span class="second-span">{{ form.brand.vars.help }}</span></legend>
                            <ul id="list-models" class="filter-mark">
                                {% for choice in form.models %}
                                    <li class="filter-option filter-option--size">
                                        {{ form_widget(choice, {attr: {class: "visually-hidden filter-input filter-input-checkbox checkbox model-checkbox" }}) }}
                                        {{ form_label(choice) }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <div id="model-container" style="display: none">
                                <li class="filter-option filter-option--size">
                                    <input type="checkbox" id="spare_part_general_advert_models___index__" name="spare_part_general_advert[models][]" class="visually-hidden filter-input filter-input-checkbox checkbox">
                                    <label for="spare_part_general_advert_models___index__"></label>
                                </li>
                            </div>
                            {% for key, error in form.models.vars.errors.form.getErrors(true)%}
                                <span class="check">{{ error.message }}</span>
                            {% endfor %}
                        </fieldset>
                        <div class="block-btn">
                            {{ form_widget(form.submitGeneral) }}
                            {% if validButton == "submitGeneral" %}
                                <span>Подтверждение принято</span>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="choice-form2">
                    <b class="profil-title">Отметьте предлагаемые Вами запчасти или товары для выбранных марок-моделей</b>
                    <fieldset>
                        <legend class="button-m button-left">Отметить все запчасти (товары)</legend>
                        {% for key, error in form.spareParts.vars.errors.form.getErrors(true)%}
                            <span class="check">{{ error.message }}</span>
                        {% endfor %}
                        <ul class="filter-list">
                            {% for choice in form.spareParts %}
                                <li class="filter-option">
                                    {{ form_widget(choice, {attr: {class: "visually-hidden filter-input filter-input-checkbox checkbox_cl" }}) }}
                                    {{ form_label(choice) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </fieldset>
                    <p class="comment">
                        <span>Комментарий к группе товаров:</span>
                        {{ form_widget(form.comment, {attr: {"rows": "3"}}) }}
                    </p>
                    <div class="block-btn">
                        {{ form_widget(form.submitSparePart) }}
                        {% if validButton == "submitSparePart" %}
                            <span>Объявление сохранено</span>
                        {% endif %}
                    </div>
                </div>
            </form>
            <div class="btn-list">
                <a href="{{ path("user_profile_product_categories_spare_part_add_general_advert") }}" class="btn btn-product">Добавить еще группу товаров</a>
                <a href="{{ path("user_profile_product_categories_spare_part_list_adverts") }}" class="btn btn-product">Просмотреть поданные товары</a>
            </div>
            <h2 class="subtitle">{{ default_text(5).headline }}</h2>
            <div class="subtext">{{ default_text(5).text | raw }}</div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src='/js/client/pages/user-profile/product-categories/spare-part/add-group-products.js'></script>
    <script src='/js/client/controller/user-profile/provider-cars-data.js'></script>
    <script src='/js/client/directive/user-profile/auto-spare-part-advert/get-models-by-brand-directive.js'></script>
{% endblock %}