{% extends 'base.html.twig' %}

{% set isEditAction = app.request.attributes.get('_route') == "user_profile_product_categories_spare_part_edit_general_advert" %}

{% block title %}
    {% if isEditAction %}
        Редактор группового объявления
    {% else %}
        Массовое добавление товаров
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/user-office/product-categories/spare-part/add-group-products.css'>
{% endblock %}

{% block body %}
    <main class="container">
        <ul id="breadcrumbs">
            <li><a class="user-link user-link--icon"  href="{{ path("show_user_office") }}">
                    <span class="user-name">{{ app.user.name }}</span><img class="user-icon" src="/img/component.png" alt="icon"></a>
            </li>
            <li class="more" onclick='dotClick()'><a>/  ...  </a></li>
            <li><a class="link" href="{{ path("user_profile_product_categories") }}">/ товары </a></li>
            <li><a class="link" href="{{ path("user_profile_product_categories_spare_part") }}">/ автозапчасти </a></li>

            {% if isEditAction %}
                <li><a class="current">/ Редактор группового объявления</a></li>
            {% else %}
                <li><a class="current">/ добавление товаров группой</a></li>
            {% endif %}
        </ul>

        <section class="choice">
            <div class="block-title">
                {% if isEditAction %}
                    <h1 class="choice-title">{{ default_text(7).headline }}</h1>
                {% else %}
                    <h1 class="choice-title">Массовое добавление товаров</h1>
                {% endif %}
                <a class="link-help"><img src="/img/help.png" alt="Подсказка"></a>
            </div>
            <div class="podskazka-m">
                <div class="close-m">x</div>
                {% if isEditAction %}
                    <h2>{{ default_text(8).headline }}</h2>
                    {{ default_text(8).text | raw }}
                {% else %}
                    <h2>{{ default_text(3).headline }}</h2>
                    {{ default_text(3).text | raw }}
                {% endif %}
            </div>

            <div id="form-edit-general-advert-container"
                 ng-controller="EditGeneralAdvertCtrl as editAdvert"
                 ng-init="editAdvert.init('#form-edit-general-advert', '{{ path(app.request.attributes.get("_route"), app.request.attributes.get("_route_params")) }}')">
                {% include('/client/user-office/seller-services/product-categories/spare-part/forms/add-general-advert-form.html.twig') with {"form" : form, 'isValid' : false, 'isConfirmBrand' : isConfirmBrand, "isEditAction": isEditAction} %}
            </div>

            {% if isEditAction %}
                <div class="btn-list">
                    <a href="{{ path("user_profile_product_categories_spare_part_add_general_advert") }}" class="btn btn-product">Добавить еще группу товаров</a>
                    <a href="{{ path("user_profile_product_categories_spare_part_list_adverts") }}" class="btn btn-product">Просмотреть поданные товары</a>
                </div>
                <h2 class="subtitle">{{ default_text(7).headline }}</h2>
                <div class="subtext">{{ default_text(7).text | raw }}</div>
            {% else %}
                <h2 class="subtitle">{{ default_text(5).headline }}</h2>
                <div class="subtext">{{ default_text(5).text | raw }}</div>
            {% endif %}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src='/js/client/pages/user-profile/product-categories/spare-part/add-group-products.js'></script>
    <script src='/js/client/controller/user-profile/product-categories/spare-part/edit-general-advert-controller.js'></script>
    <script src='/js/client/controller/user-profile/provider-cars-data.js'></script>
    <script src='/js/client/directive/user-profile/auto-spare-part-advert/get-models-by-brand-directive.js'></script>
    <script src='/js/client/directive/scroll-to-element.js'></script>
    <script src='/js/client/directive/redirect-to-url.js'></script>
{% endblock %}