{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/user-office/product-categories/spare-part/add-auto-set.css'>
{% endblock %}

{% block body %}
    <main class="container">
        <ul id="breadcrumbs">
            <li>
                <a class="user-link user-link--icon" href="{{ path("show_user_office") }}" title="Главная">
                    <span class="user-name">{{ app.user.name }}</span>
                    <svg class="user-icon" width="20px" height="20px" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.72222 30V28.5H7.22222H6.5V25.1323L8.47907 14H41.5209L43.5 25.1323V28.5H42.7778H41.2778V30V43.5H39.8333V30V28.5H38.3333H29.4444H27.9444V30V43.5H8.72222V30ZM25 41.5H26.5V40V30V28.5H25H11.6667H10.1667V30V40V41.5H11.6667H25ZM8.72222 6.5H41.2778V8.5H8.72222V6.5Z" stroke="#737373" stroke-width="3"/>
                    </svg>
                </a>
            </li>
            <li><a class="link-b" href="{{ path("user_profile_product_categories") }}"><span class="line">/</span>Товары </a></li>
            <li><a class="link-b" href="{{ path("user_profile_product_categories_spare_part") }}"><span class="line">/</span>Автозапчасти</a></li>
            <li><a class="current"><span class="line">/</span><span itemprop="name">Добавление комплектов</span></a></li>
        </ul>

        <section class="prod">
            <h1 class="title-main">Комплексная подача комплектов</h1>

            <div id="form-add-auto-set-container"
                 ng-controller="AddAutoSetCtrl as addAutoSet"
                 ng-init="addAutoSet.init('#form-add-auto-set', '{{ form.submitButtonName.vars.id }}', '{{ form.image.vars.id }}', null)" get-car-data-by-parameters
                 brand-id="{{ form.brand.vars.id }}"
                 model-id="{{ form.model.vars.id }}"
                 year-id="{{ form.year.vars.id }}"
                 engine-type-id="{{ form.engineType.vars.id }}"
                 engine-capacity-id="{{ form.engineCapacity.vars.id }}"
                 engine-name-id="{{ form.engineName.vars.id }}"
                 gear-box-type-id="{{ form.gearBoxType.vars.id }}"
                 vehicle-type-id="{{ form.vehicleType.vars.id }}"
                 drive-type-id="{{ form.driveType.vars.id }}"
            >
                {% include('/client/user-office/seller-services/product-categories/spare-part/forms/auto-set-form.html.twig') with {"form" : form} %}
            </div>

            <div class="text">{{ default_text(45).text | raw }}</div>
        </section>
    </main>

    <div id="popup1" class="overlay1">
        <section class="modal">
            <button class="modal-close close-popup-button" data-popup-id="1">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
            <line fill="#000" stroke="#737373" stroke-width="4" stroke-miterlimit="10" x1="7.741" y1="7.741" x2="42.359" y2="42.359"/>
                    <line fill="#000" stroke="#737373" stroke-width="4" stroke-miterlimit="10" x1="42.258" y1="7.742" x2="7.618" y2="42.382"/>
            </svg>
            </button>
            <h1 class="modal-title">{{ default_text(51).headline }}</h1>
            <div class="modal-text">{{ default_text(51).text | raw }}</div>
        </section>
    </div>

    <div id="popup2" class="overlay2">
        <div class="modal2">
            <div id="preloader" style="display: none;">
        <span class="load">Подождите, идет проверка и подача объявлений</span>
        <img id="preloader-posts" src="/img/preload-gear.svg"/>
    </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src='/js/client/controller/user-profile/product-categories/spare-part/add-auto-set-controller.js'></script>
    <script src='/js/client/controller/user-profile/provider-cars-data.js'></script>
    <script src='/js/client/service/user-profile/auto-spare-part-advert/set-car-data-service.js'></script>
    <script src='/js/client/service/image-upload-service.js'></script>
    <script src='/js/client/directive/user-profile/auto-spare-part-advert/get-car-data-by-parameters-directive.js'></script>
    <script src='/js/client/directive/input-by-pattern.js'></script>
{% endblock %}