{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/user-office/product-categories/spare-part/import-specific-adverts.css'>
{% endblock %}

{% block body %}
    <main class="container" ng-controller="ImportSpecificAdvertsCtrl as importCtrl">
        {% set sellerCompany = app.user.sellerData.sellerCompany %}

        <ul id="breadcrumbs">
            <li>
                <a class="user-link user-link--icon"  href="{{ path("show_user_office") }}">
                    <span class="user-name">{{ app.user.name }} </span>
                     <svg class="user-icon" width="20px" height="20px" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.72222 30V28.5H7.22222H6.5V25.1323L8.47907 14H41.5209L43.5 25.1323V28.5H42.7778H41.2778V30V43.5H39.8333V30V28.5H38.3333H29.4444H27.9444V30V43.5H8.72222V30ZM25 41.5H26.5V40V30V28.5H25H11.6667H10.1667V30V40V41.5H11.6667H25ZM8.72222 6.5H41.2778V8.5H8.72222V6.5Z" stroke="#737373" stroke-width="3"/>
                    </svg>
                </a>
            </li>
            <li>
                {% if sellerCompany.isSparePartSeller and sellerCompany.isAutoSeller %}
                    <a href="{{ path("user_profile_product_categories") }}"><span class="line">/</span>Товары</a>
                {% else %}
                    <a nohref><span class="line">/</span>Товары </a>
                {% endif %}
            </li>
            <li>
                <a href="{{ path("user_profile_product_categories_spare_part") }}"><span class="line">/</span>Автозапчасти</a>
            </li>
            <li>
                <a class="current"><span class="line">/</span>Импорт прайс-листа</a>
            </li>
        </ul>

        <section class="price">
            <h1 class="price-title">{{ default_text(14).headline }}</h1>
            <a class="btn price-btn" onclick="document.getElementById('upload-file-input').click()" ng-show="!importCtrl.isImportProcess && !importCtrl.isUploadAndCheckProcess">Выбрать файл для загрузки</a>
            <input id="upload-file-input" type="file" style="display: none" custom-on-change="importCtrl.uploadedFile">
            <div class="price-block" style="text-align: center; display: block;">
                <span ng-hide="importCtrl.fileName" style="color: red">Файл не выбран</span>
                <span ng-show="importCtrl.fileName" style="color: green">Файл выбран</span>
            </div>
            <p class="price-name" ng-bind="'Имя файла: ' + importCtrl.fileName" ng-show="importCtrl.fileName"></p>
            <div class="price-item">
                <button type="button" class="btn" ng-show="importCtrl.isPossibleImport && !importCtrl.isImportProcess" ng-click="importCtrl.importFile()">Импортировать</button>
                <div>
                    {#<span style="font-size: 17px;" ng-style="importCtrl.specialStyle">Файл загружается на сервер. Пожалуйста, подождите...</span>#}
                    {#<span style="font-size: 17px">Файл успешно загружен</span>#}
                    {#<span style="font-size: 17px; color: black">Идёт проверка файла. Пожалуйста, подождите...</span>#}
                    {#<span style="font-size: 17px">Файл корректный</span>#}
                    {#<span style="font-size: 17px; color: red">Файл некорректный. Были обнаружены следующие ошибки:</span>#}
                    {#<ul ng-repeat="error in importCtrl.errorsCheckFile">#}
                        {#<li style="color: red" ng-bind="error"></li>#}
                    {#</ul>#}
                    {#<span style="font-size: 17px; color: black">Исправьте ошибки и попробуйте ещё раз</span>#}
                    {#<span style="font-size: 17px; color: black">Чтобы импортировать данные нажмите кнопку импортировать</span>#}
                    {#<span style="font-size: 17px">Данные импортированы. Вы можете проверить их <a href="{{ path("user_profile_product_categories_spare_part_list_adverts") }}">здесь</a></span>#}
                    {#<span style="font-size: 17px; color: black">При импорте файл произошли ошибки. Исправьте ошибки или обратитесь в техподдержку. Данные техподдержки вы можете найти <a href="{{ path("general_about_page") }}">здесь</a></span>#}
                    <span style="font-size: 17px;" ng-style="importCtrl.messageStyle" ng-bind-html="importCtrl.message"></span>
                    <span style="font-size: 17px; color: black" ng-show="importCtrl.showErrorsAfterSuccessImport">Данные строки не были импортированы из-за ошибок:</span>
                    <ul ng-repeat="error in importCtrl.errors">
                        <li style="color: red" ng-bind="error"></li>
                    </ul>
                    <span style="font-size: 17px; color: black" ng-show="importCtrl.showSpecialMessage">Исправьте ошибки или обратитесь в техподдержку. Данные техподдержки вы можете найти <a href="{{ path("general_about_page") }}">здесь</a></span>
                    <img ng-show="importCtrl.longActionActive" id="preloader-posts" src="/img/preload-gear.svg"/>
                </div>
            </div>
            <div class="price-text">{{ default_text(14).text | raw }}</div>
        </section>

    </main>
{% endblock %}

{% block javascripts %}
    <script src='/js/client/controller/user-profile/product-categories/spare-part/import-specific-adverts-controller.js'></script>
{% endblock %}