{% extends 'base.html.twig' %}

{% block title %}Страница просмотра добавленных обьявлений{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href='/bower-components/jquery-modal/jquery.modal.min.css'>
    <link rel='stylesheet' href='/css/user-office/product-categories/spare-part/list-adverts.css'>
    <link rel='stylesheet' href='/css/user-office/product-categories/spare-part/delete-general-advert.css'>
{% endblock %}

{% block body %}
    {% set countSparePartGeneralAdverts = app.user.sellerData.advertDetail.autoSparePartGeneralAdverts | length %}
    {% set countSparePartSprecificAdverts = app.user.sellerData.advertDetail.autoSparePartSpecificAdverts | length %}
    {% set activeTab = app.request.query.get("tab") in ["general", "specific"] ? app.request.query.get("tab") : "" %}
    {% if not activeTab %}
        {% set activeTab = countSparePartGeneralAdverts == 0 and  countSparePartSprecificAdverts > 0 ? "specific" : "general" %}
    {% endif %}
    <main class="container">
        <ul id="breadcrumbs">
            <li>
                <a class="user-link user-link--icon" href="{{ path("show_user_office") }}" title="Главная">
                    <span class="user-name">{{ app.user.name }}</span>
                    <svg class="user-icon" width="20px" height="20px" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.72222 30V28.5H7.22222H6.5V25.1323L8.47907 14H41.5209L43.5 25.1323V28.5H42.7778H41.2778V30V43.5H39.8333V30V28.5H38.3333H29.4444H27.9444V30V43.5H8.72222V30ZM25 41.5H26.5V40V30V28.5H25H11.6667H10.1667V30V40V41.5H11.6667H25ZM8.72222 6.5H41.2778V8.5H8.72222V6.5Z" stroke="#737373" stroke-width="3"/>
                    </svg>
                </a>
            </li>
            <li><a class="link-b" href="{{ path("user_profile_product_categories") }}"><span class="line">/</span>Товары </a></li>
            <li><a class="link-b" href="{{ path("user_profile_product_categories_spare_part") }}"><span class="line">/</span>Автозапчасти</a></li>
            <li><a class="current"><span class="line">/</span>Мои объявления</a></li>
        </ul>

        <section class="prod">
            <h1 class="title" data-text="{{ default_text(6).headline }}"></h1>
            <ul class="block-product">
                <li class="product product--l product-1 {{ activeTab == 'general' ? "active" : ""  }}"><a href="/user-office/product-categories/spare-part/add-general-advert">Общие <span>({{ countSparePartGeneralAdverts }})</span></a></li>
                <li class="product product--r product-2 {{ activeTab == 'specific' ? "active" : ""  }}"><a href="/user-office/product-categories/spare-part/add-specific-advert">Товарные <span>({{ countSparePartSprecificAdverts }})</span></a></li>
            </ul>

            <div class="main-block">
                <button class="btn-sel" type="button">
                    <svg x="0px" y="0px" viewBox="0 0 50 50" width="18px" height="18px">
                        <line fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="13" y1="25" x2="37" y2="25"></line>
                        <line fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="25" y1="13" x2="25" y2="37"></line>
                        <circle fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" cx="25" cy="25" r="22"></circle>
                    </svg> Добавить объявление
                </button>
                {% include('/client/user-office/seller-services/product-categories/spare-part/list-adverts-tabs/group-adverts.html.twig') with {"generalAdverts" : generalAdverts} %}
                {% include('/client/user-office/seller-services/product-categories/spare-part/list-adverts-tabs/specific-adverts.html.twig') with {} %}
            </div>

            <p class="mod-text">{{ default_text(6).text | raw }}</p>


            <ul class="btn-list">
                <li><a class="btn" href="{{ path("user_profile_product_categories_spare_part_add_specific_advert") }}">Подать объявление о товаре</a></li>
                <li><a class="btn" href="{{ path("user_profile_product_categories_spare_part_add_general_advert") }}">Подать групповое объявление</a></li>
                <li><a class="btn" href="{{ path("user_office_import_specific_adverts") }}">Загрузить прайс-лист</a></li>
            </ul>
        </section>
    </main>

    {% include('/client/user-office/seller-services/product-categories/spare-part/modal/delete-general-advert.html.twig') %}
{% endblock %}

{% block javascripts %}
    <script src='/bower-components/jquery-modal/jquery.modal.min.js'></script>
    <script src='/js/client/pages/user-profile/product-categories/spare-part/list-adverts.js'></script>
    <script src='/js/client/controller/user-profile/product-categories/spare-part/list-specific-advert-controller.js'></script>
{% endblock %}