{% extends 'base.html.twig' %}


{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
      <link rel='stylesheet' href='/css/client/forum/final-page.css'>
{% endblock %}

{% block body %}
  {% set templateParameters = {"brand" : brand, "type": type, "code" : code, "model" : model} %}
  {% set routeParams = app.request.attributes.get('_route_params') %}
  <main class="container">
      <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="{{ title_provider("App\\Entity\\General\\MainPage") }}" itemprop="item">
            <span class="user-name" itemprop="name">Главная</span>
            <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
              <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
              <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
            </svg>
            <meta itemprop="position" content="1">
          </a>
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a class="link-b" href="{{ path("obd2_forum_choice_brand") }}" itemprop="item" title="{{ title_provider("App\\Entity\\Forum\\OBD2Forum\\OBD2ForumChoiceBrand") }}"><span class="line">/</span><span itemprop="name">OBD2 форум</span></a><meta itemprop="position" content="2"></li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a class="link-b" href="{{ path("obd2_forum_choice_type", {"urlBrand" : routeParams["urlBrand"]}) }}" itemprop="item" title="{{ title_provider("App\\Entity\\Forum\\OBD2Forum\\OBD2ForumChoiceType", templateParameters) }}"><span class="line">/</span><span itemprop="name">{{ brand.brandEn }}</span><meta itemprop="position" content="3"></a>
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a class="link-b" href="{{ path("obd2_forum_choice_code", {"urlBrand" : routeParams["urlBrand"], "urlType" : routeParams["urlType"]}) }}" itemprop="item" title="{{ title_provider("App\\Entity\\Forum\\OBD2Forum\\OBD2ForumChoiceCode", templateParameters) }}"><span class="line">/</span><span itemprop="name">Ошибка {{ type.designation }}</span><meta itemprop="position" content="4"></a>
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a class="link-b" href="{{ path("obd2_forum_choice_model", {"urlBrand" : routeParams["urlBrand"], "urlType" : routeParams["urlType"], "urlCode" : routeParams["urlCode"]}) }}" itemprop="item" title="{{ title_provider("App\\Entity\\Forum\\OBD2Forum\\OBD2ForumChoiceModel", templateParameters) }}"><span class="line">/</span><span itemprop="name">{{ type.designation }} {{ code.code }}</span><meta itemprop="position" content="5"></a>
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a class="current" href="" itemprop="item"><span class="line">/</span><span itemprop="name">{{ model.modelEn }}</span><meta itemprop="position" content="6"></a>
        </li>
      </ul>

      <section class="model">
        <h1>Заголовок H1 из админки</h1>
        <p>текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки, текст 1 из админки</p>
         
        <div class="btn-list">
          <button type="button" class="btn-form btn-show1">Поделиться опытом</button> 
          <button type="button" class="btn-form btn-show2">Задать вопрос...</button> 
        </div>

        {% include('/client/forum/obd2-forum/parts/messages.html.twig') %}

        <h2>Заголовок H2 из админки</h2>
        
        <p>текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки, текст 2 из админки</p>
        <button class="btn btn-show5">Универсальная кнопка</button>
      </section>
   </main>

    {% include('/client/forum/obd2-forum/parts/modals.html.twig') %}
     
{% endblock %}