{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
      <link rel='stylesheet' href='/css/client/forum/final-page.css'>
{% endblock %}

{% block body %}
  {% set templateParameters = {"brand" : brand, "type": type, "code" : code, "model" : model} %}
  {% set routeParams = app.request.attributes.get('_route_params') %}
  {% set getMessagesLink = path('ajax_get_obd2_forum_messages_with_model', routeParams) %}
  {% set addMessageLink = path('ajax_obd2_forum_add_message', routeParams) %}
    <div ng-controller="ForumOBD2Ctrl as forum" ng-init="forum.init('{{ getMessagesLink }}', '{{ addMessageLink }}')">
    <main class="container">
      <div class="inner-grey">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="{{ title_provider("App\\Entity\\General\\MainPage") }}" itemprop="item">
              <span class="user-name" itemprop="name">Главная</span>
              <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
              </svg>
              <meta itemprop="position" content="1">
            </a>
          </li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="link-b" href="{{ path("obd2_forum_choice_brand") }}" itemprop="item" title="{{ title_provider("App\\Entity\\Forum\\OBD2Forum\\OBD2ForumChoiceBrand") }}"><span class="line">/</span><span itemprop="name">OBD2 форум</span></a><meta itemprop="position" content="2"></li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="link-b" href="{{ path("obd2_forum_choice_type", {"urlBrand" : routeParams["urlBrand"]}) }}" itemprop="item" title="{{ title_provider("App\\Entity\\Forum\\OBD2Forum\\OBD2ForumChoiceType", templateParameters) }}"><span class="line">/</span><span itemprop="name">{{ brand.brandEn }}</span><meta itemprop="position" content="3"></a>
          </li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="link-b" href="{{ path("obd2_forum_choice_code", {"urlBrand" : routeParams["urlBrand"], "urlType" : routeParams["urlType"]}) }}" itemprop="item" title="{{ title_provider("App\\Entity\\Forum\\OBD2Forum\\OBD2ForumChoiceCode", templateParameters) }}"><span class="line">/</span><span itemprop="name">Ошибка {{ type.designation }}</span><meta itemprop="position" content="4"></a>
          </li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="link-b" href="{{ path("obd2_forum_choice_model", {"urlBrand" : routeParams["urlBrand"], "urlType" : routeParams["urlType"], "urlCode" : routeParams["urlCode"]}) }}" itemprop="item" title="{{ title_provider("App\\Entity\\Forum\\OBD2Forum\\OBD2ForumChoiceModel", templateParameters) }}"><span class="line">/</span><span itemprop="name">{{ type.designation }} {{ code.code }}</span><meta itemprop="position" content="5"></a>
          </li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="current" href="" itemprop="item"><span class="line">/</span><span itemprop="name">{{ model.modelEn }}</span><meta itemprop="position" content="6"></a>
          </li>
        </ul>

        <section class="model">
          <h1>{{ page.headline1 }}</h1>
          <p>{{ page.text1 | raw }}</p>

          <div class="btn-list">
            <button type="button" class="btn-form open-popup-button" data-popup-id="{{ app.user ? 1 : 5 }}" ng-click="forum.resetAddMessageForm();">Поделиться опытом</button>
            <button type="button" class="btn-form open-popup-button" data-popup-id="{{ app.user ? 2 : 5 }}" ng-click="forum.resetAddMessageForm();">Задать вопрос</button>
          </div>

          {% include('/client/forum/obd2-forum/parts/messages.html.twig') %}
        </section>
        <section class="model-b">
          <h2>{{ page.headline2 }}</h2>

          <p>{{ page.text2 | raw }}</p>

          <div class="btn-block">
              <a class="btn-l ui-button ui-widget ui-corner-all" href="{{ page.returnButtonLink }}" title="{{ title_provider({"link" : page.returnButtonLink}) }}">{{ page.returnButtonText }}</a>
            </div>
        </section>
        </div>
     </main>

    {% include('/client/forum/obd2-forum/parts/modals.html.twig') %}
    </div>
{% endblock %}

{% block javascripts %}
  <script src='/js/client/filter/order-object-by.js'></script>
  <script src='/js/client/controller/forum/obd2/forum-obd2-controller.js'></script>
{% endblock %}