{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/client/universal-page/spare-part.css'>
{% endblock %}

{% block body %}
    <main class="container">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="{{ titleHomepage }}"
                   itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10"
                                  points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_spare_part_catalog_choice_spare_part") }}" itemprop="item"
                   title="Запчасти для автомобилей и мототехники"><span class="line">/</span><span itemprop="name">Автозапчасти</span></a>
                <meta itemprop="position" content="2">
            </li>
            {% if sparePart %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="link-b" href="{{ path("show_spare_part_catalog_choice_brand", {"url" : sparePart.url}) }}" itemprop="item"
                       title="{{ previousPageTitle }}"><span class="line">/</span><span
                                itemprop="name">{{ sparePart.alternativeName5 }}</span>
                        <meta itemprop="position" content="3">
                    </a>
                </li>
            {% endif %}
            {% if page.lastBreadCrumb %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="current" nohref itemprop="item"><span class="line">/</span><span
                                itemprop="name">{{ page.lastBreadCrumb }}</span>
                        <meta itemprop="position" content="4">
                    </a>
                </li>
            {% endif %}
        </ul>

        <section class="model">
            <h1>{{ page.headline1 }}</h1>
            <div>{{ page.text1 | raw }}</div>

            <ul class="model-img">
                {% for image in page.images %}
                    <li>
                        <a class="model-item" nohref>
                            <img src="{{ image_url(image.image) }}" alt="{{ page.title }}" title="{{ page.headline1 }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>

            {% if page.returnButtonLink and page.returnButtonText %}
                <a href="{{ page.returnButtonLink }}" style="display: contents;">
                    <button class="btn">{{ page.returnButtonText }}</button>
                </a>
            {% endif %}

            <div>{{ page.text2 | raw }}</div>

            <ul class="model-block">
                {% if sparePart %}
                    {% for brand in brands %}
                        <li>
                            <a class="model-link"
                               href="{{ path("show_spare_part_catalog_choice_model", {"urlSP": sparePart.url, "urlBrand": brand.item.url}) }}">
                                <img src="{{ image_url(brand.item.logo) }}" alt="{{ brand.item.name }}"
                                     title="{{ brand.title }}">
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for sparePart in spareParts %}
                        <li>
                            <a class="model-link"
                               href="{{ path("universal_page_brand_specific_spare_part", {"urlSp": sparePart.item.url, "id": page.id}) }}">
                                <img src="{{ image_url(sparePart.item.logo) }}" alt="{{ sparePart.item.name }}"
                                     title="{{ sparePart.title }}">
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </section>
    </main>
{% endblock %}