{% extends 'base.html.twig' %}
{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href='/css/client/catalog/spare-part/in-stock.css'>
{% endblock %}

{% block body %}
    <main class="container">
      <ul id="breadcrumbs">
        <li >
          <a class="user-link user-link--icon" href="index.html">
            <span class="user-name">Главная</span>
            <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
              <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
              <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
            </svg>
          </a>
        </li>
        <li>
          <a class="link-b" href="#"><span class="line">/</span>Телефоны</a>
        </li>

        <li>
          <a class="link-b" href="#"><span class="line">/</span>Ремонт</a>
        </li>

        <li>
          <a class="link-b" href="#"><span class="line">/</span>[TELBRAND]</a>
        </li>

        <li>
          <a class="link-b" href="#"><span class="line">/</span>[TELMODEL]</a>
        </li>
       
        <li>
          <a class="current" href="#"><span class="line">/</span>[CITY]</a>
        </li>
      </ul>

        <div class=parts-text>
            {{ page.text1 | raw }}
        </div>
        <div class="stock">
            <a class="button" href="{{ page.returnButtonLink }}">{{ page.returnButtonText }}</a>
        </div>
        <div class='parts-text-b'>{{ page.text2 | raw }}</div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="/js/client/catalog/spare-part/in-stock.js"></script>
{% endblock %}