{% extends 'base.html.twig' %}
{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href='/css/client/catalog/spare-part/in-stock.css'>
{% endblock %}

{% block body %}
    <main class="container">
        <div class=parts-text>
            {{ page.text1 | raw }}
        </div>
        <div class="stock">
            <a href="{{ page.returnButtonLink }}">{{ page.returnButtonText }}</a>
        </div>
        <div class='parts-text-b'>{{ page.text2 | raw }}</div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="/js/client/catalog/spare-part/in-stock.js"></script>
{% endblock %}