{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <table class="table">
        <tbody>
            <tr>
                <td>Всего строк</td>
                <td><b>{{ object.countLines }}</b></td>
            </tr>
            <tr>
                <td>Успешно</td>
                <td style="color: green">
                    <span id="import-count-success-{{ object.id }}">{{ object.countSuccess }}</span>
                    <span id="check-count-success-{{ object.id }}"></span>
                </td>
            </tr>
            <tr>
                <td>Ошибок</td>
                <td style="color: red">
                    <span id="import-count-failed-{{ object.id }}">{{ object.countLines - object.countSuccess }}</span>
                    <span id="check-count-failed-{{ object.id }}"></span>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}