{% extends 'base.html.twig' %}
{% block title %}{{ page.title }}{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href='/css/client/catalog/spare-part/choice-spare-part.css'>
{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}
    <main class="container" ng-init="showAll = false;">
    <ul id="breadcrumbs">
        <li >
          <a class="user-link user-link--icon" href="index.html">
            <span class="user-name">Главная</span>
            <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
              <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
              <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
            </svg>
          </a>
        </li>
        <li>
          <a class="link-b" href="#"><span class="line">/</span>Телефоны</a>
        </li>

        <li>
          <a class="link-b" href="#"><span class="line">/</span>[TELBRAND]</a>
        </li>
       
        <li>
          <a class="current" href="#"><span class="line">/</span>[TELMODEL]</a>
        </li>
      </ul>
        <section class="catalog1">
            <div class=catalog1-text>
                {{ page.text1 | raw }}
            </div>

            <form class='modform' action="" method="get">

                <input id="work-autocomplete" class="form7" type="search"
                       auto-сomplete-autoparus add-url="{{ path(app.request.attributes.get('_route'), routeParams) }}"
                       method-search="searchPhoneWork" identifier-field="work-autocomplete"
                       name="search" placeholder="Наименование запчасти">
            </form>

            <ul class='showMoreModel' id='model' ng-show="showAll">
                {% for sparePart in allSpareParts %}
                    <li><a class="mod-link" href='{{ path("show_phone_spare_part_catalog_choice_city", {"urlSP" : sparePart.url}|merge(routeParams)) }}'>{{ sparePart.name }}</a></li>
                {% endfor %}
            </ul>
            <ul class='showMoreModel' id='model' ng-hide="showAll">
                {% for sparePart in popularSpareParts %}
                    <li><a class="mod-link" href='{{ path("show_phone_spare_part_catalog_choice_city", {"urlSP" : sparePart.url}|merge(routeParams)) }}'>{{ sparePart.name }}</a></li>
                {% endfor %}
            </ul>

            <div id='showAll3' ng-hide="showAll" ng-click="showAll = true">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</div>
            <div id='showAll3' ng-show="showAll" ng-click="showAll = false">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</div>

            <p class='catalog1-text-b'>{{ page.text2 | raw }}</p>

        </section>

    </main>
{% endblock %}