{% extends 'base.html.twig' %}
{% block title %}{{ page.title }}{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href='/css/client/catalog/spare-part/choice-brand.css'>
{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block body %}
    <main class="container"  ng-init="showAll = false;">
        <ul id="breadcrumbs">
            <li>
              <a class="user-link user-link--icon" href="index.html">
                <span class="user-name">Главная</span>
                <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                  <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                  <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                </svg>
              </a>
            </li>
           
            <li>
              <a class="current" href="#"><span class="line">/</span>Телефоны</a>
            </li>
        </ul>

        <section class="marka">
            <div class="marka-text">{{ page.text1 | raw }}</div>

            <div class='mod-search' id="search-autocomplete-container">
                <form class='modform' action="" method="get">
                    <input id="brand-autocomplete" class='form7' name="search"
                           auto-сomplete-autoparus add-url="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"
                           method-search="searchPhoneBrands" identifier-field="brand-autocomplete"
                           placeholder="Выберите марку телефона:" type="search" >
                </form>
            </div>

            <ul class='showMoreModel' id='model' ng-show="showAll">
                {% for brand in allBrands %}
                    <li><a class="model-link" href='{{ path("show_phone_spare_part_catalog_choice_phone_model", {"urlBrand" : brand.url}) }}'><span>{{ brand.brandEn }}</span> <img src="{{ image_url(brand.logo) }}" alt="{{ brand.brandEn }}" title="{{ brand.name }}"></a></li>
                {% endfor %}
            </ul>
            <ul class='model-block showMoreModel' id='model' ng-hide="showAll">
                {% for brand in popularBrands %}
                    <li><a class="model-link" href='{{ path("show_phone_spare_part_catalog_choice_phone_model", {"urlBrand" : brand.url}) }}'><span>{{ brand.brandEn }}</span> <img src="{{ image_url(brand.logo) }}" alt="{{ brand.brandEn }}" title="{{ brand.name }}"></a></li>
                {% endfor %}
            </ul>

            <div id='showAll4' ng-hide="showAll" ng-click="showAll = true" onclick="scrollToElement('#search-autocomplete-container')">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</div>
            <div id='showAll4' ng-show="showAll" ng-click="showAll = false" onclick="scrollToElement('#search-autocomplete-container')">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</div>

            <div class='marka-text-b'>{{ page.text2 | raw }}</div>
        </section>
    </main>
{% endblock %}