{% extends 'base.html.twig' %}
{% block title %}{{ page.title }}{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href='/css/client/catalog/spare-part/choice-city.css'>
{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}
{% block body %}
    <main class="container" ng-init="showAll = false;">
        {% set routeParams = app.request.attributes.get('_route_params') %}
        <div class=city-text>
            {{ page.text1 | raw }}
        </div>

        <div class='contentWrapp1'>
            <div class='cities-main'>
                <div class='cButtons1'>
                    {% for capital in capitals %}
                        <a href="{{ path("show_phone_spare_part_catalog_final_page", {"urlCity" : capital.url}|merge(routeParams)) }}">
                            <div class='cB11'>{{ capital.name }}</div>
                        </a>
                    {% endfor %}
                    <div id='showButton1' ng-click="showAll = !showAll" ng-show="showAll">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</div>
                    <div id='showButton1' ng-click="showAll = !showAll" ng-hide="showAll">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</div>
                </div>
                <div class='showC1' id='hiddenCities1' ng-show="showAll">
                    {% set isDivisible3 = (otherCities | length) is divisible by(3) %}
                    {% set isPlus1Divisible3 = ((otherCities | length) + 1) is divisible by(3) %}
                    {% set isPlus2Divisible3 = ((otherCities | length) + 2) is divisible by(3) %}
                    {% set length = otherCities | length %}

                    <div class='hC11'>
                        <ul>
                            {% set from = 0 %}
                            {% set to = (isDivisible3 ? (length / 3) : (length / 3) + 1)|round(0, 'floor') %}
                            {% for city in otherCities|slice(from, to - from) if city.url %}
                                <li><a href="{{ path("show_phone_spare_part_catalog_final_page", {"urlCity" : city.url}|merge(routeParams)) }}">{{ city.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class='hC21'>
                        <ul>
                            {% set from = to %}
                            {% set to = (isDivisible3 ? (2 * length / 3) : (2 * length / 3 + 1))|round(0, 'floor') %}
                            {% for city in otherCities|slice(from, to - from) if city.url %}
                                <li><a href="{{ path("show_phone_spare_part_catalog_final_page", {"urlCity" : city.url}|merge(routeParams)) }}">{{ city.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class='hC31'>
                        <ul>
                            {% set from = to %}
                            {% set to = length %}
                            {% for city in otherCities|slice(from, to - from) if city.url %}
                                <li><a href="{{ path("show_phone_spare_part_catalog_final_page", {"urlCity" : city.url}|merge(routeParams)) }}">{{ city.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <section class="condition-description">

            <h2 class="condition-description__title">
                {{ page.text3 | raw }}
            </h2>
        </section>

        <div class='cities-b'>
            <div>{{ page.text2 | raw }}</div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="/js/client/catalog/spare-part/choice-city.js"></script>
{% endblock %}