{% extends 'base.html.twig' %}
{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/catalog/auto/city/choose-city.css'>
{% endblock %}

{% block body %}
    <main class="container">
        <ul id="breadcrumbs">
            <li>
                <a class="user-link user-link--icon"  href="{{ path("homepage") }}">
                    <span class="user-name">Главная </span>
                    <img class="user-icon" src="/img/home.png" alt="icon">
                </a>
            </li>
            <li><a class="current">/ Пользователям</a></li>
        </ul>

        <section class="city">
            <h1 class="city-title">{{ page.headline1 }}</h1>
            <div class=city-desc>
                <div id='text1' class='text1Hide'>{{ page.text1 | raw }}</div>
            </div>
            <div class="city-block">
                <div class="city-list">
                    <div class='city-subtext'>{{ page.text2 | raw }}</div>
                    <a href="{{ page.returnButtonLink }}" class="city-btn">{{ page.returnButtonText }}</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}