{% extends 'base.html.twig' %}
{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/client/general/user-agreement.css'>
{% endblock %}

{% block body %}
    <main class="container">
        <ul id="breadcrumbs">
            <li>
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="Главная">
                    <span class="user-name">Главная </span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                </a>
            </li>
            <li><a class="current">/ Пользовательское соглашение</a></li>
        </ul>

        <section class="contract">
            <h1 class="title" data-text="{{ page.headline }}"></h1>
            <div class="text">{{ page.text | raw }}</div>
            <a href="{{ path("registration") }}" style="color: #000000"><button class="button" type="button">{{ page.textButtonReject }}</button></a>
            {#<button class="button" type="button">Я не согласен с условиями</button>#}
        </section>
    </main>
{% endblock %}