<div class="tab tab-1 {{ activeTab == 'general' ? "modal--show" : ""  }}">
    <h2 class="subtitle" data-text="Объявления добавленные группой (массово добавленные)">
    <sup>
        <button class="help help-1">
            <svg viewBox="0 0 32 32" width="18px" height="18px">
                <path fill="#757373" d="M 16 4 C 9.382813 4 4 9.382813 4 16 C 4 22.617188 9.382813 28 16 28 C 22.617188 28 28 22.617188 28 16 C 28 9.382813 22.617188 4 16 4 Z M 16 6 C 21.535156 6 26 10.464844 26 16 C 26 21.535156 21.535156 26 16 26 C 10.464844 26 6 21.535156 6 16 C 6 10.464844 10.464844 6 16 6 Z M 16 10 C 13.800781 10 12 11.800781 12 14 L 14 14 C 14 12.882813 14.882813 12 16 12 C 17.117188 12 18 12.882813 18 14 C 18 14.765625 17.507813 15.445313 16.78125 15.6875 L 16.375 15.8125 C 15.558594 16.082031 15 16.863281 15 17.71875 L 15 19 L 17 19 L 17 17.71875 L 17.40625 17.59375 C 18.945313 17.082031 20 15.621094 20 14 C 20 11.800781 18.199219 10 16 10 Z M 15 20 L 15 22 L 17 22 L 17 20 Z "/>
            </svg>
        </button>
        </sup>
    </h2>
    <section class="modal modal-1">
        <h3 class="modal-title">{{ default_text(20).headline }}</h3>
        <p class="modal-text">{{ default_text(20).text | raw }}</p>
        <button class="button-close button-close-1"> &lt;&lt;&lt; Свернуть подсказку &lt;&lt;&lt; </button>
    </section>

    {% for advert in generalAdverts %}
        <div class="block-marka" ng-init="showBlock_{{ advert.id }} = false;">
            <div class="marka">
                <b>{{ advert.brand ? advert.brand.brandEn : "Все марки - Все модели" }}</b>
                <div class="tool">
                    <a href="{{ path("user_profile_product_categories_spare_part_edit_general_advert", {"id": advert.id}) }}" class="tool-rdc"><span class="item-1">Редактировать</span><img src="/img/cra.png" alt="Редактировать"></a>
                    <a href="#delete-advert-modal" rel="modal:open" class="tool-close" ng-click="modalAdvert = {{ advert.id }}"><span class="item-1">Удалить</span><img src="/img/delete-b.png" alt="Удалить"></a>
                </div>
            </div>

            {% if advert.models | length %}
                <div class="wrapper">
                    <div class="model model--l">
                        <ul class="model-list">
                            {% for model in advert.models %}
                                <li {{ loop.index > 3 ? 'ng-show=showBlock_' ~ advert.id ~ '' : '' }}>{{ model.name }}</li>
                            {% endfor %}
                        </ul>
                        {% if advert.models | length > 3 %}
                            <div class="point" ng-hide="showBlock_{{ advert.id }}">
                                <span>*</span>
                                <span>*</span>
                                <span>*</span>
                            </div>
                            <span class="sel">[Выбрано {{ advert.models | length }} моделей]</span>
                        {% endif %}
                    </div>
                    <div class="model model--r">
                        <ul class="model-list model-list--p">
                            {% for sparePart in advert.spareParts %}
                                <li {{ loop.index > 3 ? 'ng-show=showBlock_' ~ advert.id ~ '' : '' }}>{{ sparePart.name }}</li>
                            {% endfor %}
                        </ul>
                        {% if advert.spareParts | length > 3 %}
                            <div class="point" ng-hide="showBlock_{{ advert.id }}">
                                <span>*</span>
                                <span>*</span>
                                <span>*</span>
                            </div>
                            <span class="sel">[Количество запчастей {{ advert.spareParts | length }}]</span>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="model model--c">
                    <ul class="model-list">
                        {% for sparePart in advert.spareParts %}
                            <li {{ loop.index > 3 ? 'ng-show=showBlock_' ~ advert.id ~ '' : '' }}>{{ sparePart.name }}</li>
                        {% endfor %}
                    </ul>
                    {% if advert.spareParts | length > 3 %}
                        <div class="point" ng-hide="showBlock_{{ advert.id }}">
                            <span>*</span>
                            <span>*</span>
                            <span>*</span>
                        </div>
                        <span class="sel">[Количество запчастей {{ advert.spareParts | length }}]</span>
                    {% endif %}
                </div>
            {% endif %}

            <button class="show" ng-hide="showBlock_{{ advert.id }}" ng-click="showBlock_{{ advert.id }} = true;">Показать полностью</button>
            <button class="show" ng-show="showBlock_{{ advert.id }}" ng-click="showBlock_{{ advert.id }} = false;">Свернуть</button>
            <p class="text">{{ advert.getConditionTypeView() }}, {{ advert.getStockTypeView() }}</p>
            <p class="subtext">{{ advert.comment }}</p>
        </div>
    {% endfor %}
</div>