{% extends 'base.html.twig' %}
{% block title %}{{ homePage.title }}{% endblock %}
{% block meta_description %}{{ homePage.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/bower-components/owl.carousel/dist/assets/owl.carousel.min.css'>
    <link rel='stylesheet' href='/bower-components/owl.carousel/dist/assets/owl.theme.default.min.css'>
    <link rel='stylesheet' href='/css/default/index.css'>
{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}
    {% set pageType = app.request.get('_route') in ["homepage_filter_user", "homepage_filter_user_all_users"] ? "user" : app.request.get('_route') in ["homepage_filter_brand", "homepage_filter_brand_model", "homepage_filter_brand_all_users", "homepage_filter_brand_model_all_users"] ? "car" : "business" %}
    {% set hasModel = routeParams["urlModel"] is defined %}
    {% set searchParams = "_all_users" in app.request.attributes.get('_route') ? routeParams|merge({"allUsers" : "allUsers"}) : routeParams %}

    <main class="container">
        <div class="post-block">
            {% if pageType == "user" %}
                <img class="name-foto" ng-src="{[{post.userPhoto}]}" alt="Фото" ng-show="$first">
                <b class="name" ng-bind="post.userName" ng-show="$first"></b>
            {% elseif pageType == "car" %}
                <a href="{[{posts.getUserFilterUrl(post.userId)}]}"><img class="name-foto" ng-src="{[{post.userPhoto}]}" alt="Фото"></a>
                <a href="{[{posts.getUserFilterUrl(post.userId)}]}"><b class="name" ng-bind="post.userName"></b></a>
            {% else %}
                <img class="name-foto" ng-src="{[{post.userPhoto}]}" alt="Фото">
                <b class="name" ng-bind="post.userName"></b>
            {% endif %} 
        </div>

        <div class="main-page" itemscope itemtype="https://schema.org/Organization">
            <ul class="content" ng-controller="MainPagePostsCtrl as posts" ng-init="posts.init('{{ path("search_posts") }}', '{{ searchParams | json_encode }}')">
                <li id="post-{[{post.id}]}" class="content-item" ng-repeat="post in posts.posts" ng-cloak>
                    <div class="post-block">
                        <button class="btn us-btn5 cbutton open-popup-button" type="button" data-popup-id="7">
                            <span class="points"></span>
                            <span class="points"></span>
                            <span class="points"></span>
                        </button>
                    </div>

                    <div class="content-wrapper">
                        <div class="foto post-images-{[{post.id}]} owl-carousel owl-theme owl-type" carousel-element data-post-id="{[{post.id}]}">
                            {% if hasModel %}
                                <a carousel-item data-photo-id="{[{image.id}]}" ng-repeat="image in post.images" ng-cloak ng-href="{[{post.type === 'simple' ? posts.getBrandModelFilterUrl(post.brand, null) : posts.getCityActivityFilterUrl(post.city, post.activity) }]}">
                            {% else %}
                                <a carousel-item data-photo-id="{[{image.id}]}" ng-repeat="image in post.images" ng-cloak ng-href="{[{post.type === 'simple' ? posts.getBrandModelFilterUrl(post.brand, post.model) : posts.getCityActivityFilterUrl(post.city, post.activity) }]}">
                            {% endif %}
                                <img ng-src="{[{image.path}]}" alt="Картинка">
                            </a>
                        </div>

                        <div class="user-block">
                        <h3 class="user-title">Гран При Великобритании: Хэмилтон - Боттас - Леклер</h3>
                            <div class="text-block text-block-w">
                                <div id='text1' class='text1Show' show-more-lines class-less="text5BigHide" class-more="text1Show" count-lines="3" trigger-open=".open-more-lines-button-{[{ post.id }]}" trigger-close=".close-more-lines-button-{[{ post.id }]}" ng-bind-html="post.description"></div>
                                <button id='allText' class="open-more-lines-button-{[{ post.id }]}" style="display: none;">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                                <button id='allText' class="close-more-lines-button-{[{ post.id }]}" style="display: none;">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
                            </div>
                            {#{% for car in pos.cars %}#}
                                {#<ul class="user-list">#}
                                    {#<li><a nohref><img src="/img/Logo1.svg" alt="Парус" width="16" height="16"></a></li>#}
                                    {#<li>/</li>#}
                                    {#{% if car.brand %}#}
                                        {#<li style="font-size: 12px;">{{ car.brand.name }}</li>#}
                                        {#{% if car.model %}#}
                                            {#<li>/</li>#}
                                            {#<li style="font-size: 10px;">{{ car.model.name }}</li>#}
                                            {#{% if car.engineType %}#}
                                                {#<li>/</li>#}
                                                {#<li style="font-size: 10px;">{{ car.engineType.type }}</li>#}
                                            {#{% endif %}#}
                                        {#{% endif %}#}
                                    {#{% endif %}#}
                                {#</ul>#}
                            {#{% endfor %}#}
                            {#<p class="adress" ng-bind="post.address"></p>#}
                            <div class="date-block">
                                <span class="date" ng-bind="post.date"></span>
                                <span class="time" ng-bind="post.time"></span>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
            <img id="preloader-posts" style="margin-left: auto; margin-right: auto; padding-top: 33px; display: none;" src="/img/preload-gear.svg"/>
            <div class="sail-f">
                <img src="/img/windsurfing.png" alt="Парус">
                <img src="/img/windsurfing.png" alt="Парус">
                <img src="/img/windsurfing.png" alt="Парус">
                <img src="/img/windsurfing.png" alt="Парус">
                <img src="/img/windsurfing.png" alt="Парус">
            </div>
        </div>
    </main>

    <div id="popup7" class="overlay6">
        <section class="modal6">
            <div class="modal-header">
                <button class="button-home close-popup-button" data-popup-id="7"><img src="/img/left-arrow1.png" alt="Назад"> <span> Назад</span></button>
                <h3 class="button-title" data-text="Autoparus.by"></h3>
                <a href="{{ app.user ? path("show_user_office") : path("registration") }}">
                    <button class="button-home">
                        <span>Вперед </span>
                        <img src="/img/right-arrow1.png" alt="Далее">
                    </button>
                </a>
            </div>
            <div class="block-modal">
                <h4 class="button-title-m">{{ default_text(42).headline }}</h4>

                <ul class="list">
                    {% for action in homePage.actions %}
                        <li><a href="{{ action.link }}" class="user-btn">{{ action.name }}</a></li>
                    {% endfor %}
                </ul>

                <div class="modal-text">{{ default_text(42).text | raw }}</div>


            </div>
            <button class="button-cl close-popup-button" data-popup-id="7"><span>Закрыть</span></button>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script src='/bower-components/owl.carousel/dist/owl.carousel.min.js'></script>
    <script src='/js/client/directive/user-profile/post-photos-owl-carousel.js'></script>
    <script src='/js/client/controller/default/main-page-posts-controller.js'></script>
{% endblock %}