{% extends 'base.html.twig' %}
{% block title %}{{ homePage.title }}{% endblock %}
{% block meta_description %}{{ homePage.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/bower-components/owl.carousel/dist/assets/owl.carousel.min.css'>
    <link rel='stylesheet' href='/bower-components/owl.carousel/dist/assets/owl.theme.default.min.css'>
    <link rel='stylesheet' href='/css/default/index.css'>
{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}
    {% set searchParams = "_all_users" in app.request.attributes.get('_route') ? routeParams|merge({"allUsers" : "allUsers"}) : routeParams %}
    <main class="container"  ng-controller="MainPagePostsCtrl as posts" ng-init="posts.init('{{ path("search_posts") }}', '{{ searchParams | json_encode }}', true)">
      <h1 class="visually-hidden">Автопортал "Автопарус"</h1>
      <div itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="Автопарус" />
        <link itemprop="url" href="https://www.autoparus.by/" />
        <link itemprop="logo" href="https://www.autoparus.by/image/catalog/logo.png" />

        <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <meta itemprop="addressLocality" content="Минск, Беларусь" />
            <meta itemprop="postalCode" content="220089" />
            <meta itemprop="streetAddress" content="Германовская 19" />
        </div>
        <meta itemprop="telephone" content="+375296330073" />

        <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
            <meta itemprop="ratingValue" content="4.5">
            <meta itemprop="reviewCount" content="2">
        </div>
        <link itemprop="sameAs" href="https://vk.com/group" />
        <link itemprop="sameAs" href="https://twitter.com/group" />
      </div>
      <div class="article-wrapper">
        <div class="article">
            {% for articleArray in articles|slice(0, (is_mobile() ? 3 : 7)) if articleArray.object.detail.themes | length > 0 %}
                {% set article = articleArray.object %}
                <a href="{{ path("article_catalog_show_article", {"id" : article.id}) }}" class="article-link">
                    <h2 class="article-title add-three-dots-2-lines"><span>{{ article.headline1 }}</span></h2>
                    <div class="article-foto">
                        <img src="{{ image_url(article.mainArticleImage.imageThumbnail) }}" alt="Картинка">
                        <div class="article-block">
                            <span class="article-date">{{ article.updatedAt | date("d.m.Y") }}</span>
                            <span class="article-time">{{ article.updatedAt | date("H:i") }}</span>
                        </div>
                    </div>

                    <h3 class="article-subtitle add-three-dots-3-lines">{{ article.headline2 }}</h3>
                </a>
            {% endfor %}
        </div>
        <a href="/stati/news" class="art-link">&gt;&gt;&gt;<span> Показать все новости </span>&gt;&gt;&gt;</a>
        </div>

        {{ render(path('show_article_header_slider')) }}

        <div class="cont-inner">
          <ul class="content">
              {% for articleArray in ourArticles[:3] %}
                  {% set article = articleArray.object %}
                  {% set articleUrl = path("article_catalog_show_article", {"id" : article.id}) %}
                <li class="content-item">
                    <div class="content-inner">
                        <div class="foto-inner">
                            <a href="{{ articleUrl }}">
                                <img src="{{ image_url(article.mainArticleImage.imageThumbnail) }}" alt="Картинка">
                            </a>
                        </div>

                        <div class="user-block">
                            <a href="{{ articleUrl }}">
                              <h3 class="user-title">{{ article.headline1 }}</h3>
                                <div id='text2' class='text1Show add-three-dots-4-lines'>{{ article.mainArticleImage.text | raw }}</div>
                            </a>
                              <div class="date-block">
                                  <span class="date">{{ article.createdAt|date("d.m.Y") }}</span>
                                  <span class="time">{{ article.createdAt|date("H:i") }}</span>
                              </div>
                        </div>
                    </div>
                </li>
              {% endfor %}
            </ul>
            {% include('/client/default/parts/search-form-main.html.twig') %}
            </div>

            <div class="art-inner">
                <div class="art">
                    {% for articleArray in ourArticles[3:6] %}
                        {% set article = articleArray.object %}
                        <a href="{{ path("article_catalog_show_article", {"id" : article.id}) }}" class="art-i">
                            <div class="art-f">
                                <img src="{{ image_url(article.mainArticleImage.imageThumbnail) }}" alt="Картинка">
                            </div>
                            <div class="art-inner--m">
                                <h3 class="art-t">{{ article.headline1 }}</h3>
                                <p class="art-text">{{ article.headline2 }}<p>
                                <p class="art-data">{{ article.createdAt | date("d.m.Y") }}<p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <a href="/stati" class="art-link">&gt;&gt;&gt;<span> Показать все публикации </span>&gt;&gt;&gt;</a>
            </div>

            <div class="cont-inner">
                {% include('/client/default/parts/search-form-obd2.html.twig') %}

                <ul class="content">
                    {% for articleArray in ourArticles[9:] %}
                        {% set article = articleArray.object %}
                        {% set articleUrl = path("article_catalog_show_article", {"id" : article.id}) %}
                        <li class="content-item">
                            <div class="content-inner">
                                <div class="foto-inner foto-inner--m">
                                    <a href="{{ articleUrl }}">
                                        <img src="{{ image_url(article.mainArticleImage.imageThumbnail) }}" alt="Картинка">
                                    </a>
                                </div>

                                <div class="user-block user-block--m">
                                    <a href="{{ articleUrl }}">
                                        <h3 class="user-title">{{ article.headline1 }}</h3>
                                        <div id='text2' class='text1Show add-three-dots-4-lines'>{{ article.mainArticleImage.text | raw }}</div>
                                    </a>
                                    <div class="date-block">
                                        <span class="date">{{ article.createdAt|date("d.m.Y") }}</span>
                                        <span class="time">{{ article.createdAt|date("H:i") }}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>   
            </div>

            <section class="news">
              <div class="news-wrapper">
                  {{ homePage.text | raw }}
              </div>
            </section>

        <ul class="block-art">
            <li id="post-{[{post.id}]}" class="art-item" ng-repeat="post in posts.posts | limitTo: 4" ng-cloak>
                <div class="art-block">
                    <a ng-href="{[{posts.getUserFilterUrl(post.userId)}]}"><img class="name-foto" ng-src="{[{post.userPhoto}]}" alt="Фото"></a>
                    <a ng-href="{[{posts.getUserFilterUrl(post.userId)}]}"><b class="name" ng-bind="post.userName"></b></a>
                  <button class="btn open-popup-button" type="button" data-popup-id="7">
                    <span class="points"></span>
                    <span class="points"></span>
                    <span class="points"></span>
                  </button>
                </div>

                <div class="content-wrapper">
                    <div class="art-foto post-images-{[{post.id}]} owl-carousel owl-theme owl-type" carousel-element data-post-id="{[{post.id}]}">
                        <a carousel-item data-photo-id="{[{image.id}]}" ng-repeat="image in post.images | limitTo: 3" ng-cloak ng-href="{[{posts.moveToPost(post.id, post.type)}]}">
                            <img ng-src="{[{image.path}]}" alt="Картинка">
                        </a>
                    </div>
                  <div class="art-user">

                    <a href="{[{posts.moveToPost(post.id, post.type)}]}">
                          <h3 class="user-subtitle" ng-bind="post.headline"></h3>
                          <div id='text2' class='text1Show' ng-bind-html="post.description"></div>
                    </a>

                    <div class="date-block">
                        <span class="date" ng-bind="post.date"></span>
                        <span class="time" ng-bind="post.time"></span>
                    </div>
                  </div>
                </div>
            </li>
        </ul>

        <div class="art">
            {% for articleArray in notOurNotNews %}
                {% set article = articleArray.object %}
                <a href="{{ path("article_catalog_show_article", {"id" : article.id}) }}" class="art-i">
                    <div class="art-f">
                        <img src="{{ image_url(article.mainArticleImage.imageThumbnail) }}" alt="Картинка">
                    </div>
                    <div class="art-inner--m">
                    <h3 class="art-t">{{ article.headline1 }}</h3>
                    <p class="art-text">Autoparus.by<p>
                    <p class="art-data">00.00.0000<p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="article">
            {% for articleArray in articles|slice(0, (is_mobile() ? 3 : 7)) if articleArray.object.detail.themes | length > 0 %}
                {% set article = articleArray.object %}
                <a href="{{ path("article_catalog_show_article", {"id" : article.id}) }}" class="article-link">
                    <h2 class="article-title add-three-dots-2-lines"><span>{{ article.headline1 }}</span></h2>
                    <div class="article-foto">
                        <img src="{{ image_url(article.mainArticleImage.imageThumbnail) }}" alt="Картинка">
                        <div class="article-block">
                            <span class="article-date">{{ article.updatedAt | date("d.m.Y") }}</span>
                            <span class="article-time">{{ article.updatedAt | date("H:i") }}</span>
                        </div>
                    </div>

                    <h3 class="article-subtitle add-three-dots-3-lines">{{ article.headline2 }}</h3>
                </a>
            {% endfor %}
        </div>
        <a href="/stati/news" class="art-link">&gt;&gt;&gt;<span> Показать все новости </span>&gt;&gt;&gt;</a>
        </div>

        <div class="cont-inner">
          <ul class="content">
              {% for articleArray in ourArticles[:3] %}
                  {% set article = articleArray.object %}
                  {% set articleUrl = path("article_catalog_show_article", {"id" : article.id}) %}
                <li class="content-item">
                    <div class="content-inner">
                        <div class="foto-inner">
                            <a href="{{ articleUrl }}">
                                <img src="{{ image_url(article.mainArticleImage.imageThumbnail) }}" alt="Картинка">
                            </a>
                        </div>

                        <div class="user-block">
                            <a href="{{ articleUrl }}">
                              <h3 class="user-title">{{ article.headline1 }}</h3>
                                <div id='text2' class='text1Show add-three-dots-4-lines'>{{ article.mainArticleImage.text | raw }}</div>
                            </a>
                              <div class="date-block">
                                  <span class="date">{{ article.createdAt|date("d.m.Y") }}</span>
                                  <span class="time">{{ article.createdAt|date("H:i") }}</span>
                              </div>
                        </div>
                    </div>
                </li>
              {% endfor %}
            </ul>
            {% include('/client/default/parts/search-form-main.html.twig') %}
            </div>

        <div class="baner-block">
            {% for banner in homePage.banners %}
                <a href="{{ banner.link }}"><img src="{{ image_url(banner.image) }}" alt="{{ banner.alt }}"></a>
            {% endfor %}
        </div>

        <ul class="block-art">
            <li id="post-{[{post.id}]}" class="art-item" ng-repeat="post in posts.posts | limitTo:(posts.posts.length - 4):4" ng-cloak>
                <div class="art-block">
                    {#<a ng-href="{[{posts.getUserFilterUrl(post.userId)}]}"><img class="name-foto" ng-src="{[{post.userPhoto}]}" alt="Фото"></a>#}
                    {#<a ng-href="{[{posts.getUserFilterUrl(post.userId)}]}"><b class="name" ng-bind="post.userName"></b></a>#}
                    {#<button class="btn open-popup-button" type="button" data-popup-id="7">#}
                        {#<span class="points"></span>#}
                        {#<span class="points"></span>#}
                        {#<span class="points"></span>#}
                    {#</button>#}
                </div>
                <div class="content-wrapper content-wrapper--m">
                    <div class="art-foto art-foto--m post-images-{[{post.id}]} owl-carousel owl-theme owl-type" carousel-element data-post-id="{[{post.id}]}">
                        <a carousel-item data-photo-id="{[{image.id}]}" ng-repeat="image in post.images | limitTo: 3" ng-cloak ng-href="{[{posts.moveToPost(post.id, post.type)}]}">
                            <img ng-src="{[{image.path}]}" alt="Картинка">
                        </a>
                    </div>
                    <div class="art-user">
                        <a href="{[{posts.moveToPost(post.id, post.type)}]}">
                            <h3 class="user-subtitle" ng-bind="post.headline"></h3>
                            <div id='text2' class='text1Show' ng-bind-html="post.description"></div>
                        </a>

                        <div class="date-block">
                            <span class="date" ng-bind="post.date"></span>
                            <span class="time" ng-bind="post.time"></span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="sail-f">
            <img src="img/windsurfing.png" alt="Парус">
            <img src="img/windsurfing.png" alt="Парус">
            <img src="img/windsurfing.png" alt="Парус">
            <img src="img/windsurfing.png" alt="Парус">
            <img src="img/windsurfing.png" alt="Парус">
        </div>
    </main>

    {#<div id="popup6" class="overlay6">#}
        {#<section class="modal6">#}
            {#<div class="modal-header ">#}
                {#<button class="button-home close-popup-button" data-popup-id="6"><img src="/img/left-arrow1.png" alt="Назад"> <span> Назад</span></button>#}
                {#<h3 class="button-title" data-text="Последовательный поиск"></h3>#}
                {#{% if app.user %}#}
                    {#<button class="button-home close-popup-button" data-popup-id="6">#}
                        {#<span>Вперед </span>#}
                        {#<img src="/img/right-arrow1.png" alt="Далее">#}
                    {#</button>#}
                {#{% else %}#}
                    {#<a href="{{ path("login") }}">#}
                        {#<button class="button-home">#}
                            {#<span>Вперед </span>#}
                            {#<img src="/img/right-arrow1.png" alt="Далее">#}
                        {#</button>#}
                    {#</a>#}
                {#{% endif %}#}
            {#</div>#}
            {#<div class="block-modal">#}
                {#<h4 class="button-title-m">{{ default_text(41).headline }}</h4>#}

                {#<ul class="list">#}
                    {#{% for action in homePage.actions %}#}
                        {#<li><a href="{{ action.link }}" class="user-btn">{{ action.name }}</a></li>#}
                    {#{% endfor %}#}
                {#</ul>#}

                {#<div class="modal-text">{{ default_text(41).text | raw }}</div>#}


            {#</div>#}
            {#<button class="button-cl close-popup-button" data-popup-id="6"><span>Закрыть</span></button>#}
        {#</section>#}
    {#</div>#}

    <div id="popup7" class="overlay6">
        <section class="modal6">
            <div class="modal-header">
                <button class="button-home close-popup-button" data-popup-id="7"><img src="/img/left-arrow1.png" alt="Назад"> <span> Назад</span></button>
                <h3 class="button-title" data-text="Autoparus.by"></h3>
                <a href="{{ app.user ? path("show_user_office") : path("registration") }}">
                    <button class="button-home">
                        <span>Вперед </span>
                        <img src="/img/right-arrow1.png" alt="Далее">
                    </button>
                </a>
            </div>
            <div class="block-modal">
                <h4 class="button-title-m">{{ default_text(42).headline }}</h4>

                <ul class="list">
                    {% for action in homePage.actions %}
                        <li><a href="{{ action.link }}" class="user-btn">{{ action.name }}</a></li>
                    {% endfor %}
                </ul>

                <div class="modal-text">{{ default_text(42).text | raw }}</div>


            </div>
            <button class="button-cl close-popup-button" data-popup-id="7"><span>Закрыть</span></button>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script src='/bower-components/owl.carousel/dist/owl.carousel.min.js'></script>
    <script src='/js/client/directive/datalist-autocomplete.js'></script>
    <script src='/js/client/directive/user-profile/post-photos-owl-carousel.js'></script>
    <script src='/js/client/controller/default/main-page-posts-controller.js'></script>
    <script src='/js/client/controller/default/main-search-form-controller.js'></script>
    <script src='/js/client/controller/default/obd2-search-form-controller.js'></script>
{% endblock %}