{% extends 'base.html.twig' %}
{% block title %}{{ homePage.title }}{% endblock %}
{% block meta_description %}{{ homePage.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/bower-components/slick-carousel/slick/slick.css'>
    <link rel='stylesheet' href='/bower-components/slick-carousel/slick/slick-theme.css'>
    <link rel='stylesheet' href='/css/default/index.css'>
{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}
    <!-- <main class="container">
        <div class="main-page" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="Автопарус" />
            <link itemprop="url" href="https://www.autoparus.by/" />
            <link itemprop="logo" href="https://www.autoparus.by/image/catalog/logo.png" /> 

            <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                <meta itemprop="addressLocality" content="Минск, Беларусь" />
                <meta itemprop="postalCode" content="220089" />
                <meta itemprop="streetAddress" content="Льва Сопеги 11" />
            </div>
            <meta itemprop="telephone" content="+375296330073" />

            <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="4.5">
                <meta itemprop="reviewCount" content="2">
            </div>
            <link itemprop="sameAs" href="https://vk.com/group" />
            <link itemprop="sameAs" href="https://twitter.com/group" />
             <div class="main-search">
                <form class="form" action="#" method="get" >

                    <input id="target-voice-input" class="form-input" name="search" placeholder="Поиск..." type="search">
                    <button id="trigger-voice-input" voice-input trigger-input="#trigger-voice-input" target-input="#target-voice-input" modal-selector="#popup1" class="form-button cbutton cbutton--effect-boris mike-show" type="button">
                        <svg class="cbutton__icon" fill="#737373" viewBox="0 0 40 59.5" width="18" height="22">
                            <path d="M50,18.7v6.59A20.16122,20.16122,0,0,1,32.5,45.34V54.5h7a2.5,2.5,0,0,1,0,5h-19a2.5,2.5,0,1,1,0-5h7V45.34A20.16122,20.16122,0,0,1,10,25.29V18.7a2.705,2.705,0,0,1,5.41,0v6.59a14.5909,14.5909,0,1,0,29.18006,0V18.7a2.705,2.705,0,0,1,5.41,0Z" transform="translate(-10 0)"/>
                            <rect x="9.5" width="21" height="36" rx="10.49999" ry="10.49999"/>
                        </svg>
                    </button>
                    <div class="main-btn">
                    <a class="form-link" href="{{ homePage.middleLink ? homePage.middleLink : ""}}">{{ homePage.middleText }}</a>
                    </div>
                </form>
            </div>
            <div class="article owl-carousel owl-theme" data-owl-carousel='{"center" : true, "items" : 2, "loop" : true, "margin" : 10, "responsive" : {"576" : {"items" : 3}, "768" : {"items" : 4}, "951" : {"items" : 5}, "1200" : {"items" : 6}}}'>
                {% for articleArray in articles if articleArray.object.detail.themes | length > 0 %}
                    {% set article = articleArray.object %}
                    <a href="{{ path("article_catalog_show_article", {"urlTheme" : article.detail.themes.first.url, "id" : article.id}) }}" class="article-link">
                        <h2 class="article-title"><span>{{ article.headline1 }}</span></h2>
                        <div class="article-foto">
                            <img src="{{ image_url(article.mainArticleImage.imageThumbnail) }}" alt="Картинка">
                        </div>

                        <h3 class="article-subtitle add-three-dots-3-lines">{{ article.headline2 }}</h3>

                        <div class="article-block">
                            <span class="article-date">{{ article.updatedAt | date("d.m.Y") }}</span>
                            <span class="article-time">{{ article.updatedAt | date("H:i") }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>

            {#<div class="owl-carousel">#}
                {#<div> Your Content </div>#}
                {#<div> Your Content </div>#}
                {#<div> Your Content </div>#}
                {#<div> Your Content </div>#}
                {#<div> Your Content </div>#}
                {#<div> Your Content </div>#}
                {#<div> Your Content </div>#}
            {#</div>#}

            {% set searchParams = "_all_users" in app.request.attributes.get('_route') ? routeParams|merge({"allUsers" : "allUsers"}) : routeParams %}

            <ul class="content" ng-controller="MainPagePostsCtrl as posts" ng-init="posts.init('{{ path("search_posts") }}', '{{ searchParams | json_encode }}')">
                <li id="post-{[{post.id}]}" class="content-item" ng-repeat="post in posts.posts" ng-cloak>
                    <div class="post-block">
                        <a ng-href="{[{posts.getUserFilterUrl(post.userId)}]}"><img class="name-foto" ng-src="{[{post.userPhoto}]}" alt="Фото"></a>
                        <a ng-href="{[{posts.getUserFilterUrl(post.userId)}]}"><b class="name" ng-bind="post.userName"></b></a>
                        <button class="btn us-btn5 cbutton open-popup-button" type="button" data-popup-id="7">
                            <span class="points"></span>
                            <span class="points"></span>
                            <span class="points"></span>
                        </button>
                    </div>

                    <div class="content-wrapper">
                        <div class="foto">
                            <a ng-href="{[{post.type === 'simple' ? posts.getBrandModelFilterUrl(post.brand, post.model) : posts.getCityActivityFilterUrl(post.city, post.activity) }]}">
                                <img ng-src="{[{post.image}]}" alt="Картинка">
                            </a>
                        </div>

                        <div class="user-block">
                            <div class="text-block text-block-w">
                                <div id='text1' class='text1Show' show-more-lines class-less="text1Hide" class-more="text1Show" count-lines="3" trigger-open=".open-more-lines-button-{[{ post.id }]}" trigger-close=".close-more-lines-button-{[{ post.id }]}" ng-bind-html="post.description"></div>
                                <button id='allText' class="open-more-lines-button-{[{ post.id }]}" style="display: none;">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                                <button id='allText' class="close-more-lines-button-{[{ post.id }]}" style="display: none;">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
                            </div>
                            {#{% for car in pos.cars %}#}
                                {#<ul class="user-list">#}
                                    {#<li><a nohref><img src="/img/Logo1.svg" alt="Парус" width="16" height="16"></a></li>#}
                                    {#<li>/</li>#}
                                    {#{% if car.brand %}#}
                                        {#<li style="font-size: 12px;">{{ car.brand.name }}</li>#}
                                        {#{% if car.model %}#}
                                            {#<li>/</li>#}
                                            {#<li style="font-size: 10px;">{{ car.model.name }}</li>#}
                                            {#{% if car.engineType %}#}
                                                {#<li>/</li>#}
                                                {#<li style="font-size: 10px;">{{ car.engineType.type }}</li>#}
                                            {#{% endif %}#}
                                        {#{% endif %}#}
                                    {#{% endif %}#}
                                {#</ul>#}
                            {#{% endfor %}#}
                            {#<p class="adress" ng-bind="post.address"></p>#}
                            <div class="date-block">
                                <span class="date" ng-bind="post.date"></span>
                                <span class="time" ng-bind="post.time"></span>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
            <img id="preloader-posts" style="margin-left: auto; margin-right: auto; padding-top: 33px; display: none;" src="/img/preload-gear.svg"/>
            <div class="sail-f">
                <img src="/img/windsurfing.png" alt="Парус">
                <img src="/img/windsurfing.png" alt="Парус">
                <img src="/img/windsurfing.png" alt="Парус">
                <img src="/img/windsurfing.png" alt="Парус">
                <img src="/img/windsurfing.png" alt="Парус">
            </div>
        </div>
    </main> -->

    <main class="container"  ng-controller="MainPagePostsCtrl as posts" ng-init="posts.init('{{ path("search_posts") }}', '{{ searchParams | json_encode }}')">
      <h1 class="visually-hidden">Автопортал "Автопарус"</h1>
      <div itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="Автопарус" />
        <link itemprop="url" href="https://www.autoparus.by/" />
        <link itemprop="logo" href="https://www.autoparus.by/image/catalog/logo.png" /> <!-- Логотип организации-->

        <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <meta itemprop="addressLocality" content="Минск, Беларусь" />
            <meta itemprop="postalCode" content="220089" />
            <meta itemprop="streetAddress" content="Льва Сопеги 11" />
        </div>
        <meta itemprop="telephone" content="+375296330073" />

        <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
            <meta itemprop="ratingValue" content="4.5">
            <meta itemprop="reviewCount" content="2">
        </div>
        <link itemprop="sameAs" href="https://vk.com/group" />
        <link itemprop="sameAs" href="https://twitter.com/group" />
      </div>
        <div class="article slick-carousel" data-slick-options='{"margin": 50, "dots" : true, "slidesToShow" : 2, "infinite" : true, "responsive" : [{"breakpoint" : 576, "settings" : {"slidesToShow" : 3}}, {"breakpoint" : 768, "settings" : {"slidesToShow" : 4}}, {"breakpoint" : 951, "settings" : {"slidesToShow" : 5}}, {"breakpoint" : 1200, "settings" : {"slidesToShow" : 6}}]}'>
                {% for articleArray in articles if articleArray.object.detail.themes | length > 0 %}
                    {% set article = articleArray.object %}
                    <a style="margin-right: 10px; margin-left: 10px;" href="{{ path("article_catalog_show_article", {"urlTheme" : article.detail.themes.first.url, "id" : article.id}) }}" class="article-link">
                        <h2 class="article-title"><span>{{ article.headline1 }}</span></h2>
                        <div class="article-foto">
                            <img src="{{ image_url(article.mainArticleImage.imageThumbnail) }}" alt="Картинка">
                        </div>

                        <h3 class="article-subtitle add-three-dots-3-lines">{{ article.headline2 }}</h3>

                        <div class="article-block">
                            <span class="article-date">{{ article.updatedAt | date("d.m.Y") }}</span>
                            <span class="article-time">{{ article.updatedAt | date("H:i") }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>

            {% set searchParams = "_all_users" in app.request.attributes.get('_route') ? routeParams|merge({"allUsers" : "allUsers"}) : routeParams %}

        <div class="cont-inner">
          <ul class="content">
              <li id="post-{[{post.id}]}" class="content-item" ng-repeat="post in posts.posts | limitTo: 2" ng-cloak>
                  <div class="post-block">
                      <a ng-href="{[{posts.getUserFilterUrl(post.userId)}]}"><img class="name-foto1" ng-src="{[{post.userPhoto}]}" alt="Фото"></a>
                      <a ng-href="{[{posts.getUserFilterUrl(post.userId)}]}"><b class="name" ng-bind="post.userName"></b></a>
                      <button class="btn open-popup-button" type="button" data-popup-id="7">
                          <span class="points"></span>
                          <span class="points"></span>
                          <span class="points"></span>
                      </button>
                  </div>

                  <div class="content-wrapper">
                      <div class="foto post-images-{[{post.id}]}" carousel-element data-post-id="{[{post.id}]}">
                          <a carousel-item data-photo-id="{[{image.id}]}" ng-repeat="image in post.images" ng-cloak ng-href="{[{post.type === 'simple' ? posts.getBrandModelFilterUrl(post.brand, post.model) : posts.getCityActivityFilterUrl(post.city, post.activity) }]}">
                            <img ng-src="{[{image.path}]}" alt="Картинка">
                          </a>
                      </div>

                      <div class="user-block">
                        <h3 class="user-title" ng-bind="post.headline"></h3>
                          <div class="text-block text-block-w">
                              <div id='text2' class='text1Show' show-more-lines class-less="{[{ post.headline ? 'text3Hide' : 'text5Hide' }]}" class-more="text1Show" count-lines="{[{ post.headline ? 3 : 5 }]}" trigger-open=".open-more-lines-button-{[{ post.id }]}" trigger-close=".close-more-lines-button-{[{ post.id }]}" ng-bind-html="post.description"></div>
                              <button id='allText' class="open-more-lines-button-{[{ post.id }]}" style="display: none;">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                              <button id='allText' class="close-more-lines-button-{[{ post.id }]}" style="display: none;">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
                          </div>
                          <div class="date-block">
                              <span class="date" ng-bind="post.date"></span>
                              <span class="time" ng-bind="post.time"></span>
                          </div>
                        </div>
                  </div>
                </li >
            </ul>
            <div class="filter-column">
              <form class="filter">
                <fieldset class="filter-block">
                  <legend class="filter-title">Автозапчасти</legend>

                    <input list="brand-list" name="brand-list" placeholder="Марка">
                    <datalist id="brand-list"></datalist>

                    <input class="select-part" name="model-list" list="model-list" placeholder="Модель">
                    <datalist id="model-list"></datalist>

                    <select class="select-item">
                      <option>Год</option>
                      <option>Год</option>
                    </select>

                    <input list="part-list" name="part-list" placeholder="Наименование з/ч">
                    <datalist id="part-list"></datalist>

                    <select  name="model" class="select-model">
                      <option >Тип двигателя</option>
                    </select>

                    <select class="select-model">
                      <option>Объем</option>                  
                      </select>
                      
                      <select class="select-model">
                      <option>Тип кузова</option>
                    </select>

                    <ul class="part-block">
                      <li class="part-option">
                          <input type="checkbox" id="new" name="new" class="visually-hidden filter-checkbox" checked="checked">
                          <label for="new">Новая</label>
                      </li>
                      <li class="part-option">
                          <input type="checkbox" id="old" name="old" class="visually-hidden filter-checkbox">
                          <label for="old">Б / у</label>
                      </li>
                    </ul>
                    <p class="select-option">
                      <input type="checkbox" id="select-option" name="select-option" class="visually-hidden filter-checkbox">
                          <label for="select-option">Только в наличии</label>
                    </p>

                  <button class="button">Найти</button>
                </fieldset>
              </form>
            </div>
            </div>

        <ul class="block-art">
          <li id="post-{[{post.id}]}" class="art-item" ng-repeat="post in posts.posts | limitTo:4:2" ng-cloak>
              <div class="art-block">
                  <a ng-href="{[{posts.getUserFilterUrl(post.userId)}]}"><img class="name-foto" ng-src="{[{post.userPhoto}]}" alt="Фото"></a>
                  <a ng-href="{[{posts.getUserFilterUrl(post.userId)}]}"><b class="name" ng-bind="post.userName"></b></a>
                  <button class="btn open-popup-button" type="button" data-popup-id="7">
                      <span class="points"></span>
                      <span class="points"></span>
                      <span class="points"></span>
                  </button>
              </div>

            <div class="content-wrapper">
                <div class="art-foto post-images-{[{post.id}]}" carousel-element data-post-id="{[{post.id}]}">
                    <a carousel-item data-photo-id="{[{image.id}]}" ng-repeat="image in post.images" ng-cloak ng-href="{[{post.type === 'simple' ? posts.getBrandModelFilterUrl(post.brand, post.model) : posts.getCityActivityFilterUrl(post.city, post.activity) }]}">
                        <img ng-src="{[{image.path}]}" alt="Картинка">
                    </a>
                </div>
                  <div class="art-user">
                      <div class="text-block text-block-w">
                          <div id='text1' class='text5BigHide' ng-bind-html="post.description"></div>
                      </div>
                      <div class="date-block">
                          <span class="date" ng-bind="post.date"></span>
                          <span class="time" ng-bind="post.time"></span>
                      </div>
                  </div>
            </div>
          </li>
        </ul>

        <div class="baner-block">
            {% for banner in homePage.banners %}
                <a href="{{ banner.link }}"><img src="{{ image_url(banner.image) }}" alt="{{ banner.alt }}"></a>
            {% endfor %}
        </div>

        <ul class="block-art">
            <li id="post-{[{post.id}]}" class="art-select" ng-repeat="post in posts.posts | limitTo:(posts.posts.length - 6):6" ng-cloak>
                <div class="art-block">
                    <a ng-href="{[{posts.getUserFilterUrl(post.userId)}]}"><img class="name-foto" ng-src="{[{post.userPhoto}]}" alt="Фото"></a>
                    <a ng-href="{[{posts.getUserFilterUrl(post.userId)}]}"><b class="name" ng-bind="post.userName"></b></a>
                    <button class="btn open-popup-button" type="button" data-popup-id="7">
                        <span class="points"></span>
                        <span class="points"></span>
                        <span class="points"></span>
                    </button>
                </div>

                <div class="content-wrapper">
                    <div class="art-foto post-images-{[{post.id}]}" carousel-element data-post-id="{[{post.id}]}">
                        <a carousel-item data-photo-id="{[{image.id}]}" ng-repeat="image in post.images" ng-cloak ng-href="{[{post.type === 'simple' ? posts.getBrandModelFilterUrl(post.brand, post.model) : posts.getCityActivityFilterUrl(post.city, post.activity) }]}">
                            <img ng-src="{[{image.path}]}" alt="Картинка">
                        </a>
                    </div>
                    <div class="art-user">
                        <div class="text-block text-block-w">
                            <div id='text1' class='text5BigHide' ng-bind-html="post.description"></div>
                        </div>
                        <div class="date-block">
                            <span class="date" ng-bind="post.date"></span>
                            <span class="time" ng-bind="post.time"></span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <img id="preloader-posts" style="margin-left: auto; margin-right: auto; padding-top: 33px; display: none;" src="/img/preload-gear.svg"/>
        <div class="sail-f">
            <img src="img/windsurfing.png" alt="Парус">
            <img src="img/windsurfing.png" alt="Парус">
            <img src="img/windsurfing.png" alt="Парус">
            <img src="img/windsurfing.png" alt="Парус">
            <img src="img/windsurfing.png" alt="Парус">
        </div>
    </main>

    <div id="popup1" class="overlay1 modal--show" style="display: none;">
        <div class="modal1">
            
            <div class="mike">
                <div id="microphone-image" class="mike-img">
                    <svg fill="red" viewBox="0 0 40 59.5" width="60" height="80">
                        <path d="M50,18.7v6.59A20.16122,20.16122,0,0,1,32.5,45.34V54.5h7a2.5,2.5,0,0,1,0,5h-19a2.5,2.5,0,1,1,0-5h7V45.34A20.16122,20.16122,0,0,1,10,25.29V18.7a2.705,2.705,0,0,1,5.41,0v6.59a14.5909,14.5909,0,1,0,29.18006,0V18.7a2.705,2.705,0,0,1,5.41,0Z" transform="translate(-10 0)"/>
                        <rect x="9.5" width="21" height="36" rx="10.49999" ry="10.49999"/>
                    </svg>
                </div>
                <span id="text-from-microphone" class="mike-text"></span>
                {#<button class="mike-btn">Универсальная кнопка</button>#}

                <button id="initiator-close-popup1"
                 class="button-cl close-popup-button"><span>Закрыть</span>
            </button>
            </div>
        </div>
    </div>

    {#<div id="popup6" class="overlay6">#}
        {#<section class="modal6">#}
            {#<div class="modal-header ">#}
                {#<button class="button-home close-popup-button" data-popup-id="6"><img src="/img/left-arrow1.png" alt="Назад"> <span> Назад</span></button>#}
                {#<h3 class="button-title" data-text="Последовательный поиск"></h3>#}
                {#{% if app.user %}#}
                    {#<button class="button-home close-popup-button" data-popup-id="6">#}
                        {#<span>Вперед </span>#}
                        {#<img src="/img/right-arrow1.png" alt="Далее">#}
                    {#</button>#}
                {#{% else %}#}
                    {#<a href="{{ path("login") }}">#}
                        {#<button class="button-home">#}
                            {#<span>Вперед </span>#}
                            {#<img src="/img/right-arrow1.png" alt="Далее">#}
                        {#</button>#}
                    {#</a>#}
                {#{% endif %}#}
            {#</div>#}
            {#<div class="block-modal">#}
                {#<h4 class="button-title-m">{{ default_text(41).headline }}</h4>#}

                {#<ul class="list">#}
                    {#{% for action in homePage.actions %}#}
                        {#<li><a href="{{ action.link }}" class="user-btn">{{ action.name }}</a></li>#}
                    {#{% endfor %}#}
                {#</ul>#}

                {#<div class="modal-text">{{ default_text(41).text | raw }}</div>#}


            {#</div>#}
            {#<button class="button-cl close-popup-button" data-popup-id="6"><span>Закрыть</span></button>#}
        {#</section>#}
    {#</div>#}

    <div id="popup7" class="overlay6">
        <section class="modal6">
            <div class="modal-header">
                <button class="button-home close-popup-button" data-popup-id="7"><img src="/img/left-arrow1.png" alt="Назад"> <span> Назад</span></button>
                <h3 class="button-title" data-text="Autoparus.by"></h3>
                <a href="{{ app.user ? path("show_user_office") : path("registration") }}">
                    <button class="button-home">
                        <span>Вперед </span>
                        <img src="/img/right-arrow1.png" alt="Далее">
                    </button>
                </a>
            </div>
            <div class="block-modal">
                <h4 class="button-title-m">{{ default_text(42).headline }}</h4>

                <ul class="list">
                    {% for action in homePage.actions %}
                        <li><a href="{{ action.link }}" class="user-btn">{{ action.name }}</a></li>
                    {% endfor %}
                </ul>

                <div class="modal-text">{{ default_text(42).text | raw }}</div>


            </div>
            <button class="button-cl close-popup-button" data-popup-id="7"><span>Закрыть</span></button>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script src='/js/client/directive/user-profile/post-photos-owl-carousel.js'></script>
    <script src='/js/client/controller/default/main-page-posts-controller.js'></script>
{% endblock %}