{% extends 'base.html.twig' %}
{% block title %}{{ homePage.title }}{% endblock %}
{% block meta_description %}{{ homePage.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/bower-components/owl.carousel/dist/assets/owl.carousel.min.css'>
    <link rel='stylesheet' href='/bower-components/owl.carousel/dist/assets/owl.theme.default.min.css'>
    <link rel='stylesheet' href='/bower-components/select2/dist/css/select2.min.css'>
    <link rel='stylesheet' href='/css/default/index.css'>
{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}
    {% set searchParams = "_all_users" in app.request.attributes.get('_route') ? routeParams|merge({"allUsers" : "allUsers"}) : routeParams %}
    <main class="container"  ng-controller="MainPagePostsCtrl as posts" ng-init="posts.init('{{ path("search_posts") }}', '{{ searchParams | json_encode }}')">
      <h1 class="visually-hidden">Автопортал "Автопарус"</h1>
      <div itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="Автопарус" />
        <link itemprop="url" href="https://www.autoparus.by/" />
        <link itemprop="logo" href="https://www.autoparus.by/image/catalog/logo.png" />

        <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <meta itemprop="addressLocality" content="Минск, Беларусь" />
            <meta itemprop="postalCode" content="220089" />
            <meta itemprop="streetAddress" content="Германовская 19" />
        </div>
        <meta itemprop="telephone" content="+375296330073" />

        <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
            <meta itemprop="ratingValue" content="4.5">
            <meta itemprop="reviewCount" content="2">
        </div>
        <link itemprop="sameAs" href="https://vk.com/group" />
        <link itemprop="sameAs" href="https://twitter.com/group" />
      </div>
        <div class="article">
          <a href="#" class="article-link">
            <h2 class="article-title"><span>8 лучших спортивных автомобилей 2019 года</span></h2>
            <div class="article-foto">
                <img src="img/maz1.jpg" alt="Картинка">
                <div class="article-block">
                <span class="article-date">14.08.2019</span>
                <span class="article-time">15:18</span>
            </div>
            </div>

            <h3 class="article-subtitle add-three-dots-3-lines">Спортивный автомобиль на любой бюджет</h3> 
          </a>

          <a href="#" class="article-link">
            <h2 class="article-title"><span>8 лучших спортивных автомобилей 2019 года</span></h2>
            <div class="article-foto">
                <img src="img/maz1.jpg" alt="Картинка">
                <div class="article-block">
                <span class="article-date">14.08.2019</span>
                <span class="article-time">15:18</span>
            </div>
            </div>

            <h3 class="article-subtitle add-three-dots-3-lines">Спортивный автомобиль на любой бюджет</h3>
          </a>

          <a href="#" class="article-link">
            <h2 class="article-title"><span>8 лучших спортивных автомобилей 2019 года</span></h2>
            <div class="article-foto">
                <img src="img/maz1.jpg" alt="Картинка">
                <div class="article-block">
                <span class="article-date">14.08.2019</span>
                <span class="article-time">15:18</span>
            </div>
            </div>

            <h3 class="article-subtitle add-three-dots-3-lines">Спортивный автомобиль на любой бюджет</h3>
          </a>

          <a href="#" class="article-link">
            <h2 class="article-title"><span>8 лучших спортивных автомобилей 2019 года</span></h2>
            <div class="article-foto">
                <img src="img/maz1.jpg" alt="Картинка">
                <div class="article-block">
                <span class="article-date">14.08.2019</span>
                <span class="article-time">15:18</span>
            </div>
            </div>

            <h3 class="article-subtitle add-three-dots-3-lines">Спортивный автомобиль на любой бюджет</h3>
          </a>

          <a href="#" class="article-link">
            <h2 class="article-title"><span>8 лучших спортивных автомобилей 2019 года</span></h2>
            <div class="article-foto">
                <img src="img/maz1.jpg" alt="Картинка">
                <div class="article-block">
                <span class="article-date">14.08.2019</span>
                <span class="article-time">15:18</span>
            </div>
            </div>

            <h3 class="article-subtitle add-three-dots-3-lines">Спортивный автомобиль на любой бюджет</h3>
          </a>

          <a href="#" class="article-link">
            <h2 class="article-title"><span>8 лучших спортивных автомобилей 2019 года</span></h2>
            <div class="article-foto">
                <img src="img/maz1.jpg" alt="Картинка">
                <div class="article-block">
                <span class="article-date">14.08.2019</span>
                <span class="article-time">15:18</span>
            </div>
            </div>

            <h3 class="article-subtitle add-three-dots-3-lines">Спортивный автомобиль на любой бюджет</h3>
          </a>

          <a href="#" class="article-link">
            <h2 class="article-title"><span>8 лучших спортивных автомобилей 2019 года</span></h2>
            <div class="article-foto">
                <img src="img/maz1.jpg" alt="Картинка">
                <div class="article-block">
                <span class="article-date">14.08.2019</span>
                <span class="article-time">15:18</span>
            </div>
            </div>

            <h3 class="article-subtitle add-three-dots-3-lines">Спортивный автомобиль на любой бюджет</h3>
          </a>
        </div>

        <div class="cont-inner">
          <ul class="content">
            <li class="content-item">
              <div class="post-block">
                <a href="#"><img class="name-foto1" src="img/user.jpg" alt="Фото"></a>
                <a href="#"><b class="name">Admin</b></a>
                <button class="btn" type="button">
                    <span class="points"></span>
                    <span class="points"></span>
                    <span class="points"></span>
                </button>
              </div>

              <div class="content-wrapper">
                  <div class="foto">
                      <a href="#">
                        <img src="img/maz1.jpg" alt="Картинка">
                      </a>
                  </div>

                  <div class="user-block">
                    <a href="#">
                      <h3 class="user-title">Заголовок из каталога</h3>
                      <div id='text2' class='text1Show'>Ferrari F12 Berlinetta DMC Spia Вот почему, как только дело доходит до этой Феррари, все именитые тюнеры не могут предоставить ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? Зато с доработкой того же Авентадора все справились на ура. ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? </div></a>
                      <button id='allText' class="open-more-lines-button-{[{ post.id }]}">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                          <button id='allText' class="close-more-lines-button-{[{ post.id }]}" style="display: none;">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
                      <div class="date-block">
                          <span class="date">19:06:2019</span>
                          <span class="time">15:22</span>
                      </div>
                    </div>
                  </div>
                  
                </li>

                <li class="content-item">
                    <div class="post-block">
                        <a><img class="name-foto1" src="img/user.jpg" alt="Фото"></a>
                        <a><b class="name">Admin</b></a>
                        <button class="btn" type="button">
                            <span class="points"></span>
                            <span class="points"></span>
                            <span class="points"></span>
                        </button>
                    </div>

                    <div class="content-wrapper">
                        <div class="foto">
                            <a>
                                <img src="img/maz1.jpg" alt="Картинка">
                            </a>
                        </div>

                        <div class="user-block">
                          <a href="#">
                      <h3 class="user-title">Заголовок из каталога</h3>
                      <div id='text2' class='text1Show'>Ferrari F12 Berlinetta DMC Spia Вот почему, как только дело доходит до этой Феррари, все именитые тюнеры не могут предоставить ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? Зато с доработкой того же Авентадора все справились на ура. ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? </div></a>
                      <button id='allText' class="open-more-lines-button-{[{ post.id }]}">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                          <button id='allText' class="close-more-lines-button-{[{ post.id }]}" style="display: none;">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
                            <div class="date-block">
                                <span class="date">19:06:2019</span>
                                <span class="time">15:22</span>
                                </div>
                            </div>

                        </div>
                   
                </li>

            </ul>
            <div class="filter-column">
              <form class="filter">
                <fieldset class="filter-block">
                  <legend class="filter-title">Автозапчасти</legend>

                  <select class="select-item">
                    <option selected>Марка</option>
                    <option>Audi</option>
                    <option>Acura</option>
                    <option>BMW</option>
                </select>

                <select class="select-item">
                    <option selected>Модель</option>
                    <option>A4</option>
                    <option>B4</option>
                    <option>C4</option>
                </select>

                

                    <select class="select-item">
                      <option selected>Год</option>
                      <option>2000</option>
                      <option>2001</option>
                      <option>2002</option>
                      <option>2003</option>
                    </select>

                    <select class="select-item">
                      <option selected>Наименование запчасти</option>
                      <option>АКБ</option>
                      <option>Амортизатор</option>
                      <option>Аккумулятор</option>
                    </select>
                    <button class="button">Найти</button>

    
                    <p class="select-option">
                     <a href="#" class="select-link">Перейти в последовательный каталог</a>
                     <a href="#" class="select-link">Перейти в форму заказ-заявки</a>
                    </p>
                </fieldset>
              </form>
            </div>
            </div>

            <section class="news">
              <div class="news-wrapper">
              <h2 class="news-title">Всё вокруг авто и мото</h2>
              <p class="news-dsc">Добро пожаловать на сайт посвященный автомобильной тематике и помощи автолюбителям. Приглашаем продавцов автозапчастей, авторазборки и СТО разместить объявления или общую информацию о Вашей деятельности и предлагаемых Вами товарах. </p>
              <p class="news-dsc">Добро пожаловать на сайт посвященный автомобильной тематике и помощи автолюбителям. Приглашаем продавцов автозапчастей, авторазборки и СТО разместить объявления или общую информацию о Вашей деятельности и предлагаемых Вами товарах. </p>
              </div>
            </section>

        <ul class="block-art">

          <li class="art-item">
            <div class="art-block">
              <a><img class="name-foto" src="img/user.jpg" alt="Фото"></a>
              <a><b class="name">Admin</b></a>
              <button class="btn" type="button">
                <span class="points"></span>
                <span class="points"></span>
                <span class="points"></span>
              </button>
            </div>

            <div class="content-wrapper">
              <div class="art-foto">
                <a>
                  <img src="img/user.jpg" alt="Картинка">
                </a>
              </div>
              <div class="art-user">

                <a href="#">
                      <h3 class="user-subtitle">Заголовок из каталога</h3>
                      <div id='text2' class='text1Show'>Ferrari F12 Berlinetta DMC Spia Вот почему, как только дело доходит до этой Феррари, все именитые тюнеры не могут предоставить ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? Зато с доработкой того же Авентадора все справились на ура. ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? </div></a>
                      <button id='allText' class="open-more-lines-button-{[{ post.id }]}">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                          <button id='allText' class="close-more-lines-button-{[{ post.id }]}" style="display: none;">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
               
                <div class="date-block">
                    <span class="date">19:06:2019</span>
                    <span class="time">15:22</span>
                </div>
              </div>
            </div>
          </li>

          <li class="art-item">
            <div class="art-block">
              <a><img class="name-foto" src="img/user.jpg" alt="Фото"></a>
              <a><b class="name">Admin</b></a>
              <button class="btn" type="button">
                <span class="points"></span>
                <span class="points"></span>
                <span class="points"></span>
              </button>
            </div>

            <div class="content-wrapper">
              <div class="art-foto">
                <a>
                  <img src="img/user.jpg" alt="Картинка">
                </a>
              </div>
              <div class="art-user">
                 <a href="#">
                      <h3 class="user-subtitle">Заголовок из каталога</h3>
                      <div id='text2' class='text1Show'>Ferrari F12 Berlinetta DMC Spia Вот почему, как только дело доходит до этой Феррари, все именитые тюнеры не могут предоставить ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? Зато с доработкой того же Авентадора все справились на ура. ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? </div></a>
                      <button id='allText' class="open-more-lines-button-{[{ post.id }]}">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                          <button id='allText' class="close-more-lines-button-{[{ post.id }]}" style="display: none;">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
                <div class="date-block">
                    <span class="date">19:06:2019</span>
                    <span class="time">15:22</span>
                </div>
              </div>
            </div>
          </li>

          <li class="art-item">
            <div class="art-block">
              <a><img class="name-foto" src="img/user.jpg" alt="Фото"></a>
              <a><b class="name">Admin</b></a>
              <button class="btn" type="button">
                <span class="points"></span>
                <span class="points"></span>
                <span class="points"></span>
              </button>
            </div>

            <div class="content-wrapper">
              <div class="art-foto">
                <a>
                  <img src="img/user.jpg" alt="Картинка">
                </a>
              </div>
              <div class="art-user">
                 <a href="#">
                      <h3 class="user-subtitle">Заголовок из каталога</h3>
                      <div id='text2' class='text1Show'>Ferrari F12 Berlinetta DMC Spia Вот почему, как только дело доходит до этой Феррари, все именитые тюнеры не могут предоставить ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? Зато с доработкой того же Авентадора все справились на ура. ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? </div></a>
                      <button id='allText' class="open-more-lines-button-{[{ post.id }]}">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                          <button id='allText' class="close-more-lines-button-{[{ post.id }]}" style="display: none;">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
                <div class="date-block">
                    <span class="date">19:06:2019</span>
                    <span class="time">15:22</span>
                </div>
              </div>
            </div>
          </li>

          <li class="art-item">
            <div class="art-block">
              <a><img class="name-foto" src="img/user.jpg" alt="Фото"></a>
              <a><b class="name">Admin</b></a>
              <button class="btn" type="button">
                <span class="points"></span>
                <span class="points"></span>
                <span class="points"></span>
              </button>
            </div>

            <div class="content-wrapper">
              <div class="art-foto">
                <a>
                  <img src="img/user.jpg" alt="Картинка">
                </a>
              </div>
              <div class="art-user">
                 <a href="#">
                      <h3 class="user-subtitle">Заголовок из каталога</h3>
                      <div id='text2' class='text1Show'>Ferrari F12 Berlinetta DMC Spia Вот почему, как только дело доходит до этой Феррари, все именитые тюнеры не могут предоставить ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? Зато с доработкой того же Авентадора все справились на ура. ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? </div></a>
                      <button id='allText' class="open-more-lines-button-{[{ post.id }]}">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                          <button id='allText' class="close-more-lines-button-{[{ post.id }]}" style="display: none;">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
                <div class="date-block">
                    <span class="date">19:06:2019</span>
                    <span class="time">15:22</span>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <div class="baner-block">
          <a href="#"><img src="img/maz1.jpg" alt="Картинка"></a>
          <a href="#"><img src="img/maz1.jpg" alt="Картинка"></a>
          <a href="#"><img src="img/maz1.jpg" alt="Картинка"></a>
          <a href="#"><img src="img/maz1.jpg" alt="Картинка"></a>
          <a href="#"><img src="img/maz1.jpg" alt="Картинка"></a>
          <a href="#"><img src="img/maz1.jpg" alt="Картинка"></a>
          <a href="#"><img src="img/maz1.jpg" alt="Картинка"></a>
          <a href="#"><img src="img/maz1.jpg" alt="Картинка"></a>
          <a href="#"><img src="img/maz1.jpg" alt="Картинка"></a>
          <a href="#"><img src="img/maz1.jpg" alt="Картинка"></a>
          <a href="#"><img src="img/maz1.jpg" alt="Картинка"></a>
          <a href="#"><img src="img/maz1.jpg" alt="Картинка"></a> 
        </div>

        <ul class="block-art">

          <li class="art-item">
            <div class="art-block">
              <a><img class="name-foto" src="img/user.jpg" alt="Фото"></a>
              <a><b class="name">Admin</b></a>
              <button class="btn" type="button">
                <span class="points"></span>
                <span class="points"></span>
                <span class="points"></span>
              </button>
            </div>

            <div class="content-wrapper">
              <div class="art-foto">
                <a>
                  <img src="img/user.jpg" alt="Картинка">
                </a>
              </div>
              <div class="art-user">

                <a href="#">
                      <h3 class="user-subtitle">Заголовок из каталога</h3>
                      <div id='text2' class='text1Show'>Ferrari F12 Berlinetta DMC Spia Вот почему, как только дело доходит до этой Феррари, все именитые тюнеры не могут предоставить ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? Зато с доработкой того же Авентадора все справились на ура. ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? </div></a>
                      <button id='allText' class="open-more-lines-button-{[{ post.id }]}">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                          <button id='allText' class="close-more-lines-button-{[{ post.id }]}" style="display: none;">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
               
                <div class="date-block">
                    <span class="date">19:06:2019</span>
                    <span class="time">15:22</span>
                </div>
              </div>
            </div>
          </li>

          <li class="art-item">
            <div class="art-block">
              <a><img class="name-foto" src="img/user.jpg" alt="Фото"></a>
              <a><b class="name">Admin</b></a>
              <button class="btn" type="button">
                <span class="points"></span>
                <span class="points"></span>
                <span class="points"></span>
              </button>
            </div>

            <div class="content-wrapper">
              <div class="art-foto">
                <a>
                  <img src="img/user.jpg" alt="Картинка">
                </a>
              </div>
              <div class="art-user">
                 <a href="#">
                      <h3 class="user-subtitle">Заголовок из каталога</h3>
                      <div id='text2' class='text1Show'>Ferrari F12 Berlinetta DMC Spia Вот почему, как только дело доходит до этой Феррари, все именитые тюнеры не могут предоставить ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? Зато с доработкой того же Авентадора все справились на ура. ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? </div></a>
                      <button id='allText' class="open-more-lines-button-{[{ post.id }]}">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                          <button id='allText' class="close-more-lines-button-{[{ post.id }]}" style="display: none;">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
                <div class="date-block">
                    <span class="date">19:06:2019</span>
                    <span class="time">15:22</span>
                </div>
              </div>
            </div>
          </li>

          <li class="art-item">
            <div class="art-block">
              <a><img class="name-foto" src="img/user.jpg" alt="Фото"></a>
              <a><b class="name">Admin</b></a>
              <button class="btn" type="button">
                <span class="points"></span>
                <span class="points"></span>
                <span class="points"></span>
              </button>
            </div>

            <div class="content-wrapper">
              <div class="art-foto">
                <a>
                  <img src="img/user.jpg" alt="Картинка">
                </a>
              </div>
              <div class="art-user">
                 <a href="#">
                      <h3 class="user-subtitle">Заголовок из каталога</h3>
                      <div id='text2' class='text1Show'>Ferrari F12 Berlinetta DMC Spia Вот почему, как только дело доходит до этой Феррари, все именитые тюнеры не могут предоставить ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? Зато с доработкой того же Авентадора все справились на ура. ничего серьезного в техническом плане. Ведь 20 или 30 сил сверху - далеко не впечатляет, не так ли? </div></a>
                      <button id='allText' class="open-more-lines-button-{[{ post.id }]}">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                          <button id='allText' class="close-more-lines-button-{[{ post.id }]}" style="display: none;">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
                <div class="date-block">
                    <span class="date">19:06:2019</span>
                    <span class="time">15:22</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
                                                                                                                      
        <div class="sail-f">
            <img src="img/windsurfing.png" alt="Парус">
            <img src="img/windsurfing.png" alt="Парус">
            <img src="img/windsurfing.png" alt="Парус">
            <img src="img/windsurfing.png" alt="Парус">
            <img src="img/windsurfing.png" alt="Парус">
        </div>
    </main>

    {#<div id="popup6" class="overlay6">#}
        {#<section class="modal6">#}
            {#<div class="modal-header ">#}
                {#<button class="button-home close-popup-button" data-popup-id="6"><img src="/img/left-arrow1.png" alt="Назад"> <span> Назад</span></button>#}
                {#<h3 class="button-title" data-text="Последовательный поиск"></h3>#}
                {#{% if app.user %}#}
                    {#<button class="button-home close-popup-button" data-popup-id="6">#}
                        {#<span>Вперед </span>#}
                        {#<img src="/img/right-arrow1.png" alt="Далее">#}
                    {#</button>#}
                {#{% else %}#}
                    {#<a href="{{ path("login") }}">#}
                        {#<button class="button-home">#}
                            {#<span>Вперед </span>#}
                            {#<img src="/img/right-arrow1.png" alt="Далее">#}
                        {#</button>#}
                    {#</a>#}
                {#{% endif %}#}
            {#</div>#}
            {#<div class="block-modal">#}
                {#<h4 class="button-title-m">{{ default_text(41).headline }}</h4>#}

                {#<ul class="list">#}
                    {#{% for action in homePage.actions %}#}
                        {#<li><a href="{{ action.link }}" class="user-btn">{{ action.name }}</a></li>#}
                    {#{% endfor %}#}
                {#</ul>#}

                {#<div class="modal-text">{{ default_text(41).text | raw }}</div>#}


            {#</div>#}
            {#<button class="button-cl close-popup-button" data-popup-id="6"><span>Закрыть</span></button>#}
        {#</section>#}
    {#</div>#}

    <div id="popup7" class="overlay6">
        <section class="modal6">
            <div class="modal-header">
                <button class="button-home close-popup-button" data-popup-id="7"><img src="/img/left-arrow1.png" alt="Назад"> <span> Назад</span></button>
                <h3 class="button-title" data-text="Autoparus.by"></h3>
                <a href="{{ app.user ? path("show_user_office") : path("registration") }}">
                    <button class="button-home">
                        <span>Вперед </span>
                        <img src="/img/right-arrow1.png" alt="Далее">
                    </button>
                </a>
            </div>
            <div class="block-modal">
                <h4 class="button-title-m">{{ default_text(42).headline }}</h4>

                <ul class="list">
                    {% for action in homePage.actions %}
                        <li><a href="{{ action.link }}" class="user-btn">{{ action.name }}</a></li>
                    {% endfor %}
                </ul>

                <div class="modal-text">{{ default_text(42).text | raw }}</div>


            </div>
            <button class="button-cl close-popup-button" data-popup-id="7"><span>Закрыть</span></button>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script src='/bower-components/owl.carousel/dist/owl.carousel.min.js'></script>
    <script src='/bower-components/select2/dist/js/select2.min.js'></script>
    <script src='/bower-components/select2/dist/js/i18n/ru.js'></script>
    <script src='/js/client/directive/select2-autoparus.js'></script>
    <script src='/js/client/directive/user-profile/post-photos-owl-carousel.js'></script>
    <script src='/js/client/controller/default/main-page-posts-controller.js'></script>
    <script src='/js/client/controller/default/main-search-form-controller.js'></script>
{% endblock %}