{% extends 'base.html.twig' %}
{% block title %}{{ homePage.title }}{% endblock %}
{% block meta_description %}{{ homePage.description }}{% endblock %}

{% block body %}
    <main class="container">
        <div class="main-search">
            <form class="firstform" action="#" method="get">
                <input class="form1" name="search" placeholder="Поиск..." type="search">
                <button class="mainbutton mbt" type="submit"></button>
                <a class="search-link" href="{{ homePage.middleLink ? homePage.middleLink }}"><span>{{ homePage.middleText }}</span></a>
            </form>

        </div>
        <h1 class='tagline-title'>{{ homePage.description | raw }}</h1>
    </main>
{% endblock %}