<div id="car-prototype-container" style="display: none;">
    {% set prototype = form.cars.vars.prototype %}
    <ul class="profil-list car-container">
        <li class="profil-option profil-option--1">
            <span class="name">{{ prototype.brand.vars.label }}</span>
            {{ form_widget(prototype.brand, {attr: {class: "name-select car-form-choice-brand"}}) }}
        </li>
        <li class="profil-option profil-option--2">
            <span class="name">{{ prototype.model.vars.label }}</span>
            {{ form_widget(prototype.model, {attr: {"disabled" :  true, class: "name-select car-form-choice-model"}}) }}
        </li>
        <li class="profil-option profil-option--3">
            <span class="name">{{ prototype.year.vars.label }}</span>
            {{ form_widget(prototype.year, {attr: {"disabled" :  true, class: "name-select name-select--1 car-form-choice-year"}}) }}
        </li>
        <li class="profil-option">
            <span class="name">{{ prototype.vehicle.vars.label }}</span>
            {{ form_widget(prototype.vehicle, {attr: {"disabled" :  true, class: "name-select car-form-choice-vehicle"}}) }}
        </li>
        <li class="profil-option profil-option--2">
            <span class="name">{{ prototype.engineType.vars.label }}</span>
            {{ form_widget(prototype.engineType, {attr: {"disabled" :  true, class: "name-select car-form-choice-engine-type"}}) }}
        </li>
        <li class="profil-option profil-option--4">
            <span class="name">{{ prototype.capacity.vars.label }}</span>
            {{ form_widget(prototype.capacity, {attr: {"disabled" :  true, class: "name-select name-select--1 car-form-choice-capacity"}}) }}
        </li>
        <li class="profil-option">
            <button type="button" class="moreinfo remove-car-button"><i class="fa fa-minus" aria-hidden="true"></i>Удалить</button>
        </li>
    </ul>
</div>

<form id="cars-form" method="post" novalidate enctype="multipart/form-data">
    {{ form_widget(form._token) }}
    <fieldset class="car">
        <legend class="profil-title">Авто - Мото</legend>

        <div id="cars-container" class="moreinfoblock">
            {% for car in form.cars %}
                {% set isChosenBrand = car.brand.vars.value %}
                {% set isChosenModel = car.model.vars.value %}
                {% set isChosenEngineType = car.engineType.vars.value %}
                <ul class="profil-list car-container">
                    <li class="profil-option profil-option--1">
                        <span class="name">{{ car.brand.vars.label }}</span>
                        {{ form_widget(car.brand, {attr: {class: "name-select car-form-choice-brand"}}) }}
                    </li>
                    <li class="profil-option profil-option--2">
                        <span class="name">{{ car.model.vars.label }}</span>
                        {{ form_widget(car.model, {attr: {"disabled" :  not isChosenBrand, class: "name-select car-form-choice-model"}}) }}
                    </li>
                    <li class="profil-option profil-option--3">
                        <span class="name">{{ car.year.vars.label }}</span>
                        {{ form_widget(car.year, {attr: {"disabled" :  not isChosenModel, class: "name-select name-select--1 car-form-choice-year"}}) }}
                    </li>
                    <li class="profil-option">
                        <span class="name">{{ car.vehicle.vars.label }}</span>
                        {{ form_widget(car.vehicle, {attr: {"disabled" :  not isChosenModel, class: "name-select car-form-choice-vehicle"}}) }}
                    </li>
                    <li class="profil-option profil-option--2">
                        <span class="name">{{ car.engineType.vars.label }}</span>
                        {{ form_widget(car.engineType, {attr: {"disabled" :  not isChosenModel, class: "name-select car-form-choice-engine-type"}}) }}
                    </li>
                    <li class="profil-option profil-option--4">
                        <span class="name">{{ car.capacity.vars.label }}</span>
                        {{ form_widget(car.capacity, {attr: {"disabled" :  not isChosenModel and not isChosenEngineType, class: "name-select name-select--1 car-form-choice-capacity"}}) }}
                    </li>
                    <li class="profil-option">
                        <button type="button" class="moreinfo remove-car-button"><i class="fa fa-minus" aria-hidden="true"></i>   Удалить</button>
                    </li>
                </ul>
            {% endfor %}
        </div>
        <div class="btn-wrapper">
            <button id="add-new-car-button" type="button" class="moreinfo" style="{{ form.cars | length < 5 ? "" : "display: none;" }}"><i class="fa fa-plus" aria-hidden="true"></i>   Добавить еще</button>
        </div>
    </fieldset>
    {{ form_widget(form.submit, {attr: {class: "btn-filter", "label": "Сохранить"}}) }}
    {% if isValid %}
        <span id="save-car-form-confirmation" class="check check-on">Сохранение принято</span>
    {% endif %}
</form>