<!DOCTYPE html>
<html ng-app="autoparusApp" lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block meta_description %}Автопарус{% endblock %}">
        <title>{% block title %}Автопарус{% endblock %}</title>
        <link rel='stylesheet' href='/css/normalize-new.min.css'>
        <link rel='stylesheet' href='/css/base-style.css'>
        <link rel='stylesheet' href='/bower-components/jquery-ui/themes/base/jquery-ui.min.css'>
        <link rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png">
        <link rel="manifest" href="/img/fav/site.webmanifest">
        <link rel="mask-icon" href="/img/fav/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        {% block stylesheets %}
        {% endblock %}
        {{ show_code("head") | raw }}
        {#<meta name="author" content="">#}
        {#<meta name="msapplication-TileColor" content="#da532c">#}
        {#<meta name="theme-color" content="#ffffff">#}
        {#<link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&amp;subset=cyrillic" rel="stylesheet">#}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='/bower-components/Jcrop/css/Jcrop.min.css'>
        {#<link href="https://fonts.googleapis.com/icon?family=Material+Icons"#}
              {#rel="stylesheet">#}
    </head>
    <body ng-controller="GalleryCtrl as gallery">
    {% set isUserOffice = app.request.attributes.get('_route') == "show_user_office" %}
        <header class="container">
            <div class="header">
                <div class="block-logo">
                    <img src="/img/Logo1.svg" alt="Логотип">
                    <a class="header-logo" href='{{ path("homepage") }}' data-text="Автопарус"></a>
                </div>
                <button class="burger" onclick='menuActive()' type="button">
                    <span id='g-1' class='gamburger'></span>
                    <span id='g-2' class='gamburger'></span>
                    <span id='g-3' class='gamburger'></span>
                </button>
            </div>

            <nav id='menu' class="nav">
                <div class='nav-block'>
                    <ul class='nav-list nav-list-m'>
                        <li class='item-o'><a href="{{ path("show_spare_part_catalog_choice_spare_part") }}">Автозапчасти</a></li>
                        <li class='item'><a href="{{ path("show_brand_catalog_choice_brand") }}">Поиск з/ч по марке</a></li>
                        <li class='item item-m'><a href="{{ path("show_city_catalog_choice_city") }}">Поиск з/ч по городу</a></li>
                    </ul>
                    <ul class='nav-list nav-list-m'>
                        {% if app.user %}
                            {% set userName = (app.user.name | length) < 14 ? app.user.name : app.user.name[:13] ~ '...'%}
                            <li class='item-text'><a href="{{ logout_path("main") }}">Выход</a></li>
                            {% if app.user.hasRole(constant('App\\Entity\\User::ROLE_ADMIN')) %}
                                <li class='item-m item-text'><a class="inverse-color" href="{{ path("sonata_admin_dashboard") }}" style="color: #ff0000;">Admin</a></li>
                            {% else %}
                                <li class='item-m item-text'><a class="inverse-color" href="{{ path("show_user_office") }}" style="color: #ff0000;">{{ userName }}</a></li>
                            {% endif %}
                        {% else %}
                            <li class='item-text'><a href="{{ path("login") }}">Вход</a></li>
                            <li class='item-m item-text'><a href="{{ path("registration") }}">Регистрация</a></li>
                        {% endif %}
                        <li><a href="{{ path("general_about_page") }}">Обратная связь</a></li>
                    </ul>
                </div>
                <div class='nav-block'>
                    <ul class='nav-list'>
                        <li><a href="{{ path("general_to_users_page") }}">Пользователям</a></li>
                        <li class='item'><a href="{{ path("general_to_seller_page") }}">Продавцам</a></li>
                        <li class='item'><a href="{{ path("turbo_catalog_choice_brand") }}">Быстрый поиск з/ч</a></li>
                    </ul>
                    <ul class='nav-list'>
                        <li><a href="{{ path("general_news_page") }}">Новости</a></li>
                        <li><a href="{{ path("show_obd2_error_catalog_choice_type") }}">Коды OBD2 ошибок</a></li>
                        <li><a href="{{ path("show_obd2_error_catalog_choice_type") }}">Форум Ошибок ОBD2</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        {% block body %}{% endblock %}

        <footer class="footer">
            <div class="container">
                <nav class="navigation">
                    <ul class="navigation-block">
                        <li>
                            <a class="navigation-link cbutton cbutton--effect-boris" href="{{ path("homepage") }}" title="Главная">
                                <svg class="home" x="0px" y="0px" viewBox="0 0 16 16" width="40" height="40">
                                    <polyline fill="none"  stroke="#444444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                                    <polyline fill="none" stroke="#444444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5 13.5,13.5 13.5,7 "/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="navigation-link cbutton cbutton--effect-boris"  href="{{ path("show_obd2_error_catalog_choice_type") }}" title="OBD2 ошибки автотранспорта">
                                <svg class="check-img" width="40" height="40" viewBox="0 0 50 50" fill="none">
                                    <path d="M30 14V10H35V6H21V10H26V14" stroke="#444444" stroke-width="3" stroke-miterlimit="10" stroke-linejoin="round"/>
                                    <path d="M9 27H5V21H1V37H5V31H9" stroke="#444444" stroke-width="3" stroke-miterlimit="10" stroke-linejoin="round"/>
                                    <path d="M45 20V25H42V16.843C42 15.826 41.189 15 40.191 15H19.99C19.511 15 19.049 15.195 18.71 15.542L14 21H11C10 21 9 22 9 23V35C9 36.018 10.002 37 11 37H14L18.712 42.461C19.051 42.806 19.511 43 19.99 43H32.845C33.324 43 33.784 42.806 34.123 42.461L41.469 34.979C41.81 34.633 41.999 34.165 41.999 33.676V31H44.999V36H48.999V20H45Z" stroke="#444444" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path class="ligh" d="M32 28L24 39L27 30H22L27 20H32L27 28H32Z" fill="#444444"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="navigation-link cbutton cbutton--effect-boris" href="{{ path("show_spare_part_catalog_choice_spare_part") }}" title="Поиск запчастей">
                                <svg class="part" width="38" height="38" viewBox="0 0 50 50" fill="none">
                                    <path d="M46 22.6535V18.2787L40.793 17.4278C40.4846 16.1949 40.0004 15.0356 39.3624 13.974L42.3972 9.64886L39.3033 6.55665L35.0333 9.62625C33.9687 8.98171 32.8021 8.49028 31.5603 8.18113L30.6525 3H26.2775L25.4346 8.16436C24.1921 8.46914 23.0189 8.954 21.9514 9.59563L17.6938 6.55374L14.5999 9.64594L17.5946 13.9288C16.9471 15.0006 16.4549 16.1723 16.1421 17.4227L11 18.2787V22.6535L16.1363 23.5641C16.4461 24.8117 17.3503 25.2593 18 26.3326L21.9339 31.3942C23.0043 32.0372 24.1746 32.5258 25.4171 32.8327L26.2775 38H30.6525L31.572 32.8196C32.8079 32.5061 33.976 32.0139 35.0363 31.3686L39.3544 34.3981L42.4475 31.303L39.3653 27.0231C40.0033 25.9615 40.4875 24.8007 40.793 23.5678L46 22.6535ZM28.5 26.3326C25.2785 26.3326 22.6667 23.7209 22.6667 20.4996C22.6667 17.2784 25.2785 14.6667 28.5 14.6667C31.7215 14.6667 34.3333 17.2784 34.3333 20.4996C34.3333 23.7209 31.7215 26.3326 28.5 26.3326Z" stroke="#444444" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
                                    <path class="sch" fill-rule="evenodd" clip-rule="evenodd" d="M20.8571 38.7143H19.7143L19.2857 38.2857C20.7143 36.7143 21.5714 34.5714 21.5714 32.2857C21.5714 27.1429 17.4286 23 12.2857 23C7.14286 23 3 27.1429 3 32.2857C3 37.4286 7.14286 41.5714 12.2857 41.5714C14.5714 41.5714 16.7143 40.7143 18.2857 39.2857L18.7143 39.7143V40.8571L25.8571 48L28 45.8571L20.8571 38.7143ZM12.2857 38.7143C8.71429 38.7143 5.85714 35.8571 5.85714 32.2857C5.85714 28.7143 8.71429 25.8571 12.2857 25.8571C15.8571 25.8571 18.7143 28.7143 18.7143 32.2857C18.7143 35.8571 15.8571 38.7143 12.2857 38.7143Z" fill="#444444"/>
                                </svg>
                            </a>
                        </li>
                        {% if app.user  %}
                            {% if isUserOffice %}
                                <li>
                                    <a onclick="document.getElementById('create-new-post').click()" class="icon icon-plus us-btn" style="color: black;" href="">
                                        <i class="fa fa-plus-square-o" aria-hidden="true" style="font-size: 33px;"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a ng-init="gallery.init('#dialog-cropper-container-gallery')" onclick="document.getElementById('trigger-edit-gallery-photo').click()" ng-click="gallery.activePost = gallery.getNewPost()" class="icon icon-plus us-btn" style="color: black;" href="">
                                        <i class="fa fa-plus-square-o" aria-hidden="true" style="font-size: 33px;"></i>
                                    </a>

                                    <input id="trigger-edit-gallery-photo" type="file" style="display: none" custom-on-change="gallery.editPost">
                                </li>
                            {% endif %}
                        {% else %}
                            <li>
                                <a class="navigation-link navigation-link-p cbutton cbutton--effect-boris" href="{{ path("registration") }}" title="Автопарус">
                                    <svg width="35" height="35" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                            <path d="M27.5509 21.5911L27.5509 50.0001H0L27.5509 21.5911Z" fill="#D22856"/>
                                            <path d="M28.3163 0L49.9999 49.9998H28.3163V0Z" fill="#494242"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0">
                                                <rect width="50" height="50" fill="white"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}

                        <li>
                            <a class="navigation-link cbutton cbutton--effect-boris" href="{{ path("show_brand_catalog_choice_brand") }}" title="Поиск">
                                <svg class="search" width="40" height="40" viewBox="0 0 50 50" fill="none">
                                    <path d="M30.1892 5C22.0218 5 15.3785 11.6436 15.3785 19.8113C15.3785 27.9791 22.0218 34.6227 30.1892 34.6227C38.3567 34.6227 45 27.9791 45 19.8113C45 11.6436 38.354 5 30.1892 5ZM30.1892 31.9297C23.5083 31.9297 18.0714 26.4926 18.0714 19.8113C18.0714 13.1301 23.5056 7.69297 30.1892 7.69297C36.8729 7.69297 42.3071 13.1301 42.3071 19.8113C42.3071 26.4926 36.8702 31.9297 30.1892 31.9297Z" stroke-width="1.2" stroke="#444444" fill="#444444"/>
                                    <path d="M18.464 29.6312L5 43.0958L6.90412 45L20.3682 31.5354L18.464 29.6312Z" stroke-width="1.2" fill="#444444" stroke="#444444"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="navigation-link cbutton cbutton--effect-boris" href="{{ path("show_city_catalog_choice_city") }}" title="Поиск могазинов запчастей и авторазборок по выбранному городу">
                                <svg class="shop" width="40" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.66667 29.6667V28.6667H3.66667H2V24.4324L4.48647 12H45.5135L48 24.4323V28.6667H46.3333H45.3333V29.6667V44.6667H44V29.6667V28.6667H43H30.3333H29.3333V29.6667V44.6667H4.66667V29.6667ZM27 43.3333H28V42.3333V29.6667V28.6667H27H7H6V29.6667V42.3333V43.3333H7H27ZM4.66667 6H45.3333V7.33333H4.66667V6Z" stroke="#444444" stroke-width="2"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            {% set personLink = app.user ? (app.user.hasRole(constant('App\\Entity\\User::ROLE_ADMIN')) ? path("sonata_admin_dashboard") : path("show_user_office") ) : "login" %}
                            <a class="navigation-link cbutton cbutton--effect-boris" href="{{ personLink }}" title="Персональный профиль пользователя">
                                <svg class="user" width="40" height="40" viewBox="0 0 50 50" fill="none">
                                    <path d="M33.5 15C33.5 19.6944 29.6945 23.5 25 23.5C20.3056 23.5 16.5 19.6944 16.5 15C16.5 10.3056 20.3056 6.5 25 6.5C29.6945 6.5 33.5 10.3056 33.5 15Z" stroke="#444444" stroke-width="3.5"/>
                                    <path d="M43.5 43.5H6.5V40.3771C6.50929 40.361 6.51902 40.3442 6.52922 40.3267C6.66558 40.0932 6.88316 39.7455 7.19248 39.3213C7.81152 38.4723 8.79409 37.3222 10.224 36.1667C13.0634 33.8723 17.7339 31.5 25 31.5C32.2661 31.5 36.9366 33.8723 39.776 36.1667C41.2059 37.3222 42.1885 38.4723 42.8075 39.3213C43.1168 39.7455 43.3344 40.0932 43.4708 40.3267C43.481 40.3442 43.4907 40.361 43.5 40.3771V43.5Z" stroke="#444444" stroke-width="3.5"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>

        {% if app.user and not isUserOffice %}
            <div id="dialog-cropper-container-gallery" class="overlay overlay3">
                <section id="cropper-modal-gallery" class="modal3">
                    <div class="modal-header">
                        <button type="button" class="button-home cancel-button-cropper-dialog" id="gallery-photo-cancel">
                            <img src="/img/left-arrow1.png" alt="Назад">
                            <span> Назад</span>
                        </button>
                        <h2 class="button-title">Редактирование <span> изображения</span></h2>
                        <button type="button" class="button-home us-btn3 move-to-popup" data-popup="4"><span>Далее </span> <img src="/img/right-arrow1.png" alt="Далее"></button>
                    </div>

                    <div id="image-preview-container-gallery" class="img-cont">
                        <img class="modal-img" src="" alt="Фото" style="display: none">
                    </div>
                </section>
            </div>

            <div id="dialog-cropper-container-gallery2" class="overlay overlay4">
                <section class="modal4">
                    <div class="modal-header">
                        <button class="button-home move-to-popup" data-popup="3"><img src="/img/left-arrow1.png" alt="Назад"> <span> Назад</span></button>
                        <h2 class="button-title">Комментарий / Пост <span></span></h2>
                        <button type="button" class="button-home save-button-cropper-dialog" id="gallery-photo-save">
                            <span>Опубликовать </span>
                            <img src="/img/right-arrow1.png" alt="Далее">
                        </button>
                    </div>

                    <textarea id="gallery-photo-description" name="text" rows="10" placeholder="Текст коментария / поста" ng-model="gallery.activePost.description"></textarea>
                </section>
            </div>
        {% endif %}

        <script src="/bundles/fosjsrouting/js/router.min.js"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src='/bower-components/angular/angular.min.js'></script>
        <script src='/bower-components/angular-cookies/angular-cookies.min.js'></script>
        <script src='/bower-components/angular-sanitize/angular-sanitize.min.js'></script>
        <script src='/bower-components/jquery/dist/jquery.min.js'></script>
        <script src='/bower-components/jquery-ui/jquery-ui.min.js'></script>
        <script src='/bower-components/jquery.maskedinput/dist/jquery.maskedinput.js'></script>
        <script src='/js/general-settings.js'></script>
        <script src='/js/script-new.js' ></script>
        <script src='/js/client/app.js' ></script>
        <script src='/js/client/service/autocomplete-spare-part.js' ></script>
        <script src='/js/client/directive/autocomplete-autoparus.js' ></script>
        <script src='/js/client/directive/voice-input.js' ></script>
        <script src='/js/client/directive/redirect-to-url.js'></script>
        <script src='/js/client/directive/scroll-to-element.js' ></script>
        <script src='/bower-components/Jcrop/js/Jcrop.min.js'></script>
        <script src='/js/client/service/image-upload-service.js'></script>
        <script src='/js/client/directive/user-upload-link.js'></script>
        <script src='/js/client/directive/user-profile/gallery-upload.js'></script>
        <script src='/js/client/directive/user-profile/show-more-lines.js'></script>
        <script src='/js/client/directive/custom-on-change.js'></script>

        {% if not isUserOffice %}
            <script src='/js/client/controller/user-profile/gallery-controller.js'></script>
        {% endif %}

        {% block javascripts %}
        {% endblock %}
        {{ show_code("body") | raw }}
    </body>
</html>
