{% set isEditAction = isEditAction is defined ? isEditAction : app.request.attributes.get('_route') == "user_profile_product_categories_spare_part_edit_general_advert" %}
{% set scrollToElement = false %}

<form class="user-form" id="form-edit-general-advert" action="{{ advertId and not isEditAction ? path("user_profile_product_categories_spare_part_add_second_part_general_advert", {"id" : advertId}) : path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" novalidate enctype="multipart/form-data"
        {% if isValid and not isConfirmBrand %}
                redirect-to-url redirect-url="{{ redirectToUrl }}"
        {% endif %}
>
    {{ form_widget(form._token) }}
    <div class="status">
        <div class="status-block"
                {% if not scrollToElement and form.condition.vars.errors.form.getErrors(true) | length %}
                    scroll-to-element
                    {% set scrollToElement = true %}
                {% endif %}
        >
            <h3 class="status-title">Укажите состояние</h3>
            <ul class="status-select">
                {% for choice in form.condition %}
                    <li class="status-option">
                        {{ form_widget(choice, {attr: {class: "visually-hidden filter-input filter-input-radio" }}) }}
                        {{ form_label(choice, null, {"label_attr" : {"class" : "status-name"}}) }}
                    </li>
                {% endfor %}
            </ul>
            {% for key, error in form.condition.vars.errors.form.getErrors(true)%}
                <span class="prompt">{{ error.message }}</span>
            {% endfor %}
        </div>
        <div class="status-block"
                {% if not scrollToElement and form.stockType.vars.errors.form.getErrors(true) | length %}
                    scroll-to-element
                    {% set scrollToElement = true %}
                {% endif %}
        >
            <h3 class="status-title">Отметьте наличие</h3>
            <ul class="status-select">
                {% for choice in form.stockType %}
                    <li class="status-option">
                        {{ form_widget(choice, {attr: {class: "visually-hidden filter-input filter-input-radio" }}) }}
                        {{ form_label(choice, null, {"label_attr" : {"class" : "status-name"}}) }}
                    </li>
                {% endfor %}
            </ul>
            {% for key, error in form.stockType.vars.errors.form.getErrors(true)%}
                <span class="prompt">{{ error.message }}</span>
            {% endfor %}
        </div>
    </div>

    <h2 class="subtitle" ng-click="editAdvert.method()">Выберите марку или условие - Все марки
        <sup>
            <button id="open-overlay2" type="button" class="help">
                <svg viewBox="0 0 32 32" width="18px" height="18px">
                    <path fill="#757373" d="M 16 4 C 9.382813 4 4 9.382813 4 16 C 4 22.617188 9.382813 28 16 28 C 22.617188 28 28 22.617188 28 16 C 28 9.382813 22.617188 4 16 4 Z M 16 6 C 21.535156 6 26 10.464844 26 16 C 26 21.535156 21.535156 26 16 26 C 10.464844 26 6 21.535156 6 16 C 6 10.464844 10.464844 6 16 6 Z M 16 10 C 13.800781 10 12 11.800781 12 14 L 14 14 C 14 12.882813 14.882813 12 16 12 C 17.117188 12 18 12.882813 18 14 C 18 14.765625 17.507813 15.445313 16.78125 15.6875 L 16.375 15.8125 C 15.558594 16.082031 15 16.863281 15 17.71875 L 15 19 L 17 19 L 17 17.71875 L 17.40625 17.59375 C 18.945313 17.082031 20 15.621094 20 14 C 20 11.800781 18.199219 10 16 10 Z M 15 20 L 15 22 L 17 22 L 17 20 Z "/>
                </svg>
            </button>
        </sup>
    </h2>

    <div class="select-ch"
            {% if not scrollToElement and form.brand.vars.errors.form.getErrors(true) | length %}
                scroll-to-element
                {% set scrollToElement = true %}
            {% endif %}
    >
        {{ form_widget(form.brand, {attr: {class: "select-avto form-brand-select"}}) }}
        {% for key, error in form.brand.vars.errors.form.getErrors(true)%}
            <span class="prompt">{{ error.message }}</span>
        {% endfor %}
    </div>

    <button id="chosen-brand-name" type="button" class="btn-filter btn-filter--r"
            style="display: {{ form.models | length ? 'block' : 'none' }}" ng-click="editAdvert.isCheckedAllModels = !editAdvert.isCheckedAllModels; editAdvert.isCheckedAllModels ? editAdvert.checkAllModels() : editAdvert.uncheckAllModels();" ng-cloak
            {% if not scrollToElement and form.models.vars.errors.form.getErrors(true) | length %}
                scroll-to-element
                {% set scrollToElement = true %}
            {% endif %}
    >
        <span class="first-span" ng-hide="editAdvert.isCheckedAllModels">Отметить все модели</span>
        <span class="first-span" ng-show="editAdvert.isCheckedAllModels">Снять выбор всех моделей</span>
        <span class="second-span">{{ form.brand.vars.help }}</span>
    </button>

    {% for key, error in form.models.vars.errors.form.getErrors(true)%}
        <span class="prompt">{{ error.message }}</span>
    {% endfor %}

    <ul id="list-models" class="pay-block" get-models-by-brand brand-select=".form-brand-select"
        container-model="#model-container" list-models="#list-models" legend-element="#chosen-brand-name">
        {% set isCheckedAllModels = true %}
        {% for choice in form.models %}
            {% set isCheckedAllModels = not choice.vars.data ? false : isCheckedAllModels %}
            <li class="pay-option">
                {{ form_widget(choice, {attr: {class: "visually-hidden filter-input filter-input-checkbox model-checkbox" }}) }}
                {{ form_label(choice, null, {"label_attr" : {"class" : "pay-name"}}) }}
            </li>
        {% endfor %}
    </ul>
    <div ng-init="editAdvert.isCheckedAllModels = {{ isCheckedAllModels ? 'true' : 'false' }}"></div>

    <div id="model-container" style="display: none">
        <li class="pay-option">
            <input type="checkbox" id="spare_part_general_advert_models___index__" name="spare_part_general_advert[models][]" class="visually-hidden filter-input filter-input-checkbox">
            <label class="pay-name" for="spare_part_general_advert_models___index__"></label>
        </li>
    </div>

    <div class="business-btn">
        {% if not isEditAction %}
            {{ form_widget(form.submitGeneral, {attr: {class: "btn-filter"}}) }}

            {% if isConfirmBrand %}
                <span class="check"
                        {% if not scrollToElement %}
                scroll-to-element
                        {% set scrollToElement = true %}
                        {% endif %}>Подтверждение принято</span>
            {% endif %}
        {% endif %}
    </div>

    <h2 class="subtitle"
            {% if not scrollToElement and form.spareParts.vars.errors.form.getErrors(true) | length %}
                scroll-to-element
                {% set scrollToElement = true %}
            {% endif %}
    >Отметьте предлагаемые товары</h2>

    <button ng-cloak id="hide-all-spare-parts-button" type="button" ng-click="editAdvert.checkAllSpareParts(); editAdvert.isCheckedAllSpareParts = true" class="btn-filter btn-filter--r" ng-hide="editAdvert.isCheckedAllSpareParts">Отметить все запчасти (товары)</button>
    <button ng-cloak id="show-all-spare-parts-button" type="button" ng-click="editAdvert.uncheckAllSpareParts(); editAdvert.isCheckedAllSpareParts = false" class="btn-filter btn-filter--r" ng-show="editAdvert.isCheckedAllSpareParts">Снять выбор запчастей (товаров)</button>
    {% for key, error in form.spareParts.vars.errors.form.getErrors(true)%}
        <span class="prompt-i">Выберите хотя бы одну позицию</span>
    {% endfor %}

    <ul class="pay-sel">
        {% set isCheckedAllSpareParts = true %}
        {% for choice in form.spareParts %}
            {% set isCheckedAllSpareParts = not choice.vars.data ? false : isCheckedAllSpareParts %}
            <li class="pay-item">
                {{ form_widget(choice, {attr: {class: "visually-hidden filter-input filter-input-checkbox spare-part-checkbox" }}) }}
                {{ form_label(choice) }}
            </li>
        {% endfor %}
    </ul>

    <div ng-init="editAdvert.isCheckedAllSpareParts = {{ isCheckedAllSpareParts ? 'true' : 'false' }}"></div>

    {{ form_widget(form.comment, {attr: {"rows": "5", "placeholder" : "Общий комментарий к объявлению:"}}) }}

    <div class="btn-save">
        {% set firstButtonLabel = isEditAction ? "Редактировать" : "Добавить" %}
        {{ form_widget(form.submit, {attr: {class: "btn-filter"}, "label" : firstButtonLabel}) }}
    </div>

    <div id="preloader-view" style="display: none;">
        <span class="load">Подождите, идет загрузка объявления.</span>
        <img style="max-height: 20px;" src="/img/preload-gear.svg"/>
    </div>

    {% if isValid and not isConfirmBrand %}
        <span class="check" {% if not scrollToElement and form.spareParts.vars.errors.form.getErrors(true) | length %}
        scroll-to-element
                {% set scrollToElement = true %}
                {% endif %}>
                Подтверждение принято и объявление сохранено
            </span>
    {% endif %}

    <div class="mod-text">{{ (isEditAction ? default_text(37) : default_text(5)).text | raw }}</div>
</form>