{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block body %}
    <main class="container">
        <ul id="breadcrumbs">
            <li>
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="Главная">
                    <span class="user-name">Главная </span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                </a>
            </li>
            <li><a class="current">/ Восстановление пароля</a></li>
        </ul>

        <div id="form-forgot-password-container" ng-controller="ForgotPasswordCtrl as forgot"
             ng-init="forgot.init('#forgot-password-form', '{{ path("forgot_password") }}', '#form-forgot-password-container')">
            {% include('/client/security/form/forgot-password-form.html.twig') with {"form" : form} %}
        </div>
        <div class="text">{{ page.textBottom | raw }}</div>
    </main>

    <div id="success-message" class="overlay">
        <div class="modal">
            <button id="close-modal" type="button" class="modal-close">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
            <line fill="#000" stroke="#000000" stroke-width="4" stroke-miterlimit="10" x1="7.741" y1="7.741" x2="42.359" y2="42.359"/>
                    <line fill="#000" stroke="#000000" stroke-width="4" stroke-miterlimit="10" x1="42.258" y1="7.742" x2="7.618" y2="42.382"/>
            </svg>
            </button>
            <p class="modal-title" data-text="Восстановление прошло успешно"></p>
            <div class="modal-text">{{ page.textModal | raw }}</div>
            <a href="{{ page.returnButtonLink }}"><button type="button" class="button button-m">{{ page.returnButtonText }}</button></a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/client/directive/clear-field-button.js"></script>
    <script src="/js/client/controller/security/forgot-password-controller.js"></script>
{% endblock %}