{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/style-new.css'>
    <link rel='stylesheet' href='/css/forgot-password.css'>
{% endblock %}

{% block body %}

    <main class="container">
        <div id="form-forgot-password-container" ng-controller="ForgotPasswordCtrl as forgot"
             ng-init="forgot.init('#forgot-password-form', '{{ path("forgot_password") }}', '#form-forgot-password-container')">
            {% include('/client/security/form/forgot-password-form.html.twig') with {"form" : form} %}
        </div>
        <p class="text">тект из каталога текстов, тект из каталога текстов, тект из каталога текстов, тект из каталога текстов, тект из каталога текстов, тект из каталога текстов, тект из каталога текстов, тект из каталога текстов, тект из каталога текстов, тект из каталога текстов, тект из каталога текстов, тект из каталога текстов,тект из каталога текстов
        </p>
    </main>
    {#<article id=''>#}

        {#<form id='forgetForm' action="{{ path("forgot_password") }}" method="post">#}
            {#{{ form_widget(form._token) }}#}
            {#<span id='recovery'>Восстановление пароля</span>#}
            {#<span id='oldEmail'>Укажите адрес электронной почты, указанной при регистрации</span>#}
            {#{{ form_widget(form.email, {attr: {"placeholder": "Ваш e-mail", "maxlength" : "40", "class" : "inputF3" }}) }}#}
            {#<br/><br/>#}
            {#{{ form_widget(form.submit) }}#}
            {#<br/><br/>#}
            {#{% for error in form.email.vars.errors%}#}
                {#<span id='red'>{{ error.message }}</span><br/><br/>#}
            {#{% endfor %}#}

        {#</form>#}
        {#<br/><br/><br/><br/>#}

    {#</article>#}
    <div id="success-message" class="overlay">
        <div class="modal">
            <button id="close-modal" type="button" class="modal-close">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
            <line fill="#000" stroke="#000000" stroke-width="4" stroke-miterlimit="10" x1="7.741" y1="7.741" x2="42.359" y2="42.359"/>
                    <line fill="#000" stroke="#000000" stroke-width="4" stroke-miterlimit="10" x1="42.258" y1="7.742" x2="7.618" y2="42.382"/>
            </svg>
            </button>
            <p class="modal-title" data-text="Восстановление прошло успешно"></p>
            <p class="modal-text">Текст подсказки из каталога текстов, Текст подсказки из каталога текстов Текст подсказки из каталога текстов Текст подсказки из каталога текстов Текст подсказки из каталога текстовТекст подсказки из каталога текстов Текст Текст подсказки из каталога текстов Текст подсказки из каталога текстов </p>
            <button class="button button-m">Универсальная кнопка</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/client/directive/clear-field-button.js"></script>
    <script src="/js/client/controller/security/forgot-password-controller.js"></script>
    {#<script>#}
        {#let popup = document.querySelector('.overlay');#}

        {#let openPopupButton = document.querySelector('.button-show');#}

        {#let closePopupButton = popup.querySelector('.modal-close');#}


        {#openPopupButton.addEventListener('click', function (evt) {#}
            {#evt.preventDefault();#}
            {#popup.classList.add('modal--show');#}
        {#});#}

        {#closePopupButton.addEventListener('click', function () {#}
            {#popup.classList.remove('modal--show');#}
        {#});#}

        {#document.addEventListener('keydown', function (evt) {#}
            {#if (evt.keyCode === 27) {#}
                {#popup.classList.remove('modal--show');#}
            {#}#}
        {#});#}
    {#</script>#}
{% endblock %}