{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link type='text/css' rel='stylesheet' href='/css/forgot-password.css'>
{% endblock %}

{% block body %}
    <article id=''>

        <form id='forgetForm' action="{{ path("forgot_password") }}" method="post">
            {{ form_widget(form._token) }}
            <span id='recovery'>Восстановление пароля</span>
            <span id='oldEmail'>Укажите адрес электронной почты, указанной при регистрации</span>
            {{ form_widget(form.email, {attr: {"placeholder": "Ваш e-mail", "maxlength" : "40", "class" : "inputF3" }}) }}
            <br/><br/>
            {{ form_widget(form.submit) }}
            <br/><br/>
            {% for error in form.email.vars.errors%}
                <span id='red'>{{ error.message }}</span><br/><br/>
            {% endfor %}

        </form>
        <br/><br/><br/><br/>

    </article>
{% endblock %}