{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link type='text/css' rel='stylesheet' href='/css/recovery-password.css'>
{% endblock %}

{% block body %}
        <article id=''>
            {% if incorrectCode is defined %}
                <p style="padding-left: 20px;">У вашей ссылки истёк срок действия. Попробуйте <a href="{{ path("forgot_password") }}">восстановить пароль</a> заново</p>
            {% else %}

            <form id='setForm' action="{{ path("recovery_password", {"code" : app.request.query.get('code')}) }}" method="post">
                {{ form_widget(form._token) }}
                <span id='setPass'>Установка нового пароля</span>
                <span id='createPass'>Придумайте пароль к Вашему личному кабинету и подтвердите его</span>
                {{ form_widget(form.password.first, {attr: {"placeholder": "Пароль", "maxlength" : "40", "class" : "inputF4" }}) }}
                <br/><br/>
                {{ form_widget(form.password.second, {attr: {"placeholder": "Подтвердить пароль", "maxlength" : "40", "class" : "inputF4" }}) }}
                <br/><br/>
                {{ form_widget(form.submit) }}
                <br/><br/>
                {% for error in form.password.first.vars.errors%}
                    <span style="color: red">{{ error.message }}</span><br/><br/>
                {% endfor %}
                {% for error in form.password.second.vars.errors%}
                    <span style="color: red">{{ error.message }}</span><br/><br/>
                {% endfor %}

            </form>
            <br/><br/><br/><br/>

        </article>
    {% endif %}
{% endblock %}