{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/registration.css'>
{% endblock %}

{% block body %}
    {% set nameCookieKey = constant('App\\Entity\\General\\RegistrationPage::NAME_COOKIE_KEY') %}
    {% set emailCookieKey = constant('App\\Entity\\General\\RegistrationPage::EMAIL_COOKIE_KEY') %}
    {% set phoneCookieKey = constant('App\\Entity\\General\\RegistrationPage::PHONE_COOKIE_KEY') %}
    {% set termsCookieKey = constant('App\\Entity\\General\\RegistrationPage::TERMS_COOKIE_KEY') %}
    {% set allCookieKey = constant('App\\Entity\\General\\RegistrationPage::SAVING_COOKIE_KEY') %}

    <main class="container">
        <ul id="breadcrumbs">
            <li>
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="Главная">
                    <span class="user-name">Главная </span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                </a>
            </li>
            <li><a class="current">/ Регистрация</a></li>
        </ul>

        <div id="form-registration-container"
             ng-controller="RegistrationCtrl as register"
             ng-init="register.init('#registration-form', '{{ path("edit_registration_form") }}', '{{ path("security_check_email_end") }}',
             '{{ nameCookieKey }}', '{{ emailCookieKey }}', '{{ phoneCookieKey }}', '{{ termsCookieKey }}', '{{ allCookieKey }}')">
            {% include('/client/security/form/registration-form.html.twig') with {"form" : form, "headline" : page.headline} %}
        </div>
        <div class="text">{{ page.textBottom | raw }}</div>

    </main>

    <div class="overlay">
        <section class="modal">
            <button class="modal-close" type="button">
                <svg  x="0px" y="0px" width="25px" height="25px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <line fill="none" stroke="#727272" stroke-width="4" stroke-miterlimit="10" x1="7.741" y1="7.741" x2="42.359" y2="42.359"/>
                    <line fill="#none" stroke="#727272" stroke-width="4" stroke-miterlimit="10" x1="42.258" y1="7.742" x2="7.618" y2="42.382"/>
                </svg>
            </button>
            <h1 class="modal-title" data-text="{{ default_text(46).headline }}"></h1>
            <div class="modal-text">
                {{ default_text(46).text | raw }}
                <a id="link-to-mail" target="_blank" style="display: none" href="">Перейти в почту</a>
            </div>
        </section>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/client/directive/clear-field-button.js"></script>
    <script src="/js/client/directive/password-show-button.js"></script>
    <script src="/js/client/directive/input-by-pattern.js"></script>
    <script src="/js/client/directive/security/scroll-to-element-start-input.js"></script>
    <script src="/js/client/controller/security/registration-controller.js"></script>
{% endblock %}