{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/bower-components/owl.carousel/dist/assets/owl.carousel.min.css'>
    <link rel='stylesheet' href='/bower-components/owl.carousel/dist/assets/owl.theme.default.min.css'>
    <link rel='stylesheet' href='/css/catalog/auto/obd2-error/choice-code.css'>
{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}
    <main class="container">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="{{ titleHomepage }}" itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_obd2_error_catalog_choice_type") }}" itemprop="item" title="{{ titleChoiceType }}"><span class="line">/</span>
                <span itemprop="name">OBD2</span>
                    <meta itemprop="position" content="2">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" nohref itemprop="item"><span class="line">/</span>
                <span itemprop="name">{{ type.type }}</span>
                    <meta itemprop="position" content="3">
                </a>
            </li>
        </ul>
        {{ render(path('show_article_header_slider')) }}

        <section class="code">
            <h1 class="title">{{ page.headline1 }}</h1>
            <div class="text">{{ page.text1 | raw }}</div>
            <div class="business" id="form-obd2-code" ng-controller="OBD2CodeCtrl as obd2"
                 ng-init="obd2.init('#obd2-code-form', '{{ path("ajax_check_obd2_code", {"urlType" : routeParams["urlType"]}) }}', '{{ path("show_obd2_error_catalog_choice_transcript", routeParams|merge({"urlCode" : "__url_code__"})) }}')">
                {% include('/client/forum/obd2-forum/forms/code-form.twig') with {"form" : form, "type" : type} %}
            </div>
            </section>
            <section class="code-b">
            <h2 class="subtitle">{{ page.headline2 }}</h2>
            <div class="text text-m">{{ page.text2 | raw }}</div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src='/bower-components/owl.carousel/dist/owl.carousel.min.js'></script>
    <script src="/js/client/directive/input-by-pattern.js"></script>
    <script src="/js/client/directive/search-field.js"></script>
    <script src="/js/client/controller/catalog/obd2-error/obd2-code-controller.js"></script>
{% endblock %}