{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/catalog/auto/obd2-error/choice-type.css'>
{% endblock %}

{% block body %}
    <main class="container">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="{{ titleHomepage }}" itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" itemprop="item" itemprop="item">/ <span itemprop="name">Ошибки работы электронных систем автомобиля</span>
                    <meta itemprop="position" content="2"></a></li>
        </ul>

        <section class="engine">
            <h1 class="title" data-text="{{ page.headline1 }}"></h1>
            <div class="text">{{ page.text1 | raw }}</div>
            <ul class="engine-block">
                {% for key, type in types %}
                    <li><a class="engine-link" title="{{ type["type"] }}" href="{{ path("show_obd2_error_catalog_choice_code", {urlType: type["url"]}) }}">{{ key }}</a></li>
                {% endfor %}
            </ul>

            <h2 class="subtitle" data-text="{{ page.headline2 }}"></h2>
            <div class="text text-m">{{ page.text2 | raw }}</div>
        </section>
    </main>
{% endblock %}