{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/catalog/auto/obd2-error/choice-transcript.css'>
{% endblock %}

{% block body %}
    <main class="container">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="{{ titleHomepage }}" itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_obd2_error_catalog_choice_type") }}" itemprop="item" title="{{ titleChoiceType }}"><span class="line">/</span><span itemprop="name">OBD2</span></a><meta itemprop="position" content="2">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_obd2_error_catalog_choice_code", {urlType : type.url}) }}" itemprop="item" title="{{ titleChoiceCode }}"><meta itemprop="position" content="3"></a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" nohref itemprop="item"><span class="line">/</span><span itemprop="name">{{ type.designation ~ code.code }}</span><meta itemprop="position" content="4"></a>
            </li>
        </ul>

        <section class="code">
            <h1 class="title" data-text="{{ page.headline1 }}"></h1>
            <div class="text">{{ page.text1 | raw }}</div>
            <div class="code-block">
                <b class="name">Ошибка {{ type.designation ~ code.code }}</b>
                <p class="code-text">{{ page.text3 | raw }}</p>
                {% if code.id %}
                    <a href="{{ path("show_obd2_error_catalog_choice_reason", {urlType: type.url, urlCode: code.url}) }}" title="Причины повлекшие возникновения ошибки {{ type.designation ~ code.code }}"><button class="btn button" type="button">Причины возникновения ошибки</button></a>
                {% else %}
                    <a href="{{ path("show_obd2_error_catalog_choice_type") }}" title="Причины повлекшие возникновения ошибки {{ type.designation ~ code.code }}"><button class="btn button" type="button">Уточнить</button></a>
                {% endif %}
            </div>

            <h1 class="subtitle" data-text="{{ page.headline2 }}"></h1>
            <div class="text text-m">{{ page.text2 | raw }}</div>
        </section>
    </main>
{% endblock %}