{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/catalog/auto/obd2-error/choice-reason.css'>
{% endblock %}

{% block body %}
    <main class="container">
    <div class="inner-grey">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="{{ titleHomepage }}"  itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_obd2_error_catalog_choice_type") }}" itemprop="item" title="{{ titleChoiceType }}">
                    <span class="line">/</span>
                    <span itemprop="name">OBD2</span>
                </a>
                <meta itemprop="position" content="2">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_obd2_error_catalog_choice_code", {urlType : type.url}) }}" itemprop="item" title="{{ titleChoiceCode }}">
                    <span class="line">/</span>
                    <span itemprop="name">Ошибка {{ type.designation }}</span>
                    <meta itemprop="position" content="3">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_obd2_error_catalog_choice_transcript", {urlType : type.url, urlCode : code.url}) }}" itemprop="item" title="{{ titleChoiceTranscript }}">
                    <span class="line">/</span>
                    <span itemprop="name">{{ type.designation ~ code.code }}</span>
                    <meta itemprop="position" content="4">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" href="#" itemprop="item"><span class="line">/</span><span itemprop="name">Возможная причина</span><meta itemprop="position" content="5"></a>
            </li>
        </ul>

        <section class="code">
            <h1 class="title">{{ page.headline1 }}</h1>
            <div class="text">{{ page.text1 | raw }}</div>
            <div class="code-block">
                <b class="name">Причина возникновения {{ type.type }} {{ type.designation ~ code.code}}:</b>
                <div class="code-text">{{ page.text3 | raw }}</div>
                {% if code.id %}
                    <a href="{{ page.returnButtonLink }}"><button class="button" type="button">{{ page.returnButtonText }}</button></a>
                {% else %}
                    <a href="{{ path("show_obd2_error_catalog_choice_code", {urlType : type.url}) }}"><button class="button" type="button">Перепроверить</button></a>
                {% endif %}
            </div>
        </section>
        <section class="code">
            <h2 class="subtitle">{{ page.headline2 }}</h2>
            <div class="text text-m">{{ page.text2 | raw }}</div>
        </section>

        <section class="code-b">
        <h2 class="subtitle">Популярные марки авто</h2>
            <ul class="city-icon">
                {% for brand in brands %}
                    <li><a href="{{ path("show_spare_part_catalog_choice_model", {urlSP: code.urlToCatalog, urlBrand: brand.url}) }}"><img src="{{ image_url(brand["logo"]) }}" alt="{{ brand["name"] }}" title="Запчасти для {{ brand["name"] }}"></a></li>
                {% endfor %}
            </ul>
        </section>
        </div>
    </main>
{% endblock %}