{% extends 'base.html.twig' %}
{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
<link rel='stylesheet' href='/bower-components/owl.carousel/dist/assets/owl.carousel.min.css'>
    <link rel='stylesheet' href='/bower-components/owl.carousel/dist/assets/owl.theme.default.min.css'>
    <link rel='stylesheet' href='/css/client/catalog/spare-part/choice-brand.css'>
{% endblock %}

{% block body %}
    <main class="container" ng-init="showAll = false; hideTextClass = 'text1Hide';">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="Автопарус.бай" itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_spare_part_catalog_choice_spare_part") }}" itemprop="item" title="Запчасти для автомобилей"><span class="line">/</span><span itemprop="name">Запчасти</span></a><meta itemprop="position" content="2"></li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" nohref itemprop="item"><span class="line">/</span> <span itemprop="name">{{ sparePart.alternativeName5 }}</span><meta itemprop="position" content="3"></a>
            </li>
        </ul>

        <section class="city">

        {{ render(path('show_article_header_slider')) }}
        
            <h1 class="city-title">{{ page.headline1 }}</h1>
            <div class='city-desc'>
                <div id='text1' ng-class="hideTextClass">{{ page.text1 | raw }}</div>
                <span ng-click="hideTextClass = 'text1Show'" ng-show="hideTextClass === 'text1Hide'" id='allText'> &gt;&gt;&gt;&gt;&gt;&gt;&gt; </span>
                <span ng-click="hideTextClass = 'text1Hide'" ng-show="hideTextClass === 'text1Show'" id='allText'> &lt;&lt;&lt;&lt;&lt;&lt;&lt; </span>
            </div>
            <form class='modform' action="" method="get" scroll-to-element scroll-by-click="true" initiator=".initiator-scroll">
                <input id="brand-autocomplete" class='form7' name="search"
                    auto-сomplete-autoparus add-url="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"
                    method-search="searchBrands" identifier-field="brand-autocomplete"
                    placeholder="Марка авто:" type="search"
                   scroll-to-element scroll-by-click="true" before-top="30">
            </form>
            <div class="model-block">
                <ul class='show-m' id='model' ng-show="showAll">
                    {% for brand in allBrands %}
                        <li>
                            <a class="model-link" href='{{ path("show_spare_part_catalog_choice_model", {"urlSP" : sparePart.url, "urlBrand" : brand.url}) }}'>
                                <img src="{{ image_url(brand.thumbnailLogo64, "brand") }}" alt="{{ brand.brandEn }}" title="{{ sparePart.alternativeName1 }} для автомобилей {{ brand.brandEn }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class='show-m' id='model' ng-hide="showAll">
                    {% for brand in popularBrands %}
                        <li>
                            <a class="model-link" href='{{ path("show_spare_part_catalog_choice_model", {"urlSP" : sparePart.url, "urlBrand" : brand.url}) }}'>
                                <img src="{{ image_url(brand.thumbnailLogo64, "brand") }}" alt="{{ brand.brandEn }}" title="{{ sparePart.alternativeName1 }} для автомобилей {{ brand.brandEn }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <button id='button-mod' class="initiator-scroll" type="button" ng-hide="showAll" ng-click="showAll = true">&gt;&gt;&gt; <span> Показать все марки </span> &gt;&gt;&gt;</button>
                <button id='button-mod' class="initiator-scroll" type="button" ng-show="showAll" ng-click="showAll = false">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
            </div>

            <div class="article-wrapper">
        <div class="article">
            {% for articleArray in articles|slice(0, (is_mobile() ? 3 : 7)) if articleArray.object.detail.themes | length > 0 %}
                {% set article = articleArray.object %}
                <a href="{{ path("article_catalog_show_article", {"id" : article.id}) }}" class="article-link--n">
                    <h2 class="article-title add-three-dots-2-lines"><span>{{ article.headline1 }}</span></h2>
                    <div class="article-foto">
                        <img src="{{ image_url(article.mainArticleImage.imageThumbnail) }}" alt="Картинка">
                        <div class="article-block--n">
                            <span class="article-date">{{ article.updatedAt | date("d.m.Y") }}</span>
                            <span class="article-time">{{ article.updatedAt | date("H:i") }}</span>
                        </div>
                    </div>

                    <h3 class="article-subtitle add-three-dots-3-lines">{{ article.headline2 }}</h3>
                </a>
            {% endfor %}
        </div>
        <a href="/stati/news" class="art-link">&gt;&gt;&gt;<span> Показать все новости </span>&gt;&gt;&gt;</a>
        </div>

            <h2 class='city-subtitle'>{{ page.headline2 }}</h2>
            <div class='city-subtext'>{{ page.text2 | raw }}</div>
        </section>
    </main>

    {#<main class="container" ng-init="showAll = false;">#}
        {#<section class="marka">#}
            {#<h1 class="marka-title">{{ page.headline1 }}</h1>#}
            {#<div class="marka-text">{{ page.text1 | raw }}</div>#}

            {#<div class='marka-search'>#}
                {#<form class='markaform' action="" method="get">#}
                    {#<input id="brand-autocomplete" class='form6' name="search"#}
                           {#auto-сomplete-autoparus add-url="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"#}
                           {#method-search="searchBrands" identifier-field="brand-autocomplete"#}
                           {#placeholder="Марка авто:" type="search" >#}
                {#</form>#}
            {#</div>#}

            {#<ul class='showMoreModel' id='brandImg4' ng-show="showAll">#}
                {#{% for brand in allBrands %}#}
                    {#<li><a class="marka-link" href='{{ path("show_spare_part_catalog_choice_model", {"urlSP" : sparePart.url, "urlBrand" : brand.url}) }}'><span>{{ brand.name }}</span> <img src="{{ image_url(brand.logo, "brand") }}" alt="{{ brand.brandEn }}" title="{{ sparePart.name }} для {{ brand.name }}"></a></li>#}
                {#{% endfor %}#}
            {#</ul>#}
            {#<ul class='showMoreModel' id='brandImg4' ng-hide="showAll">#}
                {#{% for brand in popularBrands %}#}
                    {#<li><a class="marka-link" href='{{ path("show_spare_part_catalog_choice_model", {"urlSP" : sparePart.url, "urlBrand" : brand.url}) }}'><span>{{ brand.name }}</span> <img src="{{ image_url(brand.logo, "brand") }}" alt="{{ brand.brandEn }}" title="{{ sparePart.name }} для {{ brand.name }}"></a></li>#}
                {#{% endfor %}#}
            {#</ul>#}

            {#<div id='showAll4' ng-hide="showAll" ng-click="showAll = true">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</div>#}
            {#<div id='showAll4' ng-show="showAll" ng-click="showAll = false">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</div>#}
            {#<h2 class='marka-subtitle'>{{ page.headline2 }}</h2>#}

            {#<div class='marka-text-b'>{{ page.text2 | raw }}</div>#}
        {#</section>#}
    {#</main>#}
{% endblock %}

{% block javascripts %}
    <script src='/bower-components/owl.carousel/dist/owl.carousel.min.js'></script>
{% endblock %}