{% extends 'base.html.twig' %}
{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/client/catalog/spare-part/choice-model.css'>
{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}

    <main class="container" ng-init="showAll = false; hideTextClass = 'text1Hide';">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="Автопарус.бай" itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_spare_part_catalog_choice_spare_part") }}" itemprop="item" title="Запчасти для автомобилей">/ <span itemprop="name">Запчасти</span></a><meta itemprop="position" content="2"></li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_spare_part_catalog_choice_brand", {"url" : sparePart.url}) }}" itemprop="item" title="{{ sparePart.name }}">/ <span itemprop="name">{{ sparePart.alternativeName5 }}</span></a><meta itemprop="position" content="3"></li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" nohref itemprop="item">/ <span itemprop="name">{{ brand.brandEn }}</span><meta itemprop="position" content="4"></a>
            </li>
        </ul>

        <section class="city">
            <h1 class="city-title" data-text="{{ page.headline1 }}"></h1>
            <div class='city-desc'>
                <div id='text1' ng-class="hideTextClass">{{ page.text1 | raw }}</div>
                <span ng-click="hideTextClass = 'text1Show'" ng-show="hideTextClass === 'text1Hide'" id='allText'> &gt;&gt;&gt;&gt;&gt;&gt;&gt; </span>
                <span ng-click="hideTextClass = 'text1Hide'" ng-show="hideTextClass === 'text1Show'" id='allText'> &lt;&lt;&lt;&lt;&lt;&lt;&lt; </span>
            </div>
            <form class='modform' action="" method="get">
                <input id="model-autocomplete" class='form7' name="search"
                auto-сomplete-autoparus add-url="{{ path(app.request.attributes.get('_route'), routeParams) }}"
                method-search="searchModels" identifier-field="model-autocomplete"
                request-parameters='{"brand": "{{ brand.url }}"}'
                placeholder="Модель авто:" type="search" >
            </form>
            <div class="model-block" scroll-to-element scroll-by-click="true" initiator=".initiator-scroll">
                <ul class='show-m' id='model' ng-show="showAll">
                    {% for model in allModels %}
                        <li>
                            <a class="mod-link {{ loop.first ? "mod-link--line" : "" }}" href="{{ path("show_spare_part_catalog_choice_city", {"urlModel" : model.url}|merge(routeParams)) }}">
                                <span>{{ model.name }}</span>
                                <img src="{{ image_url(model.thumbnailLogo, "model") }}" alt="{{ model.modelEn }}" title="{{ sparePart.alternativeName1 }} для {{ brand.brandEn }} {{ model.modelEn }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class='show-m' id='model' ng-hide="showAll">
                    {% for model in popularModels %}
                        <li>
                            <a class="mod-link {{ loop.first ? "mod-link--line" : "" }}" href="{{ path("show_spare_part_catalog_choice_city", {"urlModel" : model.url}|merge(routeParams)) }}">
                                <span>{{ model.name }}</span>
                                <img src="{{ image_url(model.thumbnailLogo, "model") }}" alt="{{ model.modelEn }}" title="{{ sparePart.alternativeName1 }} для {{ brand.brandEn }} {{ model.modelEn }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <button id='button-mod' class="initiator-scroll" type="button" ng-hide="showAll" ng-click="showAll = true">Показать все модели</button>
                <button id='button-mod' class="initiator-scroll" type="button" ng-show="showAll" ng-click="showAll = false">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
            </div>

            <a href="{{ path("show_spare_part_catalog_choice_city", {"urlModel" : constant('App\\Entity\\Catalog\\SparePart\\CatalogSparePartChoiceModel::ALL_MODELS_URL')}|merge(routeParams)) }}"><button class="button" type="button">Все модели {{ brand.name }}</button></a>

            <h2 class='city-subtitle' data-text="{{ page.headline2 }}"></h2>
            <div class='city-subtext'>{{ page.text2 | raw }}</div>
        </section>
    </main>

    {#{% set routeParams = app.request.attributes.get('_route_params') %}#}
    {#<main class="container" ng-init="showAll = false;">#}
        {#<section class="mod">#}
            {#<h1 class="mod-title">{{ page.headline1 }}</h1>#}
            {#<div class="mod-text">{{ page.text1 | raw }}</div>#}

            {#<div class='mod-search'>#}
                {#<form class='modform' action="" method="get">#}
                    {#<input id="model-autocomplete" class='form7' name="search"#}
                           {#auto-сomplete-autoparus add-url="{{ path(app.request.attributes.get('_route'), routeParams) }}"#}
                           {#method-search="searchModels" identifier-field="model-autocomplete"#}
                           {#request-parameters='{"brand": "{{ brand.url }}"}'#}
                           {#placeholder="Модель авто:" type="search" >#}
                {#</form>#}
                {#<a href="{{ path("show_spare_part_catalog_choice_city", {"urlModel" : constant('App\\Entity\\Catalog\\SparePart\\CatalogSparePartChoiceModel::ALL_MODELS_URL')}|merge(routeParams)) }}" class="mod-avto">Все модели {{ brand.name }}</a>#}
            {#</div>#}

            {#<ul class='showMoreModel' id='brandImg5' ng-show="showAll">#}
                {#{% for model in allModels %}#}
                    {#<li><a class="mod-link mod-link-line" href="{{ path("show_spare_part_catalog_choice_city", {"urlModel" : model.url}|merge(routeParams)) }}">#}
                            {#<span>{{ model.name }}<br>{{ model.modelRu }}</span>#}
                            {#<img src="{{ image_url(model.logo, "model") }}" alt="{{ brand.brandEn }} {{ model.modelEn }}" title="{{ sparePart.alternativeName1 }} для {{ brand.brandEn }} {{ model.modelEn }}">#}
                        {#</a>#}
                    {#</li>#}
                {#{% endfor %}#}
            {#</ul>#}
            {#<ul class='showMoreModel' id='brandImg5' ng-hide="showAll">#}
                {#{% for model in popularModels %}#}
                    {#<li>#}
                        {#<a class="mod-link mod-link-line" href="{{ path("show_spare_part_catalog_choice_city", {"urlModel" : model.url}|merge(routeParams)) }}">#}
                            {#<span>{{ model.name }}<br>{{ model.modelRu }}</span>#}
                            {#<img src="{{ image_url(model.logo, "model") }}" alt="{{ brand.brandEn }} {{ model.modelEn }}" title="{{ sparePart.alternativeName1 }} для {{ brand.brandEn }} {{ model.modelEn }}">#}
                        {#</a>#}
                    {#</li>#}
                {#{% endfor %}#}
            {#</ul>#}

            {#<div id='showAll4' ng-hide="showAll" ng-click="showAll = true">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</div>#}
            {#<div id='showAll4' ng-show="showAll" ng-click="showAll = false">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</div>#}

            {#<h2 class='mod-subtitle'>{{ page.headline2 }}</h2>#}

            {#<div class='mod-text-b'>{{ page.text2 | raw }}</div>#}
        {#</section>#}
    {#</main>#}
{% endblock %}