{% extends 'base.html.twig' %}
{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href='/css/client/catalog/spare-part/final-page.css'>
{% endblock %}

{% block body %}
    {% set routeParams = app.request.attributes.get('_route_params') %}

    <main class="container">
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="{{ path("homepage") }}" title="Автопарус.бай" itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
           
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_spare_part_catalog_choice_spare_part") }}" itemprop="item" title="Запчасти для автомобилей"><span class="line">/</span> <span itemprop="name">Запчасти</span></a><meta itemprop="position" content="2"></li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_spare_part_catalog_choice_brand", {"urlSP" : sparePart.url}) }}" itemprop="item" title="{{ sparePart.name }}"><span class="line">/</span> <span itemprop="name">{{ sparePart.alternativeName5 }}</span><meta itemprop="position" content="3"></a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_spare_part_catalog_choice_model", {"urlSP" : sparePart.url, "urlBrand" : brand.url}) }}" itemprop="item" title="{{ sparePart.alternativeName1 }} для автомобилей {{ brand.brandEn }}"><span class="line">/</span> <span itemprop="name">{{ brand.brandEn }}</span><meta itemprop="position" content="4"></a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                {% set modelUrl = model ? model.url : constant('App\\Entity\\Catalog\\SparePart\\CatalogSparePartChoiceModel::ALL_MODELS_URL') %}
                <a class="link-b" href="{{ path("show_spare_part_catalog_choice_city", {"urlSP" : sparePart.url, "urlBrand" : brand.url, "urlModel" : modelUrl}) }}" itemprop="item" title="{{ sparePart.alternativeName1 }} для {{ brand.brandEn }} {{ model ? model.modelEn : "" }}"><span class="line">/</span> <span itemprop="name">{{ model ? model.modelEn : "Все модели" }}</span> <span class="line">/</span><meta itemprop="position" content="5"></a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-b" href="{{ path("show_spare_part_catalog_in_stock", routeParams) }}" itemprop="item" title="{{ sparePart.alternativeName1 }} для автомобилей {{ brand.brandEn }} {{ model ? model.modelEn : "" }} {{ city ? city.name : "" }}"><span itemprop="name">{{ city ? city.name : "Все города" }}</span> <span class="line">/</span><meta itemprop="position" content="6"></a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" nohref itemprop="item"><span itemprop="name"> В наличии</span><meta itemprop="position" content="7"></a>
            </li>
        </ul>

        <section class="year">
            <h1 class="year-title">{{ page.headline1 }}</h1>
            <div class='year-desc'>
                <div id='text1' class='text1Hide'>{{ page.text1 | raw }}</div>
                <span onclick='text1ShowHide()' id='allText'> &gt;&gt;&gt;&gt;&gt;&gt;&gt; </span>
            </div>
            <a href="{{ page.returnButtonLink }}"><button class="button">{{ page.returnButtonText | raw }}</button></a>

            {% set templateParameters = {"brand" : brand, "sparePart" : sparePart} %}
            {% set templateParameters = city ? templateParameters|merge({"city" : city}) : templateParameters %}
            {% set templateParameters = model ? templateParameters|merge({"model" : model}) : templateParameters %}

            {% include('/client/catalog/show-adverts/show-specific-adverts.html.twig') with {"adverts" : specificAdverts, "titleTemplate" : "[ZAP3] для [BRAND] [MODEL]", "templateParameters" : templateParameters} %}
            {% include('/client/catalog/show-adverts/show-general-adverts.html.twig') with {"adverts" : generalAdverts, "titleTemplate" : "[ZAP3] для [BRAND] [MODEL]", "templateParameters" : templateParameters} %}

            {% set hasOurAdverts = specificAdverts | length > 0 or generalAdverts | length > 0 %}
            {% set hasBamberAdverts = bamberSuggestions | length > 0 %}

            {% if not city or city.url == constant('App\\Entity\\City::CAPITAL') %}
                {% include('/client/catalog/show-adverts/show-bamper-adverts.html.twig') with {"adverts" : bamberSuggestions, "hasOurAdverts" : hasOurAdverts, "parameters" : templateParameters} %}
            {% else %}
                {% set params = routeParams|merge({'urlCity': constant('App\\Entity\\City::ALL_CITIES')}) %}
                <a href="{{ path(app.request.attributes.get('_route'), params) }}"><button class="arrows-btn">Показать Все города</button></a>
            {% endif %}

            {% if not hasOurAdverts and not hasBamberAdverts %}
                <div class="text-item">{{ page.text3 | raw }}</div>
            {% endif %}
            <h2 class='year-subtitle'>{{ page.headline2 }}</h2>
            <div class='year-subtext'>{{ page.text2 | raw }}</div>
            <a href="{{ page.returnButtonLink }}"><button class="un-btn">{{ page.returnButtonText | raw }}</button></a>
        </section>
    </main>

    {% include('/client/catalog/show-adverts/advert-modals.html.twig') with {} %}
{% endblock %}

{% block javascripts %}
    <script src="/js/client/controller/catalog/integration-ads-controller.js"></script>
    <script src="/js/client/pages/catalog/seller-advert-actions.js"></script>
{% endblock %}