<section class="art-block">
    <h2 class="art-title">Новые публикации</h2>
    <ul class="art-list">
        {% for article in articles %}
            <li>
                <a href="{{ path("article_catalog_show_article", {"urlTheme" : article.detail.themes.first.url, "id" : article.id}) }}" class="article-link">
                    <h3 class="article-title">{{ article.headline1 }}</h3>
                    <div class="article-foto">
                        <img src="{{ image_url(article.mainArticleImage.imageThumbnail) }}" alt="Картинка">
                    </div>
                    <h4 class="article-subtitle add-three-dots-3-lines">{{ article.headline2 }}</h4>
                    <div class="article-block">
                        <span class="article-date">{{ article.updatedAt | date("d.m.Y") }}</span>
                        <span class="article-time">{{ article.updatedAt | date("H:i") }}</span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</section>