{% extends 'base.html.twig' %}

{% block stylesheets %}
    {#<link rel='stylesheet' href='/libs/owl.carousel/owl.carousel.css'>#}
    {#<link rel='stylesheet' href='/libs/owl.carousel/owl.theme.css'>#}
    {#<link rel='stylesheet' href='/libs/owl.carousel/owl.transitions.css'>#}
    <link rel='stylesheet' href='/bower-components/slick-carousel/slick/slick.css'>
    <link rel='stylesheet' href='/bower-components/slick-carousel/slick/slick-theme.css'>
    <link rel='stylesheet' href='/css/user-office/user-office.css'>
{% endblock %}

{% block body %}
    <div ng-controller="PostsCtrl as posts" ng-init="posts.init('#dialog-cropper-container-gallery', '#dialog-cropper-container-post-photo', true)">
    {% set isSeller = app.user.isSeller() %}
    {% if isSeller %}
        {% set countSparePartGeneralAdverts = app.user.sellerData.advertDetail.autoSparePartGeneralAdverts | length %}
        {% set countSparePartSprecificAdverts = app.user.sellerData.advertDetail.autoSparePartSpecificAdverts | length %}
    {% endif %}
    {% set isHasAdverts = isSeller and (countSparePartGeneralAdverts + countSparePartSprecificAdverts) > 0 %}
    <main class="container">
        <div class="profil">
            <div class="heading">
                <div class="profil-items profil-items--left user-info--line">
                    <div class="user-info">
                        <div class="user-logo-left" user-upload-link link-selector="#user-photo-link"
                             input-selector="#user-photo-input" img-selector="#user-photo"
                             action-url="{{ path("user_office_upload_user_photo_ajax") }}"
                             cropper-container="#dialog-cropper-container" image-width="320" image-height="320">
                            <div class="foto-user-left">
                                <img id="user-photo" src="{{ image_url(app.user.photo, "user") }}" alt="Автолюбители" class="foto-left">
                            </div>
                            <a id="user-photo-link" href="" class="user-link-left us-btn">
                                <svg fill="#444" viewBox="0 0 24 24" width="16px" height="16px">
                                    <path d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z "/>
                                </svg>
                            </a>

                            <input id="user-photo-input" type="file" style="display: none">
                        </div>
                        <div class="user-wrapper">
                            <a href="{{ path("show_user_base_profile") }}" class="button-rp">{{ app.user.isProfileEdited() ? "Редактировать" : "Заполнить" }} персональный профиль</a>
                            <ul class="user-about">
                                {% for car in app.user.cars %}
                                    <li>
                                        <a class="user-avto" href="#" data-text="{{ car.brand.name }} {{ car.model ? car.model.modelEn : '' }}{{ car.year ? ', ' ~ car.year : '' }}"></a>
                                        {#<button  class="btn-p m-show">#}
                                            {#<span class="points"></span>#}
                                            {#<span class="points"></span>#}
                                            {#<span class="points"></span>#}
                                        {#</button>#}
                                    </li>
                                {% endfor %}
                            </ul>
                            <button class="btn-uni" type="button"
                                    onclick="document.getElementById('trigger-edit-gallery-photo').click()"
                                    ng-click="posts.activePost = posts.getNewPost()">Добавить фото в историю</button>
                        </div>
                    </div>
                    <a class="user-name">{{ app.user.name }}</a>
                </div>

                <div class="profil-items">
                    <div class="user-info user-info-r">
                        {% if isSeller %}
                            <div class="user-logo user-logo-r" user-upload-link
                                 link-selector="#business-profile-photo-link"
                                 input-selector="#business-profile-photo-input" img-selector="#business-profile-photo"
                                 action-url="{{ path("user_office_upload_business_profile_photo_ajax") }}"
                                 cropper-container="#dialog-cropper-container">
                                <div class="foto-user-wrapper">
                                    <img id="business-profile-photo" src="{{ app.user.sellerData.photo ? image_url(app.user.sellerData.photo) : image_url(default_image(3).image) }}" alt="Автолюбители" class="foto-user">
                                </div>
                                <a id="business-profile-photo-link" href="" class="user-link us-btn user-link-r">
                                    <svg fill="#444" viewBox="0 0 24 24" width="16px" height="16px">
                                        <path d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z "/>
                                    </svg>
                                </a>

                                <input id="business-profile-photo-input" type="file" style="display: none">
                            </div>
                            <div class="user-edit">
                                {% if app.user.hasRole(constant('App\\Entity\\User::ROLE_ADMIN_ARTICLE_WRITER')) %}
                                    <a class="button-rp" href="{{ path("sonata_admin_dashboard") }}">Админка статей и публикаций</a>
                                {% endif %}
                                <a href="{{ path("show_user_business_office") }}" class="button-rp">{{ isSeller ? "Редактировать" : "Создать" }} бизнес профиль</a>
                                {% if app.user.sellerData %}
                                    <ul class="btn-block">
                                        {% if app.user.sellerData.sellerCompany.isSparePartSeller%}
                                            <li>
                                                <a class="user-btn" href="{{ path("user_profile_product_categories_spare_part") }}" data-text="Авто - мото запчасти"></a>
                                                <a href="{{ path("user_profile_product_categories_spare_part") }}">
                                                    <button class="btn">Добавить объявление</button>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if app.user.sellerData.sellerCompany.isAutoSeller %}
                                            <li>
                                                <a class="user-btn" href="{{ path("user_profile_product_categories") }}" data-text="Авто - мото транспорт"></a>
                                                <a href="{{ path("user_profile_product_categories") }}">
                                                    <button class="btn">Добавить объявление</button>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if app.user.sellerData.sellerCompany.isService %}
                                            <li>
                                                <a class="user-btn" data-text="СТО - Автосервисы "></a>
                                                <button class="btn">Добавить объявление</button>
                                            </li>
                                        {% endif %}
                                        {% if app.user.sellerData.sellerCompany.isNews %}
                                            {#<li>#}
                                                {#<a class="user-btn" data-text="Новости / Статьи"></a>#}
                                                {#<button class="btn">Добавить статью</button>#}
                                            {#</li>#}
                                        {% endif %}
                                    </ul>
                                {% endif %}
                                <button class="btn-bis" type="button"
                                        onclick="document.getElementById('trigger-edit-gallery-photo').click()"
                                        ng-click="posts.activePost = posts.getNewPost('business')"
                                >Добавить бизнес пост</button>
                            </div>
                        {% endif %}
                    </div>
                    <a class="user-company">{{ app.user.sellerData ? app.user.sellerData.sellerCompany.companyName : "" }}</a>
                </div>
            </div>
        </div>

        <div class="choice">
            <ul class="choice-block">
                <li>
                    <a id="user-map-link" style="display: none;" class="icon" href="">
                        <i class="fa fa-map-o" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    {% set businessLinkId = not isSeller ? "initiator-open-popup7" : "initiator-open-popup6" %}
                    <a id="{{ businessLinkId }}" class="icon us-btn5 open-popup-button" nohref>
                        <i class="fa fa-suitcase"></i>
                        <span>{{ isHasAdverts ? "Мои объявления" : "Business" }}</span>
                    </a>
                </li>
                <li>
                    <a class="icon" href="" onclick="document.getElementById('trigger-edit-gallery-photo').click()" ng-click="posts.activePost = posts.getNewPost()">
                        <i class="fa fa-camera"></i>
                        <span>Фотогалерея</span>
                    </a>
                </li>
                <li>
                    <a id="create-new-post" onclick="document.getElementById('trigger-edit-gallery-photo').click()" ng-click="posts.activePost = posts.getNewPost()" class="icon icon-plus us-btn" href="">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    </a>

                    <input id="trigger-edit-gallery-photo" type="file" style="display: none" custom-on-change="posts.editPost">
                    <input id="trigger-edit-post-photo" type="file" style="display: none" custom-on-change="posts.addPostPhoto">
                </li>
            </ul>
        </div>

        <ul class="items">
            <li ng-repeat="post in posts.posts | orderObjectBy:'id':true" class="user-item {[{post.id}]}" ng-cloak>
                <div class="tool">
                    <button class="btn-point open-popup-button" data-popup-id="7" type="button">
                        <span class="points"></span>
                        <span class="points"></span>
                        <span class="points"></span>
                    </button>
                    <a href="" class="tool-rdc us-btn2 gallery-photo" ng-click="posts.activePost = post; posts.editPost()" ng-show="post.images.length === 1">
                        <span class="item-1">Редактировать</span>
                        <img src="/img/cra.png" alt="Редактировать">
                    </a>
                    <a href="" class="tool-close us-btn4 open-popup-button" data-popup-id="5" ng-click="posts.activePost = post">
                        <span class="item-1">Удалить</span>
                        <img src="/img/trash-can.svg" alt="Удалить">
                    </a>
                </div>

                <div class="prod">
                    <div class="img-block post-images-{[{post.id}]}" carousel-element data-post-id="{[{post.id}]}" data-move-slide="{[{ post.moveSlide ? post.moveSlide : 0 }]}">
                        <div class="img-block" carousel-item data-photo-id="{[{image.id}]}" ng-repeat="image in post.images" ng-cloak>
                            <img class="prod-foto gallery-photo-image" ng-src="{[{ image.path }]}"  alt="">

                            <span class="item-img" data-text="{[{$index + 1}]} / {[{post.images.length}]}" ng-show="post.images.length > 1"></span>

                            <button class="select-img" style="right: 40px;" type="button" ng-click="posts.activePost = post; posts.editPost(image.id)" ng-show="post.images.length > 1">
                                <svg fill="#444" viewBox="0 0 24 24" width="20px" height="20px">
                                    <path d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z "></path>
                                </svg>
                            </button>
                            <button class="select-img" type="button" ng-click="posts.activePost = post;" onclick="document.getElementById('trigger-edit-post-photo').click()" ng-show="post.images.length > 1">
                                <svg fill="#444" viewBox="0 0 24 24" width="16px" height="16px">
                                    <path d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z "></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    
                    <div class="prod-content">
                    <button class="btn-sel btn--m" type="button" ng-click="posts.activePost = post;" onclick="document.getElementById('trigger-edit-post-photo').click()">
                        <svg x="0px" y="0px" viewBox="0 0 50 50" width="18px" height="18px">
                            <line fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="13" y1="25" x2="37" y2="25"></line>
                            <line fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="25" y1="13" x2="25" y2="37"></line>
                            <circle fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" cx="25" cy="25" r="22"></circle>
                        </svg> Добавить еще фото
                    </button>
                    <button class="btn-sel btn--m" type="button" ng-init="posts.openChangeHeadline[post.id] = false;" ng-click="posts.openChangeHeadline[post.id] = true;" ng-hide="posts.openChangeHeadline[post.id]">
                        <svg x="0px" y="0px" viewBox="0 0 50 50" width="18px" height="18px">
                            <line fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="13" y1="25" x2="37" y2="25"></line>
                            <line fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="25" y1="13" x2="25" y2="37"></line>
                            <circle fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" cx="25" cy="25" r="22"></circle>
                        </svg> <span ng-bind="post.headline ? 'Редактировать заголовок' : 'Создать заголовок'"></span>
                    </button>
                    <h2 class="prod-title" ng-bind="post.headline" ng-hide="posts.openChangeHeadline[post.id]"></h2>
                    <input class="input-title" type="text" ng-model="post.headline" ng-show="posts.openChangeHeadline[post.id]" placeholder="Заголовок">
                    <button class="input-btn" ng-show="posts.openChangeHeadline[post.id]" ng-click="posts.savePostHeadline(post)" >Сохранить</button>
                        <div class="text-block">
                            <pre id='text' class='text' show-more-lines class-less="texthide" class-more="textshow" count-lines="3" trigger-open=".open-more-lines-button-{[{post.id}]}" trigger-close=".close-more-lines-button-{[{post.id}]}" ng-bind="post.description"></pre>
                            <button id='button-t' class="open-more-lines-button-{[{post.id}]}" style="display: none;">&gt;&gt;&gt;&gt;&gt;&gt;&gt;</button>
                            <button id='button-t' class="close-more-lines-button-{[{post.id}]}" style="display: none;">&lt;&lt;&lt;&lt;&lt;&lt;&lt;</button>
                        </div>
                        <div class="adress">
                            <p class="adress-text">
                                <svg class="adress-text-img" width="18" height="18" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="red" d="M25 47.7741L24.2284 46.6575C23.6481 45.8166 10 25.9678 10 18C10 9.72938 16.7294 3 25 3C33.2706 3 40 9.72938 40 18C40 25.9678 26.3519 45.8166 25.7716 46.6575L25 47.7741ZM25 4.875C17.7625 4.875 11.875 10.7625 11.875 18C11.875 24.3628 22.0797 40.0828 25 44.4506C27.9203 40.0828 38.125 24.3628 38.125 18C38.125 10.7625 32.2375 4.875 25 4.875Z"/>
                                    <path fill="red" d="M25 24.5625C21.3822 24.5625 18.4375 21.6188 18.4375 18C18.4375 14.3813 21.3822 11.4375 25 11.4375C28.6178 11.4375 31.5625 14.3813 31.5625 18C31.5625 21.6188 28.6178 24.5625 25 24.5625ZM25 13.3125C22.4153 13.3125 20.3125 15.4153 20.3125 18C20.3125 20.5847 22.4153 22.6875 25 22.6875C27.5847 22.6875 29.6875 20.5847 29.6875 18C29.6875 15.4153 27.5847 13.3125 25 13.3125Z"/>
                                </svg>
                                {#<span class="gallery-photo-address">Беларусь, Минск, Минская область</span>#}
                            </p>
                            <p class="adress-text-city" ng-bind="post.address"></p>
                        </div>
                        {% include('/client/user-office/parts/cars-for-gallery-angular.html.twig') %}
                        <div class="date">
                            <span ng-bind="post.date"></span>
                            <span class="time" ng-bind="post.time"></span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="sail-f">
            <img src="/img/windsurfing.png" alt="Парус">
            <img src="/img/windsurfing.png" alt="Парус">
            <img src="/img/windsurfing.png" alt="Парус">
            <img src="/img/windsurfing.png" alt="Парус">
            <img src="/img/windsurfing.png" alt="Парус">
        </div>

    </main>

    <div id="dialog-cropper-container" class="overlay1">
        <section id="cropper-modal" class="modal1">
            <div class="modal-header">
                <button class="button-home cancel-button-cropper-dialog button-home-left"><img src="/img/left-arrow1.png" alt="Назад"> <span> Назад</span></button>
                <h2 class="button-title" data-text="Редактирование"></h2>
                <button class="button-home save-button-cropper-dialog us-btn1 button-home-right"><span>Сохранить </span> <img src="/img/right-arrow1.png" alt="Далее"></button>
            </div>

            <div id="image-preview-container" class="img-cont cropper-container">
                <img class="modal-img" src="" alt="Фото" style="display: none">
            </div>
        </section>
    </div>

    <div id="dialog-cropper-container-gallery" class="overlay overlay3">
        <section class="modal3">
            <div class="modal-header">
                <button id="gallery-photo-cancel" class="button-home button-home-left cancel-button-cropper-dialog"><img src="/img/left-arrow1.png" alt="Назад"> <span> Назад</span></button>
                <h2 class="button-title" data-text="Редактирование"><span data-text="изображения"></span></h2>
                <button class="button-home us-btn3 button-home-right move-to-popup" data-popup="4"><span>Далее </span> <img src="/img/right-arrow1.png" alt="Далее"></button>
            </div>

            <div id="image-preview-container-gallery" class="img-cont cropper-container">
                <img class="modal-img" src="" alt="Фото" style="display: none">
            </div>
            <button class="button-cl" type="button" ng-click="posts.closeModals();" onclick="document.getElementById('trigger-edit-gallery-photo').click()"><span>Изменить изображение </span></button>
        </section>
    </div>

    <div id="dialog-cropper-container-gallery2" class="overlay overlay4">
        <section class="modal4">
            <div class="modal-header">
                <button class="button-home button-home-left move-to-popup" data-popup="3"><img src="/img/left-arrow1.png" alt="Назад"> <span> Назад</span></button>
                <h2 class="button-title" data-text="Комментарий / Пост"><span></span></h2>
                <button id="gallery-photo-save" class="button-home button-home-right save-button-cropper-dialog"><span>Опубликовать </span> <img src="/img/right-arrow1.png" alt="Далее"></button>
            </div>
            <textarea id="gallery-photo-description" name="text" rows="10" placeholder="Текст коментария / поста" ng-model="posts.activePost.description"></textarea>
            <div id="microphone-image" class="mike-img">
                    <svg fill="red" viewBox="0 0 40 59.5" width="20" height="40">
                        <path d="M50,18.7v6.59A20.16122,20.16122,0,0,1,32.5,45.34V54.5h7a2.5,2.5,0,0,1,0,5h-19a2.5,2.5,0,1,1,0-5h7V45.34A20.16122,20.16122,0,0,1,10,25.29V18.7a2.705,2.705,0,0,1,5.41,0v6.59a14.5909,14.5909,0,1,0,29.18006,0V18.7a2.705,2.705,0,0,1,5.41,0Z" transform="translate(-10 0)"/>
                        <rect x="11.5" width="17" height="32" rx="10.49999" ry="10.49999"/>
                    </svg>
                </div>
            {#<button class="button-cl button-close1"><span>Закрыть без сохранения </span></button>#}
        </section>
    </div>

    <div id="dialog-cropper-container-post-photo" class="overlay overlay8">
        <section class="modal3">
            <div class="modal-header">
                <button id="post-photo-cancel" class="button-home button-home-left cancel-button-cropper-dialog"><img src="/img/left-arrow1.png" alt="Назад"> <span> Назад</span></button>
                <h2 class="button-title" data-text="Редактирование"><span data-text="изображения"></span></h2>
                <button class="button-home us-btn3 button-home-right save-button-cropper-dialog"><span>Опубликовать </span> <img src="/img/right-arrow1.png" alt="Опубликовать"></button>
            </div>

            <div id="image-preview-container-post-photo" class="img-cont cropper-container">
                <img class="modal-img" src="" alt="Фото" style="display: none">
            </div>
            <button class="button-cl" type="button" ng-click="posts.closeModals();" onclick="document.getElementById('trigger-edit-post-photo').click()"><span>Изменить изображение </span></button>
        </section>
    </div>

    <div id="popup5" class="overlay5">
        <div class="modal5">
            <section class="del">
                <h3 class="del-title" data-text="Подтверждение удаления"></h3>
                <p class="del-subtitle">Вы действительно хотите удалить выбранный элемент?</p>
                <ul class="del-btn">
                    <li>
                        <a class="btn-m btn-red" href="" ng-click="posts.removePost()">
                            <span>Да, Удалить</span><img src="/img/trash-can.svg" alt="icon">
                        </a>
                    </li>
                    <li class="btn-o">
                        <a id="close-popup-5" class="btn-m btn-gray close-popup-button" data-popup-id="5" href="">Отменить удаление</a>
                    </li>
                    <li class="btn-edit">
                        <a class="btn-m btn-green close-popup-button" data-popup-id="5" href="" ng-click="posts.editPost()">
                            <span>Редактировать</span><img src="/img/cra.png" alt="icon">
                        </a>
                    </li>
                </ul>
                <p class="del-subtitle">В случае удаления элемент будет удален из базы без возможности восстановления</p>

            </section>
        </div>
    </div>

    {% if not isSeller %}
        <div id="popup7" class="overlay4">
            <section class="modal4">
                <button id="initiator-close-popup7" class="modal-close close-popup-button" type="button">
                    <svg  x="0px" y="0px" width="25px" height="25px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                        <line fill="none" stroke="#727272" stroke-width="4" stroke-miterlimit="10" x1="7.741" y1="7.741" x2="42.359" y2="42.359"/>
                        <line fill="#none" stroke="#727272" stroke-width="4" stroke-miterlimit="10" x1="42.258" y1="7.742" x2="7.618" y2="42.382"/>
                    </svg>
                </button>
                <h2 class="modal-title">{{ default_text(13).headline }}</h2>
                <div class="modal-text">{{ default_text(13).text | raw }}</div>
                <a href="{{ path("show_user_business_office") }}"><button type="button" class="btn-m">Создать Business профиль</button></a>
            </section>
        </div>
    {% endif %}

    {% if isSeller %}
        <div id="popup6" class="overlay6">
            <section class="modal6">
                <div class="modal-header">
                    <button id="initiator-close-popup6" class="button-home button-home-left close-popup-button">
                        <img src="/img/left-arrow1.png" alt="Назад">
                        <span> Назад</span>
                    </button>
                    <h3 class="button-title" data-text="Мои объявления"></h3>
                    <button class="button-home button-home-right close-popup-button" data-popup-id="6">
                        <span>Вперед </span>
                        <img src="/img/right-arrow1.png" alt="Далее">
                    </button>
                </div>
                <div class="block-modal">
                    <h4 class="button-title-m">{{ default_text(40).headline }}</h4>

                    <ul class="list">
                        <li><a href="{{ isHasAdverts ? path("user_profile_product_categories_spare_part_list_adverts") : path("user_profile_product_categories_spare_part_add_general_advert") }}" class="user-btn" data-text="Авто-мото запчасти"></a><span class="number">( {{ countSparePartGeneralAdverts }} / {{ countSparePartSprecificAdverts }} )</span></li>
                        <li><a href="#"  class="user-btn user-btn-m" data-text="Авто-мото транспорт"></a><span class="number">( 0 / 0 )</span></li>
                        <li><a href="#"  class="user-btn user-btn-m" data-text="Услуги / СТО / Сервисы"></a><span class="number">( 0 / 0 )</span></li>
                        {#<li><a href="#"  class="user-btn user-btn-m" data-text="Туризм / Путешествия"></a><span class="number">( 56 )</span></li>#}
                        {#<li><a href="#"  class="user-btn user-btn-m" data-text="Новости / Статьи"></a><span class="number">( 24 )</span></li>#}
                    </ul>

                    <div class="modal-text">{{ default_text(40).text | raw }}</div>
                </div>
                {#<button class="button-cl button-close6"><span>Закрыть </span></button>#}
            </section>
        </div>
    {% endif %}

    <div class="overlay7" id="popup7">
        <section class="modal7">
            <div class="modal-header1">
                <button class="button-home close-popup-button" data-popup-id="7" type="button">
                    <img src="/img/left-arrow1.png" alt="Назад">
                    <span> Назад</span>
                </button>
                <h3 class="button-title" data-text="Autoparus.by"></h3>
               
                <button class="button-home close-popup-button" data-popup-id="7" type="button">
                    <span>Вперед </span>
                    <img src="/img/right-arrow1.png" alt="Далее">
                </button> 
            </div>
            <div class="block-modal">
                <h4 class="button-title-m">{{ default_text(49).headline }}</h4>

                <div class="modal-text">{{ default_text(49).text | raw }}</div>
            </div>
            <button class="button-cl close-popup close-popup-button" data-popup-id="7"><span>Закрыть</span></button>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script src='/js/client/directive/user-profile/post-photos-owl-carousel.js'></script>
    <script src='/js/client/pages/user-profile/user-office.js'></script>
    <script src='/js/client/controller/user-profile/posts-controller.js'></script>
    <script src='/js/client/filter/order-object-by.js'></script>
{% endblock %}